<app-header>
  <div fxLayout fxLayoutAlign="space-between stretch">
    <div fxHide.lt-sm fxLayout fxLayoutGap="1rem">
      <span><mat-icon>people</mat-icon></span>
      <div>{{ user?.username }}</div>
    </div>
  </div>
</app-header>

<div class="container">
  <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="1rem" class="my-5">
    <mat-card *ngIf="user" fxFlex.gt-md="25" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center">
      <img mat-card-image [src]="user?.avatarUrl" class="mt-4 mx-auto mb-3" alt="Dockstore avatar" />
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title class="accent-1-dark">{{ user?.username }}</mat-card-title>
        <mat-card-subtitle class="text-break" class="accent-1-dark">
          <span *ngIf="gitHubProfile?.bio">
            {{ gitHubProfile.bio }}
          </span>
          <a *ngIf="gitHubProfile?.link" rel="noopener noreferrer" href="{{ gitHubProfile?.link }}" target="_blank">
            {{ gitHubProfile.link }}
          </a>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <div fxLayout="column" fxLayoutGap="1rem" fxFlex>
      <!-- GitHub -->
      <mat-card *ngIf="gitHubProfile" class="h-100">
        <mat-card-content fxLayout fxLayoutAlign="start center">
          <div mat-card-avatar matBadge="✓" class="mr-4">
            <img src="../../assets/images/account-logos/github.svg" alt="GitHub logo" class="w-100" />
          </div>
          <mat-card-title-group fxLayoutAlign="space-between center">
            <mat-card-title>GitHub Account</mat-card-title>
            <mat-card-subtitle class="accent-1-dark" fxLayout.lt-md="column" fxLayoutGap="1rem">
              <span *ngIf="gitHubProfile.name"
                >Account Name: <span>{{ gitHubProfile.name }}</span></span
              >
              <span>
                Username:
                <a href="https://github.com/{{ gitHubProfile.username }}" target="_blank">
                  <span>{{ gitHubProfile.username }}</span>
                </a>
              </span>
              <span *ngIf="loggedInUserIsAdminOrCurator">
                <button
                  matTooltip="View the user's GitHub App Logs"
                  mat-stroked-button
                  class="private-btn"
                  (click)="openGitHubAppsLogs(user.id)"
                  data-cy="user-app-logs-button"
                >
                  Apps Logs
                </button>
              </span>
            </mat-card-subtitle>
            <img mat-card-avatar [src]="gitHubProfile.avatarURL" alt="GitHub avatar" />
          </mat-card-title-group>
        </mat-card-content>
        <mat-divider *ngIf="!user?.orcid && !googleProfile" class="mt-2"></mat-divider>
        <mat-card-actions *ngIf="!user?.orcid && !googleProfile" [align]="'end'">
          <a href="https://github.com/{{ gitHubProfile?.username }}" target="_blank">
            <button mat-flat-button class="accent-1-dark small-btn-structure">
              <mat-icon class="mat-icon-sm">open_in_new</mat-icon>
              View
            </button>
          </a>
        </mat-card-actions>
      </mat-card>
      <!-- ORCID -->
      <mat-card *ngIf="user?.orcid" class="h-100">
        <mat-card-content fxLayout fxLayoutAlign="start center">
          <div mat-card-avatar matBadge="✓" class="mr-4">
            <img src="../../assets/images/account-logos/orcid.svg" alt="ORCID logo" />
          </div>
          <mat-card-title-group>
            <mat-card-title>ORCID Account</mat-card-title>
            <mat-card-subtitle class="accent-1-dark">
              <a href="https://orcid.org/{{ user.orcid }}" target="_blank">
                <span class="weight-bold">https://orcid.org/{{ user?.orcid }}</span>
              </a>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-content>
      </mat-card>
      <!-- Google -->
      <mat-card *ngIf="googleProfile" class="h-100">
        <mat-card-content fxLayout fxLayoutAlign="start center">
          <div mat-card-avatar matBadge="✓" class="mr-4">
            <img src="../../assets/images/account-logos/google.svg" alt="Google logo" class="w-100" />
          </div>
          <mat-card-title-group fxLayout fxLayoutAlign="space-between center">
            <mat-card-title>Google Account</mat-card-title>
            <mat-card-subtitle class="accent-1-dark">
              <span>Account Name: {{ googleProfile.name }}</span>
            </mat-card-subtitle>
            <img mat-card-avatar [src]="googleProfile.avatarURL" alt="Google avatar" />
          </mat-card-title-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-tab-group class="pb-5 purple-tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayoutGap="0.5rem">
          <mat-icon>restore</mat-icon>
          <span>Activity</span>
        </div>
      </ng-template>
      <div class="p-2">
        <!-- Note: this is currently a placeholder until a new endpoint is created to retrieve user specific recent events and not just your own -->
        <app-recent-events></app-recent-events>
      </div>
    </mat-tab>
    <mat-tab *ngIf="loggedInUserIsAdminOrCurator">
      <ng-template mat-tab-label>
        <div fxLayoutGap="0.5rem">
          <span>Other Linked Accounts</span>
        </div>
      </ng-template>
      <div class="w-100">
        <div *ngIf="otherLinkedAccountsInfo.length === 0">
          <mat-card appearance="outlined" class="alert alert-info" role="alert" data-cy="no-other-linked-accounts-banner">
            <mat-card-content> This user has no other linked accounts. </mat-card-content>
          </mat-card>
        </div>
        <div *ngFor="let row of otherLinkedAccountsInfo" class="p-3" fxFlex.lt-md="100">
          <mat-card [attr.data-cy]="'other-linked-accounts-' + row.name">
            <mat-card-content fxLayout fxLayoutAlign="start center">
              <div mat-card-avatar matBadge="✓" class="mr-4">
                <img src="../../assets/images/account-logos/{{ row.logo }}" alt="{{ row.name }} logo" class="w-100" />
              </div>
              <mat-card-title-group>
                <mat-card-title>{{ row.name }} Account</mat-card-title>
                <mat-card-subtitle class="accent-1-dark" [attr.data-cy]="row.name + '-username'">
                  <span>Username: {{ row.username }}</span>
                </mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <!-- TODO: Comment back in once we have the required resources to display user specific tools, workflows etc. -->
    <!-- When commented back in, also add mat-stretch-tabs to the tab-group -->
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayoutGap="0.5rem">
          <img src="../../../assets/svg/sub-nav/workflow.svg" alt="workflow logo" />
          <span>Workflows</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayoutGap="0.5rem">
          <img src="../../../assets/svg/sub-nav/tool.svg" alt="workflow logo" />
          <span>Tools</span>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayoutGap="0.5rem">
          <img src="../../../assets/svg/sub-nav/organization.svg" alt="workflow logo" />
          <span>Organizations</span>
        </div>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>
</div>
