@use '@angular/material' as mat;

@import '/src/materialColorScheme.scss';

mat-card > img[mat-card-image] {
  border-radius: 50%;
  border: solid 1px mat.get-color-from-palette($dockstore-app-gray, 4);
  width: 60%;
  max-width: 18rem;
}

img[alt='GitHub avatar'],
img[alt='Google avatar'] {
  width: 5rem;
  border-radius: 50%;
  border: solid 1px mat.get-color-from-palette($dockstore-app-gray, 4);
}

.mat-card-header .mat-card-title {
  font-size: 1.6rem;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  background: $accent-3-dark;
}

.text-center-align {
  text-align: center;
}

.mat-icon:not(.mat-icon-sm) {
  font-size: 2.2rem;
  color: mat.get-color-from-palette($dockstore-app-accent-1, darker);
}

// Grey out tab labels
:host ::ng-deep .mat-tab-label img {
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(50%) sepia(42%) saturate(0%) hue-rotate(238deg) brightness(88%) contrast(90%);
}

// Active tab labels
:host ::ng-deep .mat-tab-label.mat-tab-label-active {
  opacity: 1;

  img {
    filter: none;
  }
}
