<div class="mt-timeline">
  <div id="mt-body" role="feed" class="mt-body">
    <article
      *ngFor="let data of timelineData"
      class="mt-toot"
      data-cy="mt-toot"
      aria-posinset="1"
      aria-setsize="2"
      [attr.data-location]="data.postUrl"
      tabindex="0"
    >
      <a
        *ngIf="data.reblogAccountAvatar === null"
        [href]="data.accountUrl"
        class="mt-avatar"
        [ngStyle]="{ 'background-image': 'url(' + data.accountAvatar + ')' }"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <span class="visually-hidden">dockstore avatar</span>
      </a>
      <a
        *ngIf="data.reblogAccountAvatar"
        [href]="data.accountUrl"
        class="mt-avatar mt-avatar-boosted"
        [ngStyle]="{ 'background-image': 'url(' + data.reblogAccountAvatar + ')' }"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <div class="mt-avatar mt-avatar-booster" [ngStyle]="{ 'background-image': 'url(' + data.accountAvatar + ')' }"></div>
        <span class="visually-hidden">dockstore avatar</span></a
      >
      <div class="mt-user">
        <a [href]="data.accountUrl" rel="nofollow noopener noreferrer" target="_blank"
          >{{ data.accountUsername }}<span class="visually-hidden"> post</span></a
        >
      </div>
      <div class="toot-text">
        <div [innerHTML]="data.postContent"></div>
      </div>
      <div class="toot-media" *ngIf="data.mediaContent.length > 0">
        <img
          *ngFor="let picid of data.mediaContent"
          src="{{ data.mediaContent[picid].preview_url }}"
          alt="{{ data.mediaContent[picid].description }}"
        />
      </div>
      <a *ngIf="data.previewLink" [href]="data.previewLink['url']" class="toot-preview-link" target="_blank" rel="noopener noreferrer">
        <div *ngIf="!data.previewLink['image']" class="toot-preview-noImage">📄</div>
        <div *ngIf="data.previewLink['image']" class="toot-preview-content">
          <img src="{{ data.previewLink['image'] }}" alt="" />
        </div>
        <div class="toot-preview-content">
          <span *ngIf="data.previewLink['provider_name']" class="toot-preview-provider">{{ data.previewLink['provider_name'] }}</span>
          <span *ngIf="data.previewLink['title']" class="toot-preview-title">{{ data.previewLink['title'] }}</span>
          <span *ngIf="data.previewLink['author_name']" class="toot-preview-author">By {{ data.previewLink['author_name'] }}</span>
        </div>
      </a>
      <div *ngIf="data.poll" class="toot-poll">
        <ul *ngFor="let pollOption of data.poll['options']">
          '
          {{
            pollOption
          }}
        </ul>
      </div>
      <div class="toot-date">
        <a [href]="data.postUrl" rel="nofollow noopener noreferrer" tabindex="-1" target="_blank">{{ data.postDate }}</a>
      </div>
    </article>
    <div class="mt-footer">
      <a [href]="mastodonDockstoreLink" class="btn" target="_blank" rel="nofollow noopener noreferrer">
        {{ linkSeeMore }}
      </a>
    </div>
    '
  </div>
</div>
