<h1 mat-dialog-title>Are you sure you want to delete this Dockstore {{ entry.entryTypeMetadata.term }}?</h1>
<div mat-dialog-content>
  <app-alert></app-alert>
  <p>
    You are about to permanently delete this {{ entry.entryTypeMetadata.term }}. After you delete it, it will no longer appear on Dockstore.
  </p>
  <p>A {{ entry.entryTypeMetadata.term }} can be deleted if it:</p>
  <ul>
    <li>Has never been published,</li>
    <li>Was created on/after April 1, 2022, and</li>
    <li>Is not a checked or checker workflow.</li>
  </ul>

  <p>
    After you delete the {{ entry.entryTypeMetadata.term }}, you must uninstall the Dockstore GitHub App from the source GitHub repo, or
    edit/remove the .dockstore.yml file so that it no longer describes the {{ entry.entryTypeMetadata.term }}. If you do not, the
    {{ entry.entryTypeMetadata.term }} may reappear on Dockstore the next time you push to the repo.
  </p>
  <p>Are you sure you want to delete this {{ entry.entryTypeMetadata.term }}?</p>
  <div class="btn-group" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">
    <button mat-flat-button (click)="no()" [disabled]="clicked" mat-dialog-close class="secondary-1">No</button>
    <button mat-flat-button (click)="yes()" [disabled]="clicked" color="warn">Yes, delete this {{ entry.entryTypeMetadata.term }}</button>
  </div>
</div>
