<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">Funding</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid mt-3">
    <p class="lead">
      Support for Dockstore is provided by grants from Genome Canada, the National Institutes of Health, and the Province of Ontario.
    </p>
    <div *ngFor="let funder of funders" class="col-xs-12 col-md-6 col-lg-6">
      <mat-card class="my-3">
        <mat-card-header>
          <mat-card-title>{{ funder.title }}</mat-card-title>
        </mat-card-header>
        <div class="image-wrapper">
          <a [href]="funder.website">
            <img [src]="funder.imageSource" [alt]="funder.altImageText" class="center-block funding-img" />
          </a>
        </div>
        <mat-card-content>
          <p>
            {{ funder.content }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
