<a
  *ngIf="isPublic"
  [href]="Dockstore.DOCUMENTATION_URL + '/faq.html'"
  target="_blank"
  rel="noopener noreferrer"
  data-cy="ai-bubble"
  class="bubble ai-bubble"
  matTooltip="This topic sentence was AI generated."
>
  <img class="site-icons-small" src="/assets/svg/ai-icon.svg" alt="AI generation icon" />
  AI
</a>

<a
  *ngIf="!isPublic"
  [href]="Dockstore.DOCUMENTATION_URL + '/faq.html'"
  target="_blank"
  rel="noopener noreferrer"
  data-cy="ai-bubble"
  class="bubble ai-bubble"
  matTooltip="This topic sentence was AI generated. AI topic sentences are only generated for published entries."
>
  <img class="site-icons-small" src="/assets/svg/ai-icon.svg" alt="AI generation icon" />
  AI
</a>
