<div class="container-fluid">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <span>
        <a routerLink="docs/about">
          <u>About Dockstore</u>
        </a>
        <div>
          <a href="https://github.com/ga4gh/dockstore/releases/tag/{{ version }}">
            DockstoreAPI - {{ version }}
          </a><br/>
          <a href="https://github.com/dockstore/dockstore-ui2/releases/tag/{{ tag }}">
             DockstoreUI - {{tag}}
          </a>
        </div>
      </span>
    </li>
    <li>
      <span>
        Can't find what you're looking for?
        <a href="https://gitter.im/ga4gh/dockstore"><u>Chat With Us on Gitter&raquo;</u></a>
      </span>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <span>
        <a href="https://github.com/ga4gh/dockstore">
          <img src="../assets/images/dockstore/github.png">
          Github Repository
        </a>
      </span>
    </li>
    <li>
      <span>
        <a href="https://twitter.com/DockstoreOrg">
          <img src="../assets/images/dockstore/twitter.png">
          Follow Us
        </a>
      </span>
    </li>
  </ul>
</div>

