<app-loading [loading]="loading"
  ><span *ngIf="!lambdaEvents">There are no GitHub App logs for this organization</span>

  <table *ngIf="lambdaEvents" mat-table [dataSource]="lambdaEvents" multiTemplateDataRows class="mat-elevation-z3 w-100">
    <ng-container matColumnDef="dbCreateDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.dbCreateDate | date: 'medium' }}</td>
    </ng-container>
    <ng-container matColumnDef="githubUsername">
      <th mat-header-cell *matHeaderCellDef>GitHub Username</th>
      <td mat-cell *matCellDef="let element">{{ element.githubUsername }}</td>
    </ng-container>

    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="p-2">
            {{ element.message }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</app-loading>
