@if (isLoading$ | async) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div>
  <p>Toggle repositories on to create workflows from the associated Git repository. Once added, these workflows can be customized.</p>
  <p>This approach is best for Git repositories with only one workflow.</p>
  <div fxLayout="column" fxLayoutGap="1.5rem">
    <mat-form-field class="w-100">
      <mat-label>Git Registry</mat-label>
      <mat-select [(ngModel)]="selectedGitRegistry" name="registry" (ngModelChange)="getOrganizations($event)">
        @for (registry of gitRegistries$ | async; track registry) {
        <mat-option [value]="registry">
          {{ registry }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (selectedGitRegistry && (gitOrganizations$ | async)) {
    <div>
      <mat-form-field class="w-100">
        <mat-label>Organization</mat-label>
        <mat-select [(ngModel)]="selectedGitOrganization" name="organization" (ngModelChange)="getRepositories($event)">
          @for (organization of gitOrganizations$ | async; track organization) {
          <mat-option [value]="organization">
            {{ organization }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1rem">
        @if (gitRepositories$ | async) {
        <mat-label>Repositories</mat-label>
        } @for (repo of gitRepositories$ | async; track repo) {
        <div>
          <mat-slide-toggle
            (change)="toggleRepo($event, repo)"
            [name]="repo.repositoryName"
            [checked]="repo.present"
            [disabled]="!repo.canDelete && repo.present"
            [matTooltip]="!repo.canDelete && repo.present ? 'Only workflow stubs can be deleted.' : ''"
            [attr.data-cy]="repo.path + '-toggle'"
            >{{ repo.path }}</mat-slide-toggle
          >
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
