<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<div *ngIf="!(loading$ | async); else loading">

  <!-- Curator/Admin Pending Organizations -->
  <div *ngIf="(isAdmin$ | async) || (isCurator$ | async)" class="p-3">
    <h3>Curator Requests</h3>
    <mat-card class="alert alert-info" role="alert">
      <mat-icon>info</mat-icon> As a curator/admin, you can approve and reject organization requests.
    </mat-card>

    <div fxLayout="column" fxLayoutGap="32px">
      <mat-card *ngFor="let org of (pendingOrganizationsAdminAndCurator$ | async)">
        <mat-card-header>
          <mat-card-title>
            {{org.name}}
          </mat-card-title>
          <mat-card-subtitle>
            <p>Requested by user(s)
              <span *ngFor="let user of org?.users">
                <strong>{{ user.user.username }}</strong>
              </span>
              on {{ org.dbCreateDate | date}}
            </p>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="px-4">
          {{ org.topic }}
          <div fxLayout="row" fxLayoutGap="10px">
            <span fxLayout="row" *ngIf="org?.email">
              <mat-icon>email</mat-icon>
              <span><a [href]="'mailto:' + org.email" target="_top">{{ org.email }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="org?.link">
              <mat-icon>link</mat-icon>
              <span><a [href]="org.link" target="_blank">{{ org.link }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="org?.location">
              <mat-icon>location_on</mat-icon>
              <span class="ellipsis-lines">{{ org.location }}</span>
            </span>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <div fxFlex></div>
          <button mat-flat-button color="warn" class="mr-1" (click)="openDialog(org.name, org.id, false)">
            <mat-icon>clear</mat-icon>Reject
          </button>
          <button mat-flat-button color="primary" (click)="openDialog(org.name, org.id, true)">
            <mat-icon>done</mat-icon>Approve
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- My Pending Organization Requests -->
  <div class="p-3">
    <h3>My Pending Requests</h3>
    <mat-card class="alert alert-info" role="alert">
      <mat-icon>info</mat-icon> The following organizations that you have created are pending approval.
    </mat-card>

    <div fxLayout="column" fxLayoutGap="32px">
      <mat-card *ngFor="let membership of (myPendingOrganizationRequests$ | async)">
        <mat-card-header>
          <mat-card-title>
            {{membership.organisation.name}}
          </mat-card-title>
          <mat-card-subtitle>
            Requested on {{ membership.dbCreateDate | date}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="px-4">
          {{ membership.organisation.topic }}
          <div fxLayout="row" fxLayoutGap="10px">
            <span fxLayout="row" *ngIf="membership?.organisation?.email">
              <mat-icon>email</mat-icon>
              <span><a [href]="'mailto:' + membership.organisation.email" target="_top">{{ membership.organisation.email }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="membership?.organisation?.link">
              <mat-icon>link</mat-icon>
              <span><a [href]="membership.organisation.link" target="_blank">{{ membership.organisation.link }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="membership?.organisation?.location">
              <mat-icon>location_on</mat-icon>
              <span class="ellipsis-lines">{{ membership.organisation.location }}</span>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Pending Organization Invites -->
  <div class="p-3">
    <h3>Organization Invites</h3>
    <mat-card class="alert alert-info" role="alert">
      <mat-icon>info</mat-icon> You have been invited into the following organizations.
    </mat-card>

    <div fxLayout="column" fxLayoutGap="32px">
      <mat-card *ngFor="let membership of (myOrganizationInvites$ | async)">
        <mat-card-header>
          <mat-card-title>
              {{ membership.organisation.name }}
          </mat-card-title>
          <mat-card-subtitle>
            Requested on {{ membership.dbCreateDate | date}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="px-4">
          {{ membership.organisation.topic }}
          <div fxLayout="row" fxLayoutGap="10px">
            <span fxLayout="row" *ngIf="membership?.organisation?.email">
              <mat-icon>email</mat-icon>
              <span><a [href]="'mailto:' + membership.organisation.email" target="_top">{{ membership.organisation.email }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="membership?.organisation?.link">
              <mat-icon>link</mat-icon>
              <span><a [href]="membership.organisation.link" target="_blank">{{ membership.organisation.link }}</a></span>
            </span>
            <span fxLayout="row" *ngIf="membership?.organisation?.location">
              <mat-icon>location_on</mat-icon>
              <span class="ellipsis-lines">{{ membership.organisation.location }}</span>
            </span>
          </div>
          You have been invited to join the organization with the role of <strong>{{ membership.role | lowercase }}</strong>.
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex></div>
          <button mat-flat-button color="warn" class="mr-1">
            <mat-icon>clear</mat-icon>Reject
          </button>
          <button mat-flat-button color="primary">
            <mat-icon>done</mat-icon>Approve
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
