// Header style - Expanded
mat-expansion-panel-header,
mat-expansion-panel-header[aria-expanded='true']:hover,
mat-expansion-panel-header[aria-expanded='true']:focus {
  background-color: #f6fefc;
}

// Expansion body expanded
:host ::ng-deep mat-expansion-panel .mat-expansion-panel-content {
  background-color: #f6fefc;
}

// Selected tool style
.selected {
  background-color: #d2fbf0;
}
