<mat-accordion multi-true>
  <mat-expansion-panel *ngFor="let orgObj of groupEntriesObject; trackBy: trackByOrgWorkflowObject" [expanded]="orgObj.expanded">
    <mat-expansion-panel-header>
      <mat-panel-title class="org-accordion-header">
        {{ orgObj?.sourceControl + '/' + orgObj?.organization }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group mat-stretch-tabs [selectedIndex]="orgObj | selectTab: (workflowId$ | async)">
      <mat-tab label="Published">
        <mat-list class="org-accordion-list">
          <mat-list-item
            *ngFor="let workflowObj of orgObj?.published; trackBy: trackByWorkflowId"
            [ngClass]="{ selected: (workflowId$ | async) === workflowObj?.id }"
          >
            <a
              class="no-wrap"
              title="{{ workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '') }}"
              [routerLink]="'/my-' + (entryType$ | async) + 's/' + workflowObj.full_workflow_path"
            >
              {{ workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '') }}
            </a>
          </mat-list-item>
          <mat-list-item *ngIf="!orgObj || orgObj?.published.length === 0">
            <p class="text-center">No published workflows.</p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Unpublished">
        <mat-list class="org-accordion-list">
          <mat-list-item
            *ngFor="let workflowObj of orgObj?.unpublished; trackBy: trackByWorkflowId"
            [ngClass]="{ selected: (workflowId$ | async) === workflowObj?.id }"
          >
            <a
              class="no-wrap"
              title="{{ workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '') }}"
              [routerLink]="'/my-' + (entryType$ | async) + 's/' + workflowObj.full_workflow_path"
            >
              {{ workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '') }}
            </a>
          </mat-list-item>
          <mat-list-item *ngIf="!orgObj || orgObj?.unpublished.length === 0">
            <p class="text-center">No unpublished workflows.</p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
    <mat-action-row *ngIf="(entryType$ | async) === EntryType.BioWorkflow">
      <div>
        <span *ngIf="orgObj.sourceControl.startsWith('github.com')">
          <button color="accent" (click)="openGitHubAppsLogs(orgObj.organization)" mat-button>See GitHub Apps Logs</button>
        </span>
        <span *ngIf="!orgObj?.sourceControl.startsWith('dockstore.org')">
          <app-refresh-workflow-organization [orgWorkflowObject]="orgObj"></app-refresh-workflow-organization>
        </span>
      </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
