.selected {
  background-color: #7987a5;
  color: #ffffff;
  a {
    color: #ffffff;
  }
}

mat-list.org-accordion-list > mat-list-item {
  height: 30px !important;
  font-size: 12px !important;
}

mat-panel-title.org-accordion-header {
  color: #487980;
  font-size: 16px;
}

.register-workflow-modal-button {
  margin-top: 10px !important;
}

.add-workflow-button {
  margin-left: 5px;
}
