<accordion [closeOthers]="openOneAtATime">
  <accordion-group *ngFor="let orgObj of groupEntriesObject" panelClass="containers-accordion" [isOpen]="orgObj?.isFirstOpen" [title]="orgObj?.sourceControl + '/' + orgObj?.organization">
    <div accordion-heading class="no-wrap">
      {{orgObj?.sourceControl + '/' + orgObj?.organization}}
    </div>
    <tabset [justified]="true">
      <tab heading="Published" [active]="orgObj.activeTab === 'published'">
        <div *ngFor="let workflowObj of orgObj?.published">
          <div class="panel-container-label" [ngClass]="{selected: (workflowId$ | async) === workflowObj?.id}">
            <a class="no-wrap" title="{{workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '')}}" [routerLink]="'/my-workflows/' + workflowObj.full_workflow_path">
              {{workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '')}}
            </a>
          </div>
        </div>
        <div *ngIf="orgObj?.published.length == 0" class="text-center">
          <p>No published workflows.</p>
        </div>
      </tab>
      <tab heading="Unpublished" [active]="orgObj.activeTab === 'unpublished'">
        <div *ngFor="let workflowObj of orgObj?.unpublished">
          <div class="panel-container-label" [ngClass]="{selected: (workflowId$ | async) === workflowObj?.id}">
            <a class="no-wrap" title="{{workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '')}}" [routerLink]="'/my-workflows/' + workflowObj.full_workflow_path">
              {{workflowObj?.repository + (workflowObj?.workflowName ? '/' + workflowObj?.workflowName : '')}}
            </a>
          </div>
        </div>
        <div *ngIf="!orgObj || orgObj?.unpublished.length === 0" class="text-center">
          <p>No unpublished workflows.</p>
        </div>
      </tab>
    </tabset>
    <span *ngIf="!orgObj?.sourceControl.startsWith('dockstore.org')">
      <app-refresh-workflow-organization class="pull-right" [organization]="orgObj?.organization"></app-refresh-workflow-organization>
    </span>
    <button type="button" class="glyphicon glyphicon-plus btn btn-primary btn-xs pull-right add-container-ns" (click)="setRegisterEntryModalInfo(orgObj?.organization + '/new_workflow'); showRegisterEntryModal()">
    </button>
  </accordion-group>
</accordion>
