<button id="deregisterButton" type="button" class="btn btn-danger" (click)="staticModal.show()">
  Deregister
</button>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Are you sure you wish to deregister this tool?</div>
      </div>
      <div class="modal-body">
        <p>All information associated with this tool will be deleted.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
        <button id="deregisterConfirmButton" type="button" class="btn btn-danger" (click)="deregister(); staticModal.hide()" >
          Deregister
        </button>
      </div>
    </div>
  </div>
</div>
