<div class="container">
  <div class="row">
    <div>
      <table datatable [dtOptions]="dtOptions" class="table row-border hover">
        <thead>
          <tr>
            <th>Git Reference</th>
            <th>Workflow Path</th>
            <th>Date Modified</th>
            <th>Valid</th>
            <th>Verified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of tags">
            <td>{{ tag.reference || 'n/a' }}</td>
            <td>
              <div>
                {{ tag.workflow_path }}
              </div>
            </td>
            <td>
              {{ tag.last_modified ? getDate(tag.last_modified) : 'n/a' }}
            </td>
            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="tag.valid"></span>
              <span class="glyphicon glyphicon-remove" *ngIf="!tag.valid"></span>
            </td>
            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="tag.verified"></span>
              <span class="glyphicon glyphicon-remove" *ngIf="!tag.verified"></span>
            </td>
            <td>
              <app-view-workflow [tag]="tag"></app-view-workflow>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
