.title {
  background-image: url(../../../assets/images//home/banner-docker-containers.jpg);
  color: white;
  background-size: 100% 100%;
  padding: 6rem;
}

.gray-sections {
  background: #f5f5f5;
}

button {
  background-color: #397a84;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

pre {
  font-family: monospace;
  background-color: #fff;
  line-height: 0.5rem;
  counter-reset: line;
}

span.code {
  display: block;
  line-height: 1.5rem;
  white-space: pre-wrap;

  &:before {
    counter-increment: line;
    content: counter(line);
    border-right: 1px solid #ddd;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: #888;
  }
}

ul.ordered-list > li:before {
  background-color: #7887cb;
  border-radius: 50%;
  margin-right: 1rem;
  padding: 0.5rem 0.9rem;
  content: counter(index);
  counter-increment: index;
  color: white;
}

ul.ordered-list > li:first-child {
  counter-reset: index;
}

ul.ordered-list {
  list-style-type: none;
  margin-left: -40px;
  line-height: 4rem;
}

.twitter-widget {
  height: 400px;
  overflow: auto;
}

.subtitle {
  font-size: 1.7rem;
  color: #3f51b5;
  line-height: 2.5rem;
  font-weight: 500;
}

ul.unordered-list {
  list-style-image: url(../../../assets/images/home/icon-asterisk.svg);
}

ul.unordered-list > li {
  padding: 0 0.5rem;
}

.title-strong {
  font-weight: 600;
  color: #3f51b5;
}
