<div fxLayout="column" fxLayoutGap="4rem">
  <div fxLayout="column" class="title">
    <div class="container">
      <div fxLayout="row" fxLayoutGap="3rem" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="space-around start" fxFlex="50">
          <h2>An app store for bioinformatics</h2>
          <span
            >Dockstore is a free and open source platform for sharing reusable and scalable analytical tools and workflows. It’s developed
            by the <a>Cancer Genome Collaboratory</a> and used by the <a>GA4GH</a>.</span
          >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem">
            <a><button class="btn">About Dockstore</button></a>
            <a><button class="btn">Watch the Overview</button></a>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex>
          <div fxLayout="row" fxLayoutAlign="space-between end">
            <div fxLayout="row" fxLayoutAlign="space-between end">
              <img src="../../../assets/svg/sub-nav/workflow.svg" alt="workflow icon" />
              <h5>Workflows</h5>
              <hr />
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <img src="../../../assets/svg/sub-nav/tool.svg" alt="tool icon" />
              <h5>Tools</h5>
              <hr />
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <img src="../../../assets/svg/sub-nav/organization.svg" alt="organization icon" />
              <h5>Organizations</h5>
              <hr />
            </div>
          </div>
          <div>
            <mat-form-field appearance="outline" class="form-field">
              <input
                matInput
                [formControl]="searchFormControl"
                list="suggestions"
                class="w-100 mb-3"
                placeholder="Enter search term"
                type="text"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <mat-tab-group mat-align-tabs="center" class="purple-tab-group">
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayoutGap="0.5rem">
            <img src="../../../assets/images/home/icons-cloud.svg" alt="cloud icon" />
            <span>Use In the Cloud</span>
          </div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2rem">
          <div fxLayout="column">
            <h2><span class="title-strong">Use</span> in many analysis environments.</h2>
            <span class="subtitle"
              >Try out the
              <a [routerLink]="'/workflows/github.com/dockstore/bcc2020-training/HelloWorld:master?tab=info'">Hello World Workflow</a> in
              the cloud.</span
            >
            <ul class="ordered-list">
              <li>
                Visit the
                <a [routerLink]="'/workflows/github.com/dockstore/bcc2020-training/HelloWorld:master?tab=info'">Hello World Workflow</a>; a
                tutorial from our <a href="https://www.youtube.com/watch?v=shMr_Bd01Ko&t=3226s">BCC 2020 workshop</a>.
              </li>
              <li>
                Try out the workflow by running it on a variety of launch partners including <a>DNAstack</a>, <a>Terra</a>, <a>DNAnexus</a>,
                and <a>SevenBridges</a>.
              </li>
            </ul>
          </div>
          <img src="../../../assets/images/home/diagram-launch-with.png" alt="diagram" />
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayoutGap="0.5rem">
            <img src="../../../assets/images/home/icons-navigation-about.svg" alt="cloud icon" />
            <span>Use Locally</span>
          </div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxFlex="50">
            <h2><span class="title-strong">Use</span> in many analysis environments.</h2>
            <span class="subtitle"
              >Try out the
              <a [routerLink]="'/workflows/github.com/dockstore/bcc2020-training/HelloWorld:master?tab=info'">Hello World Workflow</a>
              locally using the Dockstore CLI.</span
            >
            <div fxLayout="row">
              <span>Requirements</span>
              <ul class="unordered-list">
                <li><strong>Linux/Ubuntu</strong> (recommended, tested with 18.04.3 LTS)</li>
                <li>or <strong>Mac OS X</strong></li>
              </ul>
            </div>
            <ul class="ordered-list">
              <li>Install <a>Java 11</a> and <a>Docker</a> dependencies.</li>
              <li>
                Download and install the
                <a [href]="Dockstore.DOCKSTORE_REPO + '/launch-with/launch.html#dockstore-cli'">Dockstore CLI</a> and set up the
                <a [routerLink]="'/quick-start'">configuration file</a>.
              </li>
              <li>Run the following launch commands.</li>
            </ul>
          </div>
          <div fxFlex>
            <pre>
              <span class="code">## Make a runtime JSON template and fill in desired inputs, outputs, and</span>
              <span class="code">## other parameters</span>
              <span class="code">dockstore workflow convert entry2json --entry github.com/dockstore/bcc2020-training/HelloWorld:master > Dockstore.json</span>
              <span class="code">vim Dockstore.json</span>
              <span class="code">## or grab one that the workflow author has provided (if applicable)</span>
              <span class="code">wget --header='Accept: text/plain' https://dockstore.org/api/api/ga4gh/v2/tools/%23workflow%2Fgithub.com%2Fdockstore%2Fbcc2020-training%2FHelloWorld/versions/master/PLAIN_WDL/descriptor/..%2F..%2Ftest.json -O Dockstore.json</span>
              <span class="code">## Run locally with the Dockstore CLI</span>
              <span class="code">dockstore workflow launch --entry github.com/dockstore/bcc2020-training/HelloWorld:master --json Dockstore.json</span>
            </pre>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div fxLayout="row" class="gray-sections pt-5 pb-5">
    <div class="container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3rem">
      <img src="../../../assets/images/home/illustration-create-logos.png" alt="illustration-create-logo" />
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <h2><span class="title-strong">Create</span> reproducible workflows & tools.</h2>
        <span class="subtitle">No need to reinvent the wheel.</span>
        <ul class="unordered-list">
          <li>Create a simple one-step tool or multi-step workflow using popular technologies and standards.</li>
          <li>
            The execution environment is simple, it’s described by <a>Docker</a> and built on platforms like <a>Quay.io</a> or
            <a>Docker Hub</a>.
          </li>
          <li>
            To minimizes redundancy and error prone installation, workflows and tools are described with common languages such as
            <a>CWL</a>, <a>WDL</a>, or <a>Nextflow</a> and stored on <a>GitHub</a>, <a>Bitbucket</a>, <a>GitLab</a>, or directly on
            Dockstore.
          </li>
        </ul>
        <div fxLayoutGap="1rem">
          <a><button class="btn">Tutorial</button></a>
          <a
            ><button class="btn">Register with <span class="fa fa-github"></span> or <span class="fa fa-google"></span></button
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" fxLayout="row">
    <div>
      <h2><span class="title-strong">Share</span> and curate for stargazing.</h2>
      <span class="subtitle">Make your work accessible to the community.</span>
      <ul class="unordered-list">
        <li>Our implementation of standards from the <a>GA4GH</a> ensures your work is findable and interoperable.</li>
        <li>Create organizations for your lab, company, or university where you can curate collections of related workflows and tools.</li>
        <li>
          Create a landing page for your work to share with the community. Keep track of the workflows, tools and organizations you are
          interested in by starring them.
        </li>
      </ul>
      <div fxLayoutGap="1rem">
        <a [routerLink]="'/organizations'"><button class="btn">Browse Organizations</button></a>
        <a [href]="Dockstore.DOCKSTORE_REPO + '/end-user-topics/starring.html?highlight=star#how-to-star-an-entry'"
          ><button class="btn">How to Star</button></a
        >
      </div>
    </div>
    <img src="../../../assets/images/home/illustration.png" alt="illustration" />
  </div>

  <div class="gray-sections pt-5 pb-5">
    <div class="container">
      <h2>Featured Content</h2>
      <featured-content></featured-content>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="container">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3rem" fxFlex="33" fxFlex.lt-md="100">
      <h3>News & Events</h3>
      <span>
        <h4>July 15, 2020: Major Release</h4>
        <span>Dockstore 1.9 is here! Read through our changelog to learn more about our latest release.</span>
      </span>
      <span>
        <h4><a [href]="Dockstore.DOCKSTORE_REPO + '/getting-started/github-apps/github-apps.html'">Dockstore GitHub App</a></h4>
        <span
          >Our Dockstore GitHub App adds support for registering and automatically syncing workflows and services between GitHub and
          Dockstore. Check it out!</span
        >
      </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3rem" fxFlex="33" fxFlex.lt-md="100">
      <h3>Helpful Resources</h3>
      <div>
        <h4><a hef="https://www.youtube.com/watch?v=shMr_Bd01Ko">Introduction to Dockstore Webinar</a></h4>
        <span>Fundamentals of finding workflows and running analyses.</span>
      </div>
      <div>
        <h4><a [href]="Dockstore.DOCKSTORE_REPO + '/getting-started/getting-started.html'">Developer Tutorial</a></h4>
        <span>An introduction to everything required to properly use Dockstore as a contributor.</span>
      </div>
      <div>
        <h4><a href="https://discuss.dockstore.org/">Join the Discussion</a></h4>
        <span>Discourse forum about helpful Dockstore topics.</span>
      </div>
    </div>
    <div #twitter fxFlex fxLayoutAlign="start start" class="twitter-widget"></div>
  </div>
</div>
