<div class="w-100 org-holder">
  <h3>My Organizations</h3>
  <div *ngIf="!hasItems; else userHasOrganizations">
    <p>You have no organizations</p>
  </div>

  <ng-template #userHasOrganizations>
    <mat-form-field class="w-100">
      <input
        data-cy="filterOrganizationsInput"
        matInput
        [(ngModel)]="filterText"
        (keyup)="onTextChange($event)"
        placeholder="Filter organizations..."
      />
    </mat-form-field>

    <div *ngFor="let organization of myItems" class="w-100 ellipsis-overflow">
      <span [matTooltip]="organization.displayName">
        <a [routerLink]="'/organizations/' + organization.name" routerLinkActive="router-link-active">{{ organization.displayName }}</a>
      </span>
    </div>
    <p *ngIf="!myItems || myItems.length === 0">No matching organizations</p>
  </ng-template>
</div>
