<div class="w-100">
  <h3>My Organizations</h3>
  <div *ngIf="!hasOrganizations; else userHasOrganizations">
    <p>You have no organizations</p>
  </div>

  <ng-template #userHasOrganizations>
    <mat-form-field class="w-100">
      <input matInput [(ngModel)]="organizationFilterText" (keyup)="onTextChange($event)" placeholder="Filter organizations..." />
    </mat-form-field>

    <div *ngFor="let organization of myOrganizations; let i = index" class="w-100">
      <a [routerLink]="'/organizations/' + organization.name" routerLinkActive="router-link-active">{{ organization.displayName }}</a>
    </div>
    <p *ngIf="myOrganizations && myOrganizations.length === 0">No matching organizations</p>
  </ng-template>
</div>
