<app-header> Redirecting </app-header>
<div class="container">
  @if (!validType) {
  <mat-card appearance="outlined" class="alert alert-warning" role="alert">
    <mat-card-content>
      <mat-icon class="alert-warning-icon">warning</mat-icon>
      &nbsp;<strong>{{ type }}</strong> is not a valid type
    </mat-card-content>
  </mat-card>
  } @if (loading$ | async) {
  <div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  } @else { @if (validType && found) {
  <div>Redirecting...</div>
  } @if (validType && !found) {
  <mat-card appearance="outlined" class="alert alert-warning" role="alert">
    <mat-card-content>
      <mat-icon class="alert-warning-icon">warning</mat-icon>
      &nbsp;No <strong>{{ type }}</strong> with the alias <strong>{{ alias }}</strong> found
    </mat-card-content>
  </mat-card>
  } }
</div>
