<app-header>
  Aliases
</app-header>
<div class="container">
  <mat-card class="alert alert-warning" role="alert" *ngIf="!types.includes(type)">
    <mat-icon>warning</mat-icon>
    &nbsp;<strong>{{ type }}</strong> is not a valid type
  </mat-card>
  <app-loading [loading]="(loading$ | async)">
    <div *ngIf="(organization$ | async) as org">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="(collection$ | async) as coll">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card class="alert alert-warning" role="alert"  *ngIf="types.includes(type) && !(organization$ | async) && !(collection$ | async)">
      <mat-icon>warning</mat-icon>
      &nbsp;No <strong>{{ type }}</strong> with the alias <strong>{{ alias }}</strong> found
    </mat-card>
  </app-loading>
</div>
