<h1 mat-dialog-title>Select a Topic</h1>
<mat-dialog-content>
  <p>
    A topic is a short description of your {{ entryTypeMetadata.term }}. There are {{ isHostedEntry ? 'two' : 'three' }} types of topics
    that you can choose from:
  </p>
  <div fxLayout="column">
    <mat-radio-group
      [(ngModel)]="selectedOption"
      (change)="radioButtonChange($event)"
      aria-label="Select an option"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="1rem"
    >
      <mat-card>
        <mat-radio-button [value]="TopicSelectionEnum.MANUAL" class="w-100">
          <div>
            <span class="bubble mr-2"><mat-icon class="mat-icon-sm">edit</mat-icon></span>
            <strong>Manual</strong>
          </div>
          <div class="size-small gray-caption">
            Entered manually by the user{{ isGitHubAppEntry ? ' in the .dockstore.yml file on GitHub' : '' }}.
          </div>
          <div
            *ngIf="isGitHubAppEntry"
            [class]="entry.topicManual ? '' : 'gray-caption'"
            matTooltip="Edit the manual topic for this {{ entryTypeMetadata.term }} in the .dockstore.yml file on GitHub"
          >
            {{ entry.topicManual || 'Not Available' }}
          </div>
          <mat-form-field
            *ngIf="!isGitHubAppEntry"
            color="accent"
            appearance="outline"
            class="w-100"
            matTooltip="Edit the manual topic for this {{ entryTypeMetadata.term }}"
          >
            <input
              matInput
              [(ngModel)]="editedTopicManual"
              [disabled]="isGitHubAppEntry"
              placeholder="Short description of the {{ entryTypeMetadata.term }}"
              data-cy="topicInput"
            />
          </mat-form-field>
        </mat-radio-button>
      </mat-card>
      <mat-card *ngIf="!isHostedEntry">
        <mat-radio-button [value]="TopicSelectionEnum.AUTOMATIC" class="w-100">
          <div>
            <span class="bubble mr-2"><mat-icon class="mat-icon-sm">sync</mat-icon></span>
            <strong>Automatic</strong>
          </div>
          <div class="size-small gray-caption">Retrieved automatically from the GitHub repository description.</div>
          <div [class]="entry.topicAutomatic ? '' : 'gray-caption'">
            {{ entry.topicAutomatic || 'Not Available' }}
          </div>
        </mat-radio-button>
      </mat-card>
      <mat-card *ngIf="entry.topicAI">
        <mat-radio-button [value]="TopicSelectionEnum.AI" data-cy="topic-ai-selection-button" class="w-100">
          <div fxLayoutAlign="space-between">
            <div>
              <span class="bubble mr-2"
                ><img class="site-icons-small" src="../../../assets/svg/ai-icon.svg" alt="AI generation icon"
              /></span>
              <strong>AI</strong>
            </div>
            <span
              *ngIf="entry.approvedAITopic"
              class="bubble approved"
              matTooltip="This AI topic was reviewed and selected by the {{ entryTypeMetadata.term }} owner"
              ><mat-icon class="mat-icon-sm">checkmark</mat-icon> Approved</span
            >
          </div>
          <div class="size-small gray-caption">Generated by AI using the content of your {{ entryTypeMetadata.term }}.</div>
          <!-- Display an info card if the AI topic was automatically set as the topic selection but it hasn't been approved by the user -->
          <mat-card
            *ngIf="!entry.approvedAITopic && entry.topicSelection === TopicSelectionEnum.AI"
            class="alert-info mat-elevation-z size-small py-1 my-3"
          >
            <mat-icon class="mat-icon-sm">info</mat-icon> This topic has not been reviewed by the {{ entryTypeMetadata.term }} owner. Click
            <strong>Save</strong> to confirm that you have reviewed and approved the topic. Otherwise, select another topic.
          </mat-card>
          <div [class]="entry.topicAI ? '' : 'gray-caption'">
            {{ entry.topicAI || 'Not Available' }}
          </div>
        </mat-radio-button>
      </mat-card>
    </mat-radio-group>
  </div>
</mat-dialog-content>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <div *ngIf="promptToConfirmAISelection" fxLayout="row" fxLayoutAlign="end" class="mb-3">
    <mat-card class="alert-warning mat-elevation-z size-small weight-bold py-1" fxFlex="50"
      >By selecting the AI topic, you are confirming that you have reviewed and approved it. Are you sure you want to select the AI
      topic?</mat-card
    >
  </div>
  <button mat-button mat-dialog-close class="secondary-1" data-cy="topicCancelButton" cdkFocusInitial>Cancel</button>
  <button mat-raised-button (click)="saveTopic()" data-cy="topicSaveButton" class="accent-1-dark-btn mat-elevation-z">
    {{ promptToConfirmAISelection ? 'Confirm' : 'Save' }}
  </button>
</div>
