<app-header>
  <img src="../assets/images/dockstore/dockstore-workflows-purple.png">
  My Workflows
  <div class="pull-right refresh-all-holder">
    <button type="button" class="refresh-all-button btn btn-primary" (click)="refreshAllWorkflows()">
      Refresh All Workflows
    </button>
  </div>
</app-header>
<div class="container padding-top">
  <!--Tool Content Page-->
  <div class="row">
    <div class="col-md-3 containers-rsb">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group *ngFor="let orgObj of orgWorkflows" panelClass="containers-accordion" [heading]="orgObj?.organization" [isOpen]="orgObj?.isFirstOpen">
          <div *ngFor="let workflowObj of orgObj?.workflows">
            <div class="panel-container-label" [ngClass]="{selected: selWorkflowObj.id === workflowObj.id}">
                  <div class="container-name-oflw pull-left"
                       title="{{workflowObj?.repository + (workflowObj?.workflowName ? ' (' + workflowObj?.workflowName + ')' : '')}}">
                    <a style="cursor: pointer;" (click)="selectWorkflow(workflowObj)">
                      {{workflowObj?.repository + (workflowObj?.workflowName ? ' (' + workflowObj?.workflowName + ')' : '')}}
                    </a>
                  </div>
                  <div class="pull-right">
                    <span class="label"
                          [ngClass]="workflowObj?.is_published ? 'label-primary' : 'label-warning'">
                    {{ workflowObj?.is_published ? 'PUB' : 'UNPUB'}}
                    </span>
                  </div>
            </div>
          </div>
          <button type="button"
                    class="btn btn-primary btn-xs pull-right add-container-ns"
                    (click)="setModalGitURL(orgObj?.organization + '/new_workflow'); showModal()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
        </accordion-group>
      </accordion>
      <div>
      <button type="button" class="btn btn-primary btn-sm pull-right" (click)="showModal()">Register Workflow</button>
      </div>
      <app-register-workflow-modal></app-register-workflow-modal>
    </div>
    <div class="col-md-9 containers-rsb">
      <app-workflow [isWorkflowPublic]="false"></app-workflow>
    </div>
  </div>
</div>
