.header-image {
  background-size: cover;
}

.mat-card-avatar {
  height: 90px !important;
  width: 90px !important;
}

.mat-action-row {
  border: 0;
}

.orcid-id-logo {
  height: 1.4rem;
  width: 1.4rem;
  vertical-align: sub;
}
