@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

.mat-mdc-card-avatar {
  height: 50px !important;
  width: 50px !important;
  margin-bottom: 0 !important;
}

// Allow word break/wrapping for long usernames (ex. emails)
h5 {
  word-break: break-all;
}

.orcid {
  font-size: 12px;
  line-height: none;
}

a {
  color: mat.get-color-from-palette($kim-secondary, 2);
}

* {
  color: $header-color;
}

.mat-mdc-chip.pending-bubble {
  background: mat.get-color-from-palette($dockstore-app-accent-4, 4);
}
