.header-image {
  background-size: cover;
}

.mat-card-avatar {
  height: 50px !important;
  width: 50px !important;
}

.orcid {
  font-size: 12px;
  line-height: none;
}

.mat-action-row {
  border: 0;
}

.mat-standard-chip {
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: none;
}

a {
  text-decoration: underline;
}

.role-display {
  background: #e0e0e0;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
  font-size: 1.3rem;
}

* {
  color: #151c3d;
}
