<h1 *ngIf="data?.title" mat-dialog-title>{{ data.title }}</h1>

<div *ngIf="data?.message" mat-dialog-content [innerHTML]="data.message"></div>
<mat-dialog-actions [align]="'end'">
  <button data-cy="cancel-dialog-button" mat-button [mat-dialog-close]="false" color="accent" cdkFocusInitial>
    {{ data.cancelButtonText ? data.cancelButtonText : 'CANCEL' }}
  </button>
  <button data-cy="confirm-dialog-button" mat-flat-button [mat-dialog-close]="true" class="accent-1-dark">
    {{ data.confirmationButtonText ? data.confirmationButtonText : 'YES' }}
  </button>
</mat-dialog-actions>
