.textarea {
  width: 90%;
  display: block;
  &.clip {
    height: 80px;
    background-color: white;
  }
  &.btn {
    width: auto;
    height: 80px;
  }
}

.indent {
  margin-left: 40px;
}

.font {
  font-family: Gotham;
}
