<h3>Step 2: Download CLI Client</h3>
<hr />
<h4>Part 1</h4>
<ol>
  <li>
    Download the CLI bash script (works on Linux and Mac OS X). <br>
    We recommend Linux. The rest of these instructions focus on Ubuntu, although the setup for other distributions should be fairly similar.
  </li>
  <li>
    The Dockstore CLI uses Java, please <a href="https://launchpad.net/~webupd8team/+archive/ubuntu/java">install it</a> if you have not already.
  </li>
  <li>
    Make the CLI executable and ensure that both Java and it are in your <code>$PATH</code>.
  </li>
</ol>
<a *ngIf="downloadCli"
  class="btn btn-primary hori-offset-12" [attr.href]="downloadCli">
  <span class="glyphicon glyphicon-download"></span>
  Download CLI
</a>

<h4>Part 2</h4>
<p>Create the folder <code>~/.dockstore</code> and put these settings in the file <code>~/.dockstore/config</code>:</p>
<div class="input-group textarea">
  <textarea type="textarea" class="form-control textarea clip" readonly #inputTarget>
  token: {{dsToken}}
  server-url: {{dsServerURI}}
  </textarea>
  <span class="input-group-btn">
        <button class="btn btn-default textarea btn"  [ngClass]="{'btn-copy':isCopied2}" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true">
          <span class="glyphicon glyphicon-copy"></span>
        </button>
  </span>
</div>

<h4>Part 3</h4>
<p>If you want to launch CWL tools and workflows, Dockstore relies upon <a
  href="https://github.com/common-workflow-language/cwltool">cwltool</a> being available on your PATH. You may also need
  to install <a href="https://pip.pypa.io/en/latest/installing/">pip</a> if it is not already installed.</p>
<p>You will also need to install Docker if you have not already</p>
<p>You can install the version of cwltool that we've tested for use with Dockstore using the following command:</p>
<ol>
  <li>
    Run this to verify that pip has been installed
    <code>pip --version</code>
  </li>
  <li>
    Run these commands to install cwltool <code>pip install setuptools==28.8.0</code><br><code>pip install cwl-runner cwltool==1.0.20170217172322 schema-salad==2.2.20170222151604 avro==1.8.1</code>
  </li>
  <li>
    Run this to verify that cwltool has been installed properly
    <code>cwltool --version</code>
  </li>
  <li>
    Install Docker following the instructions on <a href="https://docs.docker.com/engine/installation/linux/ubuntulinux/">Docker's website</a>.
  </li>
</ol>

<h4>Part 4</h4>
<p></p>
<ol>
  <li>
    Run the Dockstore CLI to ensure that Dockstore has been setup (and follow any interactive prompts if prompted)
    <code>dockstore</code>
  </li>
</ol>
