<ngx-md [data]="textData1"></ngx-md>
<a *ngIf="downloadCli" class="btn btn-primary hori-offset-12 indent" [attr.href]="downloadCli">
  <span class=" glyphicon glyphicon-download"></span>
  Download CLI
</a>
<ngx-md [data]="textData2"></ngx-md>
<div class="input-group textarea indent">
  <textarea type="textarea" class="form-control textarea clip" readonly #inputTarget>
    token: {{dsToken}}
    server-url: {{dsServerURI}}</textarea>
  <span class="input-group-btn">
    <button class="btn btn-default textarea btn" [ngClass]="{'btn-copy':isCopied2}" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true">
      <span class="glyphicon glyphicon-copy"></span>
    </button>
  </span>
</div>
<ngx-md [data]="textData3"></ngx-md>
