// Styling from design mockups
// These badges are not clickable, thus different from Material Design Chips
.language-badge {
  border-radius: 8px;
  background-color: #dfe0e2;
  padding: 6px 7px;
  color: #151c3d;
  font-size: 1.3rem;
  font-weight: 500;
}
