// This is a sample card and should probably be more flexible
.random-card {
  min-height: 400px;
  min-width: 300px;
  background-color: red;
}

// This is a sample section and should probably be more flexible
.random-section {
  min-height: 300px;
  min-width: 600px;
  background-color: blue;
}

.twitter {
  border: 1px solid #cfd1d7;
}
