.widget-section {
  width: 100%;
}

.twitter {
  border: 1px solid #cfd1d7;
}

mat-sidenav-container {
  display: flex;
  min-height: 1000px;
  height: 100%;
}

.left-side-column {
  background-color: #f6f8fa;
}

@media screen and (min-width: 992px) {
  .side-column {
    max-width: 35rem !important;
  }
}

// The width is gotten from Cypress macbook-13 viewport width. GitHub does 1400px which is just as arbitrary.
// This is used to prevent the recent events card from stretching too far on a wide-screen monitor (similar to GitHub)
.mw-macbook-13 {
  max-width: 128rem;
}

#column-holder {
  min-height: 900px;
}

ul {
  list-style: none;
  padding-left: 0;
}
.news-container {
  border-top: 0.1rem solid #e0e1e2;
}

// Let sidebar shadow fall on top of side-column
app-my-sidebar {
  z-index: 2;
}

.left-side-column {
  z-index: 1;
}
