.widget-section {
  min-height: 300px;
  // width: 100%;
}

.twitter {
  border: 1px solid #cfd1d7;
}

mat-sidenav-container {
  display: flex;
  min-height: 1000px;
  height: 100%;
}

.left-side-column {
  background-color: #f6f8fa;
}

@media screen and (min-width: 992px) {
  .side-column {
    max-width: 350px !important;
    min-width: 350px !important;
  }
}

#column-holder {
  min-height: 900px;
}
