
<ng-template #loading>Loading...</ng-template>

<div *ngIf="!(isLoading$ | async); else loading">

  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Events
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <span *ngFor="let event of (events$ | async)">
          <mat-list-item *ngIf="event?.type === EventType.CREATEORG">
            <mat-chip-list>
              <mat-chip>{{ event.initiatorUser.username }}</mat-chip>
              &nbsp;created&nbsp;organization
            </mat-chip-list>
          </mat-list-item>

          <mat-list-item *ngIf="event?.type === EventType.APPROVEORGINVITE">
            <mat-chip-list>
              <mat-chip>{{ event.initiatorUser.username }}</mat-chip>
              &nbsp;joined&nbsp;organization
            </mat-chip-list>
          </mat-list-item>

          <mat-list-item *ngIf="event?.type === EventType.MODIFYORG">
            <mat-chip-list>
              <mat-chip>{{ event.initiatorUser.username }}</mat-chip>
              &nbsp;updated&nbsp;organization
            </mat-chip-list>
          </mat-list-item>

          <mat-list-item *ngIf="event?.type === EventType.CREATECOLLECTION">
            <mat-chip-list>
              <mat-chip>{{ event.initiatorUser.username }}</mat-chip>
              &nbsp;created&nbsp;the&nbsp;collection&nbsp;
              <mat-chip>{{ event.collection.name }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>

          <mat-list-item *ngIf="event?.type === EventType.MODIFYCOLLECTION || event?.type === EventType.ADDTOCOLLECTION || event?.type === EventType.REMOVEFROMCOLLECTION">
            <mat-chip-list>
              <mat-chip>{{ event.initiatorUser.username }}</mat-chip>
              &nbsp;updated&nbsp;the&nbsp;collection&nbsp;
              <mat-chip>{{ event.collection.name }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </span>
      </mat-list>
    </mat-expansion-panel>
  </div>
