<mat-tab-group mat-stretch-tabs (selectedTabChange)="matTabChange($event)">
  <mat-tab *ngFor="let fileType of differentFileTypes" label="{{ fileType }}">
    <ng-template matTabContent>
      <mat-toolbar color="primary">
        <app-loading class="w-100" [loading]="loading">
          <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="w-50">
              <mat-select [(value)]="selected" (selectionChange)="getFile()">
                <mat-option [value]="file" *ngFor="let file of dropdown"> {{ file.path }} </mat-option>
              </mat-select>
            </mat-form-field>
            <span>
              <a
                mat-icon-button
                color="secondary"
                class="mr-1"
                *ngIf="published$ | async; else unpublishedDownloadLink"
                download
                [href]="downloadFilePath"
                type="button"
                title="{{ selected?.path }}"
              >
                <mat-icon>save_alt</mat-icon>
              </a>
              <ng-template #unpublishedDownloadLink>
                <a
                  mat-icon-button
                  color="secondary"
                  class="mr-1"
                  [href]="customDownloadHREF"
                  [download]="customDownloadPath"
                  type="button"
                  title="{{ selected?.path }}"
                >
                  <mat-icon>save_alt</mat-icon>
                </a>
              </ng-template>
              <button mat-icon-button color="secondary" type="button" ngxClipboard [cbContent]="fileContents">
                <mat-icon>file_copy</mat-icon>
              </button>
            </span>
          </div>
        </app-loading>
      </mat-toolbar>
      <app-code-editor [(content)]="fileContents" [filepath]="selected?.path" [editing]="false"></app-code-editor>
    </ng-template>
  </mat-tab>
</mat-tab-group>
