<div *ngIf="version" class="p-3">
  <mat-card *ngIf="validationMessage$ | async as validation" class="alert alert-warning">
    <mat-icon>warning</mat-icon>
    <span *ngFor="let item of validation | keyvalue">
      <strong>{{ item.key }}</strong
      >: {{ item.value }}
    </span>
  </mat-card>
</div>
<mat-tab-group mat-stretch-tabs (selectedTabChange)="matTabChange($event)">
  <mat-tab *ngFor="let fileType of fileTypes$ | async" label="{{ 'ToolFile.FileTypeEnum' | mapFriendlyValue: fileType }}">
    <ng-template matTabContent>
      <mat-toolbar color="primary">
        <app-loading class="w-100" [loading]="loading$ | async">
          <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngIf="selectedFile$ | async as selected" class="w-50">
              <mat-select [value]="selected" (selectionChange)="matSelectChange($event)">
                <mat-option [value]="file" *ngFor="let file of files$ | async"> {{ file.path }} </mat-option>
              </mat-select>
            </mat-form-field>
            <span>
              <a
                mat-icon-button
                color="secondary"
                class="mr-1"
                *ngIf="published$ | async; else unpublishedDownloadLink"
                download
                [href]="downloadFilePath$ | async"
                type="button"
                title="{{ downloadButtonTooltip$ | async }}"
              >
                <mat-icon>save_alt</mat-icon>
              </a>
              <ng-template #unpublishedDownloadLink>
                <a
                  mat-icon-button
                  color="secondary"
                  class="mr-1"
                  [href]="customDownloadHREF$ | async"
                  [download]="customDownloadPath$ | async"
                  type="button"
                  title="{{ downloadButtonTooltip$ | async }}"
                >
                  <mat-icon>save_alt</mat-icon>
                </a>
              </ng-template>
              <button mat-icon-button color="secondary" type="button" ngxClipboard [cbContent]="fileContents$ | async">
                <mat-icon>file_copy</mat-icon>
              </button>
            </span>
          </div>
        </app-loading>
      </mat-toolbar>
      <div *ngIf="fileContents$ | async as fileContents">
        <app-code-editor [content]="fileContents" [filepath]="(selectedFile$ | async)?.path" [editing]="false"></app-code-editor>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
