<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="">
        <img class="logo" src="../assets/images/dockstore/logo.png">
      </a>
    </li>
    <li>
      <a routerLink="/containers">
        <img src="../assets/images/dockstore/dockstore-tools-purple.png">
        Tools
      </a>
    </li>
    <li>
      <a routerLink="/workflows">
        <img src="../assets/images/dockstore/dockstore-workflows-purple.png">
        Workflows
      </a>
    </li>
    <li>
      <a routerLink="/docs">
        <img src="../assets/images/dockstore/dockstore-documentation.png">
        Documentation
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li id="myToolsNav" *ngIf="isLoggedIn">
      <a routerLink="/mytools">
        <img src="../assets/images/dockstore/dockstore-tools-purple.png">
        My Tools
      </a>
    </li>

    <li id="myWorkflowsNav" *ngIf="isLoggedIn">
      <a routerLink="">
        <img src="../assets/images/dockstore/dockstore-workflows-purple.png">
        My Workflows
      </a>
    </li>

    <li>
      <div *ngIf="isLoggedIn">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a routerLink="/accounts">Accounts</a></li>
            <li><a href="/tokens">Tokens</a></li>
            <li><a routerLink="/onboarding">Setup</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
      <div *ngIf="!isLoggedIn">
        <div class="green">
          <p><a routerLink="login">Login</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>
