<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="">
        <img class="logo" src="../assets/images/dockstore/logo.png">
      </a>
    </li>
    <li>
      <a routerLink="containers">
        <img src="../assets/images/dockstore/dockstore-tools-purple.png">
        Tools
      </a>
    </li>
    <li>
      <a routerLink="workflows">
        <img src="../assets/images/dockstore/dockstore-workflows-purple.png">
        Workflows
      </a>
    </li>
    <li>
      <a routerLink="docs">
        <img src="../assets/images/dockstore/dockstore-documentation.png">
        Documentation
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Fill Later</a></li>
  </ul>
</div>
