@if (displayInitiator) {
<span [class]="displayDoi ? 'mr-2' : ''" [attr.data-cy]="doi.initiator.toLowerCase() + '-DOI-icon'">
  @if (doi.initiator === DoiInitiator.DOCKSTORE) {
  <img
    src="../../../../../assets/images/registries/DOCKSTORE.svg"
    alt="small Dockstore logo"
    matTooltip="This DOI was automatically created by Dockstore"
  />
  } @if (doi.initiator === DoiInitiator.GITHUB) {
  <img
    src="../../../../../assets/images/registries/GITHUB.svg"
    alt="small GitHub logo"
    matTooltip="This DOI was created via Zenodo's integration with GitHub"
  />
  } @if (doi.initiator === DoiInitiator.USER) {
  <mat-icon class="primary-3" matTooltip="This DOI was manually created by a user in the Dockstore UI">account_circle</mat-icon>
  }
</span>
} @if (displayDoi) {
<a
  [href]="'https://doi.org/' + doi.name"
  [attr.data-cy]="doi.type.toLowerCase() + '-DOI-badge'"
  matTooltip="Click to view {{
    doi.type === DoiType.VERSION ? 'the version DOI.' : 'the concept DOI which represents all versions and resolves to the latest one.'
  }}"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="{{ zenodoUrl }}/badge/DOI/{{ doi.name }}.svg" alt="{{ doi.name }}" />
</a>
}
