<div class="separation">
    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stars</th>
          <th>Author</th>
          <th>Project Links</th>
          <th>Docker Pull</th>
        </tr>
      </thead>
      <tbody>
        <tr class="entry-row" *ngFor="let tool of toolsTable">
          <td>
            <span *ngIf="getVerified(tool)">
                <a style="text-decoration: none" tooltip="Verified" class="glyphicon glyphicon-ok" href={{verifiedLink}}></a>
            </span>
            <a (click)="sendToolInfo(tool)" [routerLink]="['/containers', tool?.tool_path ]">{{ tool?.name +
              (tool?.toolname ? '/' + tool?.toolname : '') }}</a>
          </td>
          <td>
            {{ tool?.starredUsers.length === 0 ? '' : tool?.starredUsers.length }}
          </td>
          <td>
            {{ tool?.author || 'n/a' }}
          </td>
          <td>
            <a [href]="tool?.providerUrl">
              {{ tool?.provider }}
            </a>
            <a [href]="tool?.imgProviderUrl">
              {{ tool?.imgProvider }}
            </a>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" value="{{ getFilteredDockerPullCmd(tool.path) }}" aria-describedby="clipboard" #inputTarget>
              <span class="input-group-btn" id="clipboard">
                <button class="btn btn-default" type="button" [ngxClipboard]="inputTarget"><span
                  class="glyphicon glyphicon-copy"></span></button>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
      <!--Moved outside tbody because it interferes with Angular-Datatables library-->
      <tr *ngIf="previewMode && toolsTable.length > 0">
        <td colspan="5" class="browse-all">
          <div class="button">
            <p><a href="/tools">Browse All Tools &raquo;</a></p>
          </div>
          <div class="button">
            <p><a href="/search">Search Tools &raquo;</a></p>
          </div>
        </td>
      </tr>
    </table>
</div>
