version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.0
  slack: circleci/slack@3.4.2
executors:
  integration_test_exec: # declares a reusable executor
    docker:
      - image: circleci/buildpack-deps:18.04-browsers
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
        environment:
          JAVA_TOOL_OPTIONS: -Xmx2g # Java can read cgroup. Sadly the cgroup in CircleCI is wrong. Have to manually set. Using 1/2 memory as heap.
      - image: circleci/postgres:11.6-alpine-ram
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
jobs:
  # Specify the webpage url (https://dev.dockstore.net or https://staging.dockstore.org or https://dockstore.org)
  # and stack (dev or staging or prod) and the no auth smoke tests will be run against the corresponding webpage.
  uptime_monitor_no_auth:
    parameters:
      stack:
        type: string
      webpage_URL:
        type: string
    working_directory: ~/repo
    docker:
      - image: circleci/buildpack-deps:18.04-browsers
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - setup_nightly_tests:
          webpage_URL: << parameters.webpage_URL >>
      - run:
          name: Run remote verification test against << parameters.stack >> (no auth)
          command: bash -i -c 'npm run test-<< parameters.stack >>-no-auth'
          environment:
            MOCHA_FILE: nightly-test-results/junit/test-<< parameters.stack >>-no-auth-[hash].xml
      - run:
          name: Run remote verification of WAF against << parameters.stack >>
          command: bash -i -c 'npm run test-<< parameters.stack >>-waf'
          environment:
            MOCHA_FILE: nightly-test-results/junit/test-<< parameters.stack >>-waf-[hash].xml
      - upload_nightly_artifacts
      - slack/status:
          fail_only: true
          failure_message: Nightly << parameters.stack >> non-auth tests failed!
          webhook: $SLACK_WEBHOOK

  # Specify the webpage url (https://dev.dockstore.net or https://staging.dockstore.org or https://dockstore.org)
  # and stack (dev or staging or prod) and the no auth smoke tests will be run against the corresponding webpage.
  uptime_monitor_auth:
    parameters:
      stack:
        type: string
      webpage_URL:
        type: string
    working_directory: ~/repo
    docker:
        - image: circleci/buildpack-deps:18.04-browsers
          auth:
            username: dockstoretestuser
            password: $DOCKERHUB_PASSWORD
    steps:
      - setup_nightly_tests:
          webpage_URL: << parameters.webpage_URL >>
      - run:
          name: Run remote verification test against << parameters.stack >> (with auth)
          command: bash -i -c 'npm run test-<< parameters.stack >>-auth'
          environment:
            MOCHA_FILE: nightly-test-results/junit/test-<< parameters.stack >>-auth-[hash].xml
      - upload_nightly_artifacts
      - slack/status:
          fail_only: true
          failure_message: Nightly << parameters.stack >> auth tests failed!
          webhook: $SLACK_WEBHOOK
  lint_license_unit_test_coverage:
    working_directory: ~/repo
    docker:
      - image: circleci/buildpack-deps:18.04-browsers
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run:
          name: Checkout merge commit (PRs only)
          command: |
            if [[ -n "${CIRCLE_PULL_REQUEST}" ]]
            then
              git fetch origin +refs/pull/${CIRCLE_PULL_REQUEST##*/}/merge:
              git checkout -qf FETCH_HEAD
            fi
      - install_container_dependencies
      - restore_cache:
          key: dep-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Install dependencies
          #Only run 'npm ci' if node_modules was not restored from cache
          command: |
              if [ ! -d "./node_modules" ]
              then
                bash -i -c 'npm ci'
              fi
      - save_cache:
          key: dep-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
          paths:
            - ./node_modules
      - save_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
          paths:
            - ~/.cache
              # Disabled until ng2-ui-auth and @ngx-lite/json is replaced. Currently they do not support Angular 9
              #      - run:
              #          name: Check dependencies
              #          command: bash -i -c 'npm ls'
      - run:
          name: Lint
          command: bash -i -c 'npm run lint'
      - run:
          name: License Test
          command: |
            bash -i -c 'npm run circle-ci-license-test-file'
            bash scripts/detect-package-json-changes.sh
      - run:
          name: Build
          command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod'
      - run:
          name: Install codecov
          command: bash -i -c 'npm i --no-save codecov'
      - run:
          name: Unit Test
          command: bash -i -c 'npx ng test --progress=false --watch=false --code-coverage --browsers ChromeHeadless --source-map=false'
      - run:
          name: Codecov
          command: bash -i -c 'npx codecov'
      - persist_to_workspace:
          root: .
          paths:
            - .
  integration_test_1:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/group1/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  integration_test_2:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/group2/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  integration_test_3:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/immutableDatabaseTests/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  upload_to_s3:
    working_directory: ~/repo
    docker:
      - image: circleci/python:2.7
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    parameters:
      aws_bucket:
        type: string
        default: "${AWS_BUCKET}"
    steps:
      - when:
          condition: <<parameters.aws_bucket>>
          steps:
            - get_workspace
            - install_container_dependencies
            # Build again for the upload to s3
            # TODO: https://gui.dockstore.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7) can probably be made into a bash/circle-ci variable.
            - run:
                name: Swap for CDN paths
                command: bash -i -c "find src \( -iname '*.html' -o -iname '*.ts' -o -iname '*.json' \) -exec sed -i 's~\(\.\./\)\+assets/~https://gui\.dockstore\.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/assets/~g' {} +"
            - run:
                name: Build
                command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod -- --deploy-url https://gui.dockstore.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/'
            # Copy to a versioned folder
            - aws-s3/copy:
                from: dist
                to: 's3://${AWS_BUCKET}/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)'
                arguments: |
                  --recursive \
                  --exclude index.html
            - aws-s3/copy:
                from: dist/index.html
                to: 's3://${AWS_BUCKET}/${CIRCLE_TAG-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/index.html'
                arguments: |
                  --cache-control max-age=0
  check_build_develop:
    working_directory: ~/repo
    docker:
      - image: circleci/python:2.7
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - get_workspace
      - install_container_dependencies
        # Override the webservice version in package.json to instead build against develop webservice
      - run:
          name: set webservice to develop
          command: bash -i -c 'npm config set dockstore-ui2:webservice_version develop'
      - run:
          name: Build
          command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod'

workflows:
  version: 2
  everything:
    jobs:
#      # Add the tags filter to all jobs so they will run before upload_to_s3
      - lint_license_unit_test_coverage:
          filters:
            tags:
              only: /.*/
          context:
            - dockerhub
      - integration_test_1:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - integration_test_2:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - integration_test_3:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      # Upload builds for tags and branches to s3.
      - upload_to_s3:
          requires:
            - integration_test_1
            - integration_test_2
            - integration_test_3
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
          context:
            - dockerhub
      - check_build_develop:
          requires:
            - upload_to_s3
          filters:
            branches:
              only: /^develop/
          context:
            - dockerhub

  nightly:
    triggers:
      - schedule:
          cron: "0 11 * * *" # This is 4am PDT / 3am PST
          filters:
            branches:
              only:
                - develop
    jobs:
      - uptime_monitor_no_auth:
          stack: "dev"
          webpage_URL: "https://dev.dockstore.net"
          context:
            - dockerhub
      - uptime_monitor_no_auth:
          stack: "staging"
          webpage_URL: "https://staging.dockstore.org"
          context:
            - dockerhub
      - uptime_monitor_no_auth:
          stack: "prod"
          webpage_URL: "https://dockstore.org"
          context:
            - dockerhub
      # TODO: Add auth tests for staging/prod once https://ucsc-cgl.atlassian.net/browse/SEAB-2071 is done.
      - uptime_monitor_auth:
          stack: "dev"
          webpage_URL: "https://dev.dockstore.net"
          context:
            - dockerhub

commands:
  install_container_dependencies:
    steps:
      - run:
          name: Install java
          command: |
            sudo apt update -y
            sudo apt install openjdk-11-jre -yq
      - run:
          name: Install npm
          command: |
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            bash -i -c 'nvm install'
  get_workspace:
    steps:
      - attach_workspace:
          at: .
  upload_artifacts:
    steps:
      - store_test_results:
          path: integration-tests/test-results
      - store_artifacts:
          path: integration-tests/test-results
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
  setup_integration_test:
    steps:
      - get_workspace
      - install_container_dependencies
      - run:
          name: Install postgresql client
          command: sudo apt install -y postgresql-client || true
      - run:
          name: Install cypress dependencies
          command: sudo apt install libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb -yq
      - run:
          name: Prepare webservice
          command: bash -i -c 'npm run webservice'
      - run:
          name: Install nginx
          command: sudo apt install -y nginx || true
      - run:
          name: Prepapre nginx config
          command: sed "s%REPLACEME%`pwd`%" .circleci/nginx.conf.tmpl > .circleci/nginx.conf
      - run:
          name: Run nginx
          command: sudo nginx -c `pwd`/.circleci/nginx.conf
          background: true
      - run:
          name: Run webservice
          command: java -jar dockstore-webservice.jar server travisci/web.yml 1>/dev/null
          background: true
      - run: mkdir -p integration-tests/test-results/junit
      - run:
          name: Wait for services
          command: bash scripts/wait-for.sh
  setup_nightly_tests:
    parameters:
      webpage_URL:
        type: string
    steps:
      - checkout
      - run:
          name: Get and checkout commit id from the current webpage.
          command: |
            COMMIT_ID=$(curl << parameters.webpage_URL >> | \
                        grep -Eoi "https:\/\/gui\.dockstore\.org\/[A-Za-z0-9\.]+-[A-Za-z0-9]+" | \
                        head -1 | \
                        grep -Eoi "[A-Za-z0-9]+$")
            git checkout $COMMIT_ID
      - install_container_dependencies
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Install dependencies
          #Only run 'npm ci' if node_modules was not restored from cache
          command: |
            if [ ! -d "./node_modules" ]
            then
              bash -i -c 'npm ci'
            fi
            mkdir -p nightly-test-results/junit
      - run:
          name: Prebuild
          command: bash -i -c 'npm run prebuild.prod'
  upload_nightly_artifacts:
    steps:
      - store_test_results:
          path: nightly-test-results/
      - store_artifacts:
          path: nightly-test-results/
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
