version: 2.1
executors:
  integration_test_exec: # declares a reusable executor
    docker:
      - image: circleci/buildpack-deps:18.04-browsers
      - image: circleci/postgres:9.6-alpine
        environment: 
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
jobs:
  lint_unit_test_coverage:
    working_directory: ~/repo
    docker:
      - image: circleci/buildpack-deps:18.04-browsers
    steps:
      - checkout
      - install_container_dependencies
      - run:
          name: Install dependencies
          command: bash -i -c 'npm ci'
      - run:
          name: Check dependencies
          command: bash -i -c 'npm ls'
      - run:
          name: Lint
          command: bash -i -c 'npx ng lint'
      - run: 
          name: Build
          command: bash -i -c 'npm run build.prod'
      - run:
          name: Install codecov
          command: bash -i -c 'npm i --no-save codecov'
      - run:
          name: Unit Test
          command: bash -i -c 'npx ng test --progress=false --watch=false --code-coverage --browsers ChromeHeadless'
      - run:
          name: Codecov
          command: bash -i -c 'npx codecov'
      - persist_to_workspace:
          root: .
          paths:
            - .
  integration_test_1:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --spec cypress/integration/group1/**/*'
  integration_test_2:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --spec cypress/integration/group2/**/*'
  integration_test_3:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --spec cypress/integration/group3/**/*'
workflows:
  version: 2
  everything:
    jobs:
      - lint_unit_test_coverage
      - integration_test_1:
          requires: 
            - lint_unit_test_coverage
      - integration_test_2:
          requires: 
            - lint_unit_test_coverage
      - integration_test_3:
          requires: 
            - lint_unit_test_coverage
commands:
  install_container_dependencies:
    steps:
      - run:
          name: Install java
          command: |
            sudo apt update -y
            sudo apt install openjdk-8-jre -yq
      - run:
          name: Install npm
          command: |
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            bash -i -c 'nvm install'
  get_workspace:
    steps:
      - attach_workspace:
          at: .
  setup_integration_test:
    steps:
      - get_workspace
      - install_container_dependencies
      - run:
          name: Install postgresql client
          command: sudo apt install -y postgresql-client || true
      - run:
          name: Install cypress dependencies
          command: sudo apt install libgtk2.0-0 -yq
      - run:
          name: Install angular http server (replace with nginx)
          command: bash -i -c 'npm i angular-http-server cypress'
      - run:
          name: Prepare webservice
          command: bash -i -c 'npm run webservice'
      - run:
          name: Serve
          command: bash -i -c 'npx angular-http-server --path ./dist -p 4200'
          background: true
      - run:
          name: Run webservice
          command: java -jar dockstore-webservice.jar server travisci/web.yml 1>/dev/null
          background: true
      - run:
          name: Wait for services
          command: bash scripts/wait-for.sh
