version: 2.1
orbs:
  aws-s3: circleci/aws-s3@3.0.0
  aws-cli: circleci/aws-cli@3.1.1
  slack: circleci/slack@4.4.4
  browser-tools: circleci/browser-tools@1.2.4
executors:
  integration_test_exec: # declares a reusable executor
    docker:
      - image: cimg/base:stable-18.04
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
        environment:
          JAVA_TOOL_OPTIONS: -Xmx2g # Java can read cgroup. Sadly the cgroup in CircleCI is wrong. Have to manually set. Using 1/2 memory as heap.
      - image: cimg/postgres:13.3
        command: postgres -c max_connections=200 -c jit=off
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
        environment:
          - xpack.security.enabled: false
          - transport.host: localhost
          - network.host: 127.0.0.1
          - http.port: 9200
          - discovery.type: single-node

jobs:
  # Specify the webpage url (https://dev.dockstore.net or https://staging.dockstore.org or https://dockstore.org)
  # and stack (dev or staging or prod) and the no auth smoke tests will be run against the corresponding webpage.
  no_auth_smoke_tests:
    parameters:
      stack:
        type: string
    working_directory: ~/repo
    docker:
      - image: cimg/base:stable-20.04
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - setup_nightly_tests
      - install_cypress_dependencies
      - run:
          name: Run npx browserslist@latest --update-db
          command: bash -i -c 'npx browserslist@latest --update-db'
      - run:
          name: Run
          command: bash -i -c 'npm run test-<< parameters.stack >>-waf'
          no_output_timeout: 30m
      - run:
          name: Run remote verification of WAF against << parameters.stack >>
          command: bash -i -c 'npm run test-<< parameters.stack >>-waf'
          environment:
            MOCHA_FILE: nightly-test-results/junit/test-<< parameters.stack >>-waf-[hash].xml
          no_output_timeout: 30m
      - upload_nightly_artifacts
#      - slack/notify:
#          channel: $<< parameters.stack >>_id
#          event: fail
#          template: basic_fail_1
#      - slack/notify:
#          channel: $<< parameters.stack >>_id
#          event: pass
#          template: basic_success_1

  # Specify the webpage url (https://dev.dockstore.net or https://staging.dockstore.org or https://dockstore.org)
  # and stack (dev or staging or prod) and the no auth smoke tests will be run against the corresponding webpage.
  auth_smoke_tests:
    parameters:
      stack:
        type: string
    working_directory: ~/repo
    docker:
        - image: cimg/base:stable-20.04
          auth:
            username: dockstoretestuser
            password: $DOCKERHUB_PASSWORD
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - setup_nightly_tests
      - install_cypress_dependencies
      - run:
          name: Run npx browserslist@latest --update-db
          command: bash -i -c 'npx browserslist@latest --update-db'
      - run:
          name: Run remote verification test against << parameters.stack >> (with auth)
          command: bash -i -c 'npm run test-<< parameters.stack >>-auth'
          environment:
            MOCHA_FILE: nightly-test-results/junit/test-<< parameters.stack >>-auth-[hash].xml
          no_output_timeout: 30m
      - upload_nightly_artifacts
#      - slack/notify:
#          channel: $<< parameters.stack >>_id
#          event: fail
#          template: basic_fail_1
#      - slack/notify:
#          channel: $<< parameters.stack >>_id
#          event: pass
#          template: basic_success_1

  audit:
    working_directory: ~/repo
    docker:
      - image: cimg/base:stable-20.04
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - run:
          name: Checkout merge commit (PRs only)
          command: |
            if [[ -n "${CIRCLE_PULL_REQUEST}" ]]
            then
              git fetch origin +refs/pull/${CIRCLE_PULL_REQUEST##*/}/merge:
              git checkout -qf FETCH_HEAD
            fi
      - install_container_dependencies
      - run:
          name: Run npm audit
          # Run npm audit on current branch and compare it with the results of running npm audit on the base branch that is set in the package.json. If there are more
          # high or critical findings in the current branch, then the test fails. If the same number of findings are found, then check that the vulnerabilities are the same.
          # If they are are different, then the test fails.
          command: |
            bash -i -c "npm run compare-audits"

  lint_license_unit_test_coverage:
    working_directory: ~/repo
    docker:
      - image: cimg/base:stable-20.04
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - run:
          name: Checkout merge commit (PRs only)
          command: |
            if [[ -n "${CIRCLE_PULL_REQUEST}" ]]
            then
              git fetch origin +refs/pull/${CIRCLE_PULL_REQUEST##*/}/merge:
              git checkout -qf FETCH_HEAD
            fi
      - install_container_dependencies
      - restore_cache:
          key: dep-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Install dependencies
          #Only run 'npm ci' if node_modules was not restored from cache
          command: |
              if [ ! -d "./node_modules" ]
              then
                bash -i -c 'npm ci'
              fi
      - save_cache:
          key: dep-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
          paths:
            - ./node_modules
      - save_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
          paths:
            - ~/.cache
              # Disabled until ng2-ui-auth and @ngx-lite/json is replaced. Currently they do not support Angular 9
              #      - run:
              #          name: Check dependencies
              #          command: bash -i -c 'npm ls'
      - run:
          name: Lint
          command: bash -i -c 'npm run lint'
      - run:
          name: License Test
          command: |
            bash -i -c 'npm run circle-ci-license-test-file'
            bash scripts/detect-package-json-changes.sh
      - run:
          name: Build
          command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod'
      - run:
          name: Install codecov
          command: bash -i -c 'npm i --no-save codecov'
      - run:
          name: Unit Test
          command: bash -i -c 'npx ng test --progress=false --watch=false --code-coverage --browsers ChromeHeadless --source-map=false'
      - run:
          name: Codecov
          command: bash -i -c 'npx codecov'
      - persist_to_workspace:
          root: .
          paths:
            - .
  integration_test_1:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/group1/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  integration_test_2:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/group2/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  integration_test_3:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/group3/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  integration_test_4:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_integration_test
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Test
          command: bash -i -c 'npx cypress run --record --config numTestsKeptInMemory=1 --reporter junit --spec cypress/integration/immutableDatabaseTests/**/*'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-results-[hash].xml
          when: always
      - upload_artifacts
  local_smoke_tests:
    executor: integration_test_exec
    working_directory: ~/repo
    steps:
      - setup_smoke_tests
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Run local smoke tests (no auth)
          command: bash -i -c 'npm run test-local-no-auth'
          environment:
            MOCHA_FILE: integration-tests/test-results/junit/test-local-no-auth-[hash].xml
          when: always
      - upload_artifacts
  upload_to_s3:
    working_directory: ~/repo
    docker:
      - image: cimg/python:2.7
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    parameters:
      aws_bucket:
        type: string
        default: "${AWS_BUCKET}"
    steps:
      - when:
          condition: <<parameters.aws_bucket>>
          executor: aws-cli/default
          steps:
            - aws-cli/setup:
                profile-name: WEB IDENTITY PROFILE
                role-arn: $AWS_ROLE_ARN
                role-session-name: "CircleCI-${CIRCLE_WORKFLOW_ID}-${CIRCLE_JOB}"
            - get_workspace
            - install_container_dependencies
            # Build again for the upload to s3
            # TODO: https://gui.dockstore.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7) can probably be made into a bash/circle-ci variable.
            - run:
                name: Swap for CDN paths
                command: bash -i -c "find src \( -iname '*.html' -o -iname '*.ts' -o -iname '*.json' \) -exec sed -i 's~\(\.\./\)\+assets/~https://gui\.dockstore\.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/assets/~g' {} +"
            - run:
                name: Build
                command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod -- --deploy-url https://gui.dockstore.org/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/'
            # Copy to a versioned folder
            - aws-s3/copy:
                from: dist
                to: 's3://${AWS_BUCKET}/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)'
                arguments: |
                  --recursive \
                  --exclude index.html
            - aws-s3/copy:
                from: dist/index.html
                to: 's3://${AWS_BUCKET}/${CIRCLE_TAG-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/index.html'
                arguments: |
                  --cache-control max-age=0
  check_build_develop:
    working_directory: ~/repo
    docker:
      - image: cimg/python:2.7
        auth:
          username: dockstoretestuser
          password: $DOCKERHUB_PASSWORD
    steps:
      - get_workspace
      - install_container_dependencies
        # Override the webservice version in package.json to instead build against develop webservice
      - run:
          name: set webservice to develop
          command: bash -i -c 'npm config set dockstore-ui2:webservice_version develop'
      - run:
          name: Build
          command: NODE_OPTIONS="--max-old-space-size=1610" bash -i -c 'npm run build.prod'

workflows:
  version: 2
  everything:
    triggers:
      - schedule:
          cron: "0 10 * * *" # This is 3am PDT / 2am PST
          filters:
            branches:
              only:
                - develop
    jobs:
#      # Add the tags filter to all jobs so they will run before upload_to_s3
      - audit:
        filters:
          tags:
            only: /.*/
          context:
            - dockerhub
      - lint_license_unit_test_coverage:
          filters:
            tags:
              only: /.*/
          context:
            - dockerhub
      - integration_test_1:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - integration_test_2:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - integration_test_3:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - integration_test_4:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      - local_smoke_tests:
          filters:
            tags:
              only: /.*/
          requires:
            - lint_license_unit_test_coverage
          context:
            - dockerhub
      # Upload builds for tags and branches to s3.
      - upload_to_s3:
          requires:
            - audit
            - lint_license_unit_test_coverage
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
          context:
            - dockerhub
            - aws-ui2
      - check_build_develop:
          requires:
            - upload_to_s3
          filters:
            branches:
              only: /^develop/
          context:
            - dockerhub

  nightly_no_auth:
    jobs:
      - no_auth_smoke_tests:
          name: "no_auth_smoke_tests_dev"
          stack: "dev"
          context:
            - dockerhub
            - oicr-slack
#      - no_auth_smoke_tests:
#          name: "no_auth_smoke_tests_staging"
#          stack: "staging"
#          context:
#            - dockerhub
#            - oicr-slack
#      - no_auth_smoke_tests:
#          name: "no_auth_smoke_tests_prod"
#          stack: "prod"
#          context:
#            - dockerhub
#            - oicr-slack

  nightly_auth:
    jobs:
      - auth_smoke_tests:
          name: "auth_smoke_tests_dev"
          stack: "dev"
          context:
            - dockerhub
            - oicr-slack
#      - auth_smoke_tests:
#          name: "auth_smoke_tests_staging"
#          stack: "staging"
#          context:
#            - dockerhub
#            - oicr-slack
#      - auth_smoke_tests:
#          name: "auth_smoke_tests_prod"
#          stack: "prod"
#          context:
#            - dockerhub
#            - oicr-slack

commands:
  install_container_dependencies:
    steps:
      - run:
          name: Install java
          command: |
            sudo apt update -y
            sudo apt install openjdk-17-jdk -yq
      - run:
          name: Install npm
          command: |
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
            bash -i -c 'nvm install'
  get_workspace:
    steps:
      - attach_workspace:
          at: .
  upload_artifacts:
    steps:
      - store_test_results:
          path: integration-tests/test-results
      - store_artifacts:
          path: integration-tests/test-results
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
  install_cypress_dependencies:
    steps:
      - run:
          name: Install cypress dependencies
          command: sudo apt-get install libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb -yq
  setup_integration_test:
    parameters:
      db_dump:
        type: string
        default: "db_dump.sql"
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - get_workspace
      - install_container_dependencies
      - run:
          name: Install postgresql client
          command: sudo apt install -y postgresql-client || true
      - install_cypress_dependencies
      - run:
          name: Prepare webservice
          command: bash -i -c 'DB_DUMP=<< parameters.db_dump >> npm run webservice'
          environment:
            PAGER: cat # prevent psql commands using less https://stackoverflow.com/questions/53055044/rails-rake-dbstructureload-times-out-on-circleci-2-0
      - run:
          name: Install nginx
          command: sudo apt install -y nginx || true
      - run:
          name: Prepapre nginx config
          command: sed "s%REPLACEME%`pwd`%" .circleci/nginx.conf.tmpl > .circleci/nginx.conf
      - run:
          name: Run nginx
          command: sudo nginx -c `pwd`/.circleci/nginx.conf
          background: true
      - run:
          name: Run webservice
          command: java -jar dockstore-webservice.jar server test/web.yml 1>/dev/null
          background: true
      - run: mkdir -p integration-tests/test-results/junit
      - run:
          name: Wait for services
          command: bash scripts/wait-for.sh
  setup_nightly_tests:
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - install_container_dependencies
      - restore_cache:
          key: cypress-cache-{{ .Environment.CACHE_VERSION }}-{{ checksum "./package-lock.json" }}
      - run:
          name: Install dependencies
          #Only run 'npm ci' if node_modules was not restored from cache
          command: |
            if [ ! -d "./node_modules" ]
            then
              bash -i -c 'npm ci'
            fi
            mkdir -p nightly-test-results/junit
      - run:
          name: Prebuild
          command: bash -i -c 'npm run prebuild.prod'
  setup_smoke_tests:
    steps:
      - setup_integration_test:
          db_dump: "smoke_test_db.sql"
      - run:
          name: Index ES
          command: |
            curl -X POST "localhost:4200/api/api/ga4gh/v2/extended/tools/index" -H "accept: text/plain" -H "Authorization: Bearer fake-admin-token"
          requires:
            - setup_integration_test
  upload_nightly_artifacts:
    steps:
      - store_test_results:
          path: nightly-test-results/
      - store_artifacts:
          path: nightly-test-results/
      - store_artifacts:
          path: cypress/videos
      - store_artifacts:
          path: cypress/screenshots
