<div *ngIf="showButtons" class="flex-wrap-gap" fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="0.5rem">
  <a
    *ngIf="tool?.is_published"
    [routerLink]="['/tools/', tool.tool_path]"
    data-cy="viewPublicToolButton"
    mat-flat-button
    class="secondary-1"
    [disabled]="isRefreshing$ | async"
    [matTooltip]="viewPublicMessage"
  >
    View public page
  </a>
  <div [matTooltip]="pubUnpubMessage">
    <button
      id="publishToolButton"
      mat-raised-button
      class="accent-1-dark-btn mat-elevation-z"
      (click)="publishToggle()"
      [disabled]="(isRefreshing$ | async) || publishDisabled"
    >
      {{ tool?.is_published ? 'Unpublish' : 'Publish' }}
    </button>
  </div>
  <ng-container *ngIf="tool?.is_published; then disabledDeleteButton; else enabledDeleteButton"></ng-container>
  <ng-template #disabledDeleteButton>
    <button *ngIf="tool?.is_published" mat-flat-button color="warn" disabled matTooltip="Delete the tool">Delete</button>
  </ng-template>
  <ng-template #enabledDeleteButton>
    <app-deregister-modal *ngIf="!tool?.is_published" [refreshMessage]="isRefreshing$ | async"></app-deregister-modal>
  </ng-template>
  <button
    *ngIf="!isHosted"
    mat-raised-button
    class="accent-1-dark-btn mat-elevation-z"
    (click)="refresh()"
    [disabled]="isRefreshing$ | async"
    matTooltip="Sync the tool with the Docker image repository, etc"
  >
    Refresh
  </button>
</div>
