@if (showButtons) {
<div class="flex-wrap-gap" fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="0.5rem">
  @if (tool?.is_published) {
  <a
    [routerLink]="['/tools/', tool.tool_path]"
    data-cy="viewPublicToolButton"
    mat-button
    color="accent"
    [disabled]="isRefreshing$ | async"
    [matTooltip]="viewPublicMessage"
  >
    View public page
  </a>
  } @if (!tool?.archived) {
  <div [matTooltip]="pubUnpubMessage">
    <button
      id="publishToolButton"
      [attr.data-cy]="(tool?.is_published ? 'unpublish' : 'publish') + '-button'"
      mat-flat-button
      class="accent-1-dark"
      (click)="publishToggle()"
      [disabled]="(isRefreshing$ | async) || publishDisabled"
    >
      {{ tool?.is_published ? 'Unpublish' : 'Publish' }}
    </button>
  </div>
  @if (tool?.is_published) { @if (tool?.is_published) {
  <button mat-flat-button color="warn" disabled matTooltip="Delete the tool">Delete</button>
  } } @else { @if (!tool?.is_published) {
  <app-deregister-modal [refreshMessage]="isRefreshing$ | async"></app-deregister-modal>
  } }
  <button
    mat-flat-button
    class="accent-1-dark"
    (click)="archive()"
    [disabled]="isRefreshing$ | async"
    matTooltip="Archive this tool"
    data-cy="archiveButton"
  >
    Archive
  </button>
  @if (!isHosted) {
  <button
    mat-flat-button
    class="accent-1-dark"
    (click)="refresh()"
    [disabled]="isRefreshing$ | async"
    matTooltip="Sync the tool with the Docker image repository, etc"
    data-cy="refreshButton"
  >
    Refresh
  </button>
  } } @if (tool?.archived) {
  <button
    mat-flat-button
    class="accent-1-dark"
    (click)="unarchive()"
    [disabled]="isRefreshing$ | async"
    matTooltip="Unarchive this tool"
    data-cy="unarchiveButton"
  >
    Unarchive
  </button>
  }
</div>
}
