<div *ngIf="showButtons" class="flex-wrap-gap" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="0.5rem">
  <a
    *ngIf="workflow?.is_published"
    [routerLink]="['/' + entryType + 's/', workflow.full_workflow_path]"
    data-cy="viewPublicWorkflowButton"
    mat-button
    color="accent"
    [disabled]="isRefreshing$ | async"
    [matTooltip]="viewPublicMessage"
  >
    View public page
  </a>
  <ng-container *ngIf="!workflow?.archived">
    <div [matTooltip]="pubUnpubMessage">
      <button
        mat-flat-button
        class="accent-1-dark"
        id="publishButton"
        (click)="publishToggle()"
        [disabled]="(isRefreshing$ | async) || publishDisabled"
      >
        {{ workflow?.is_published ? 'Unpublish' : 'Publish' }}
      </button>
    </div>
    <button
      mat-flat-button
      class="accent-1-dark"
      (click)="refresh()"
      [disabled]="isRefreshing$ | async"
      *ngIf="!isHosted && canWrite && workflow?.mode !== WorkflowModel.ModeEnum.DOCKSTOREYML"
      matTooltip="Sync the {{ entryType }} with the source control repository"
      data-cy="refreshButton"
    >
      {{ 'Refresh' }}
    </button>
    <ng-container *ngIf="workflow?.deletable">
      <button
        mat-flat-button
        class="accent-1-dark"
        (click)="delete()"
        [disabled]="isRefreshing$ | async"
        matTooltip="Delete this {{ entryType }}"
        data-cy="deleteButton"
      >
        Delete
      </button>
    </ng-container>
    <ng-container *ngIf="!workflow?.deletable">
      <button
        mat-flat-button
        class="accent-1-dark"
        (click)="archive()"
        [disabled]="isRefreshing$ | async"
        matTooltip="Archive this {{ entryType }}"
        data-cy="archiveButton"
      >
        Archive
      </button>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="workflow?.archived">
    <button
      mat-flat-button
      class="accent-1-dark"
      (click)="unarchive()"
      [disabled]="isRefreshing$ | async"
      matTooltip="Unarchive this {{ entryType }}"
      data-cy="unarchiveButton"
    >
      Unarchive
    </button>
  </ng-container>
</div>
