@use '@angular/material' as mat;

@import '/src/materialColorScheme.scss';

.change-username-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

mat-form-field {
  width: 60%;
}

mat-error {
  line-height: 2rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}
