<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Sitemap
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid mt-3">
    <h3 class="documentation">Tools and Workflows</h3>
    <ul>
      <li>
        <a [routerLink]="['/tools']">
          Tools
        </a>
      </li>
      <li>
        <a [routerLink]="['/workflows']">
          Workflows
        </a>
      </li>
      <li *ngIf="devMode">
        <a [routerLink]="['/services']">
          Services
        </a>
      </li>
      <li>
        <a [routerLink]="['/search']">
          Search
        </a>
      </li>
      <li>
        <a [routerLink]="['/organizations']">
          Organizations
        </a>
      </li>
    </ul>
    <h3 class="documentation">Using Dockstore</h3>
    <ul>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/news.html">
          News and Events
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/advanced-topics/advanced-features.html">
          Advanced Features
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/faq.html">
          FAQ
        </a>
      </li>
      <!-- add terms of service here when ready
      <li>
        <a href="../assets/docs/<filename here>.pdf">
          Terms of Service
        </a>
      </li>
      -->
      <li>
        <a target="_blank" href="../assets/docs/Dockstore_Privacy Policy_v2.5.pdf">
          Privacy Policy
        </a>
      </li>
      <li>
        <a target="_blank" href="../assets/docs/Dockstore_Terms_of_Service.pdf">
          Terms of Service
        </a>
      </li>
    </ul>
    <h3>Adding to Dockstore</h3>
    <ul>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/register-on-dockstore.html">
          Sign Up for Accounts
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/getting-started-with-docker.html">
          Create Your Tool
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/getting-started-with-cwl.html">
          Describe Your Tool
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/dockstore-tools.html">
          Register Your Tool in Dockstore
        </a>
      </li>
    </ul>
    <h3>About Dockstore</h3>
    <ul>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html">
          About the Dockstore
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html#built-with-docker-and-git">
          Built with Quay.io and Github
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html#strategies">
          Best Practices
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html#promoting-standards">
          Promoting Standards
        </a>
      </li>
      <li>
        <a target="_blank" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html#future-plans">
          Future Plans
        </a>
      </li>
    </ul>
  </div>
</div>
