<div *ngFor="let registryObj of registryToTools | keyvalue: defaultOrdering">
  <div *ngIf="registryObj.value.groupEntryInfo.length" class="registryTitle">
    <img src="../../../assets/images/registries/{{ registryObj.value.registryTitle }}.svg" class="mb-2" alt="Registry" />
    {{ registryObj.value?.registryTitle }}
  </div>

  <mat-accordion multi="true">
    <mat-expansion-panel [expanded]="orgObj.expanded" class="mat-elevation-z tool" *ngFor="let orgObj of registryObj.value.groupEntryInfo">
      <mat-expansion-panel-header class="tool pt-2">
        {{ orgObj?.namespace }}
      </mat-expansion-panel-header>

      <mat-tab-group
        *ngIf="(toolId$ | async) || (appToolId$ | async)"
        mat-stretch-tabs
        class="tool-tab-group"
        [selectedIndex]="orgObj | selectTab: (toolId$ | async)"
      >
        <mat-tab label="Published">
          <ng-template *ngTemplateOutlet="items; context: { items: orgObj.published, itemState: 'published' }"></ng-template>
        </mat-tab>
        <mat-tab label="Unpublished">
          <ng-template *ngTemplateOutlet="items; context: { items: orgObj.unpublished, itemState: 'unpublished' }"></ng-template>
        </mat-tab>
        <mat-tab *ngIf="orgObj?.archived.length" label="Archived">
          <ng-template *ngTemplateOutlet="items; context: { items: orgObj.archived, itemState: 'archived' }"></ng-template>
        </mat-tab>
      </mat-tab-group>
      <ng-template #items let-items="items" let-itemState="itemState">
        <mat-list class="org-accordion-list">
          <mat-list-item *ngFor="let toolObj of items" [ngClass]="{ selectedTool: (toolId$ | async) === toolObj?.id }">
            <mat-icon *ngIf="(toolId$ | async) === toolObj?.id" class="mr-1 mat-icon-sm">arrow_forward</mat-icon>
            <a
              class="no-wrap"
              title="{{ toolObj?.name + (toolObj?.toolname ? '/' + toolObj?.toolname : '') }}"
              [routerLink]="'/my-tools/' + toolObj.tool_path"
            >
              {{ toolObj?.name + (toolObj?.toolname ? '/' + toolObj?.toolname : '') }}
            </a>
          </mat-list-item>
          <mat-list-item *ngIf="items.length === 0">
            <p class="text-center size-small">No {{ itemState }} tools.</p>
          </mat-list-item>
        </mat-list>
      </ng-template>
      <mat-action-row>
        <app-refresh-tool-organization class="pull-right" [orgToolObject]="orgObj"></app-refresh-tool-organization>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
