// Header style - Expanded
mat-expansion-panel-header,
mat-expansion-panel-header[aria-expanded='true']:hover,
mat-expansion-panel-header[aria-expanded='true']:focus {
  background-color: #f3fbff;
}

// Expansion body expanded
:host ::ng-deep mat-expansion-panel .mat-expansion-panel-content {
  background-color: #f3fbff;
}

// Selected tool style
.selected {
  background-color: #d0effd;
}
