@use '@angular/material' as mat;

@import '/src/materialColorScheme.scss';

// Header style - Expanded
mat-expansion-panel-header,
mat-expansion-panel-header[aria-expanded='true']:hover,
mat-expansion-panel-header[aria-expanded='true']:focus {
  background-color: $tool-background-color;
}

// Expansion body
:host ::ng-deep mat-expansion-panel .mat-expansion-panel-content {
  background-color: $tool-background-color;
}

// Selected tool style
.selectedTool {
  background-color: $tool-selection-color;
}
