<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Login to Collaboratory Dockstore
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container separation">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel login-panel panel-primary ds-login-panel">
        <div class="panel-heading">
          Authentication Options
        </div>
        <div class="panel-body">
          <a class="btn btn-block btn-social btn-github" (click)="loginWithGitHub()">
            <span class="fa fa-github"></span> Sign in with GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
