<div class="row" *ngIf="error || refreshing || missingWarning">
  <div class="col-md-12" *ngIf="!isWorkflowPublic">
    <div class="alert alert-danger alert-dismissable" ng-class="!editMode ? 'push-top' : ''" role="alert" *ngIf="error">
      <button type="button" class="close" data-dismiss="alert" ng-click="setError(null)">
        &times;
      </button>
      <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{error.message}}
      </p>
      <p class="error-output">{{error.errorDetails}}</p>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="refreshing">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
      </span>
      Please wait, retrieving workflow...
    </div>
    <div class="alert alert-warning" ng-class="!editMode ? 'push-top' : ''" role="alert" *ngIf="missingWarning">
      <button type="button" class="close" data-dismiss="alert" ng-click="missingWarning = false">
        &times;
      </button>
      <span class="glyphicon glyphicon-warning-sign">
      </span>
      {{ missingContent.length === 1 ? 'Field that is missing from file: ' : 'Fields that are missing from file: '}} {{missingContent}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
  <h3>
    <span id="verifiedIcon" *ngIf="workflow?.versionVerified">
      <a href= {{workflow?.verifiedLinks}}>
        <span class="glyphicon glyphicon-ok" tooltip="Verified"></span>
      </a>
    </span>
    {{ title }}
    <app-starring *ngIf="isWorkflowPublic" (change)="starGazersChange()"></app-starring>
  </h3>
  <div *ngIf="workflow">
    <span class="label label-default container-label" *ngFor="let label of labels">
      {{label}}
    </span>
  </div>
  <p class="update">
    Last Modified: {{ workflow?.agoMessage || 'n/a' }}
  </p>
  <div *ngIf="starGazersClicked">
    <app-stargazers></app-stargazers>
    <button id="backButton" type="button" (click)="starGazersClicked=false" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>Back to details
    </button>
  </div>
  </div>
    <div *ngIf="!publicPage">
    <h3>
      <div class="pull-right">
        <div class="btn-group" role="group">
          <button id="publishWorkflowButton" type="button" [ngClass]="{'disabled': publishDisable()}" class="btn btn-warning" (click)="publish()" [(ngModel)]="published" [disabled]="!isValid" btnCheckbox>
            {{workflow?.is_published ? 'Unpublish' : 'Publish'}}
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="refresh()" [disabled]="refreshing">
          Refresh
        </button>
      </div>
    </h3>
  </div>
</div>
<div class="row" *ngIf="!starGazersClicked">
  <div class="ds-tabs col-sm-12" [ngClass]="{'col-md-9 col-lg-9': isWorkflowPublic}">
    <tabset id="workflow_tabs" justified="true">
      <tab id="infoTab" heading="Info" id="infoTab" (select)="setTab('Info')">
        <ul class="list-unstyled container-info" *ngIf="workflow">
          <li *ngIf="workflow?.path">
            <strong tooltip="Complete path of workflow, used as a unique identifier">
              Path
            </strong>: {{ workflow?.path}}
          </li>
          <li *ngIf="workflow?.provider && workflow?.providerUrl">
            <strong tooltip="Git repository for the associated descriptors">
              {{ workflow?.provider}}
            </strong>:
            <a [href]="workflow?.providerUrl">
              {{ workflow?.providerUrl }}
            </a>
          </li>
          <li *ngIf="workflow?.author">
            <strong tooltip="Author listed in descriptor">Author</strong>: {{ workflow?.author }}
          </li>
          <li *ngIf="workflow?.email">
            <strong tooltip="E-mail of corresponding author for workflow">E-mail</strong>:
            <a href="mailto:{{workflow?.email}}">
              {{ workflow?.email }}
            </a>
          </li>
          <li *ngIf="workflow?.workflow_path">
            <strong tooltip="Path in Git repository to main descriptor file">Workflow Path</strong>: {{ workflow?.workflow_path }}
          </li>
          <li *ngIf="!isPublic">
            <strong uib-tooltip-html="modeTooltip">Mode</strong>:
            {{workflow?.mode}}
            <a *ngIf="workflow?.mode !== 'STUB' && !workflow?.is_published && !refreshing" (click)="restubWorkflow()">
              (Restub)
            </a>
          </li>
          <li *ngIf="workflow?.descriptorType">
            <strong tooltip="Type of descriptor language used">Descriptor Type</strong>: {{ workflow?.descriptorType }}
          </li>
        </ul>
        <div *ngIf="workflow">
          <div *ngIf="workflow?.description || !isWorkflowPublic">
            <label tooltip="Description of workflow obtained from workflow descriptor">
              Description
            </label>
            <div *ngIf="workflow?.description" class="well well-sm">
              <markdown [data]="workflow?.description"></markdown>
            </div>
            <div *ngIf="!workflow?.description && !isWorkflowPublic" class="well well-sm">
              <span class = "glyphicon glyphicon-warning-sign"></span>
              <span ng-show="!containerObj.description">
                No description associated with this workflow.  See <a href="https://dockstore.org/docs/getting-started-with-cwl">Dockstore's Getting Started With CWL</a> and <a href="http://www.commonwl.org/v1.0/CommandLineTool.html#CommandLineTool">commonwl.org</a> for how to define a description for this tool.
              </span>
            </div>
          </div>
          <div *ngIf="validVersions">
            <app-launch [versions]="validVersions" [default]="defaultVersion" [path]="workflow?.path"></app-launch>
          </div>
        </div>
      </tab>
      <tab id="labelsTab" heading="Labels" (select)="setTab('Labels')">
        <button type="sbutton" *ngIf="!labelsEditMode && !isWorkflowPublic" class="btn btn-link pull-right" (click)="toggleLabelsEditMode()">
          <span class="glyphicon glyphicon-edit"></span>Edit
        </button>
        <ul class="list-unstyled container-info" *ngIf="!labelsEditMode">
          <li *ngIf="workflow">
            <strong>Labels:</strong>
            <span *ngIf="workflow?.labels.length === 0">n/a</span>
            <span class="label label-default container-label" *ngFor="let label of labels">
              {{label}}
            </span>
          </li>
        </ul>
        <form name="editWorkflowForm" class="edit-container form-inline" (ngSubmit)="submitWorkflowEdits()" #labelForm="ngForm" novalidate>
          <button type="submit" class="btn btn-link pull-right" [disabled]="!labelForm.form.valid" *ngIf="labelsEditMode && !isWorkflowPublic">
            <span class="glyphicon glyphicon-floppy-save"></span>Save
          </button>
          <div *ngIf="labelsEditMode && !isWorkflowPublic">
            <div class="form-group">
              <label>Workflow Labels:</label>
              <input id="workflowLabels" type="text" class="input-sm form-control" name="workflowLabels" [(ngModel)]="workflowEditData.labels" #name="ngModel" maxlength="512" [pattern]="labelPattern" placeholder="e.g. dockstore, oicr-icgc, pancancer" />
            </div>
            <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
              <div [hidden]="!name.errors.maxlength">
                Labels string is too long. (Max 512 characters.)
              </div>
              <div [hidden]="!name.errors.pattern">
                Labels are comma-delimited, and may only contain alphanumerical characters and internal hyphens.
              </div>
            </div>
          </div>
        </form>
      </tab>
      <tab id="versionsTab" heading="Versions" *ngIf="validVersions" (select)="setTab('Versions')">
        <app-versions-workflow [versions]="workflow?.workflowVersions" [verifiedSource]="workflow?.verifiedSources" [workflowId]="workflow?.id">
        </app-versions-workflow>
      </tab>
      <tab id="fileTab" heading="Files" *ngIf="validVersions" (select)="setTab('Files')">
        <app-files-workflow *ngIf="validVersions && checkMode('Files')" [id]="workflow?.id" [versions]="validVersions" [default]="defaultVersion">
        </app-files-workflow>
      </tab>
      <tab id="toolsTab" heading="Tools" *ngIf="validVersions" (select)="setTab('Tools')"></tab>
      <tab id="dagTab" heading="DAG" *ngIf="validVersions" (select)="setTab('DAG')">
        <app-dag *ngIf="checkMode('DAG')" [id]="workflow?.id" [validVersions]="validVersions" [defaultVersion]="defaultVersion"></app-dag>
      </tab>
    </tabset>
  </div>
  <div class="side-block col-md-3 ng-scope" *ngIf="isWorkflowPublic">
    <div class="panel panel-default" *ngIf="workflow">
      <div class="panel-heading">
        <h3>Source Repositories</h3>
      </div>
      <div class="panel-body">
        <div class="container-source-repos">
          <p>
            <span *ngIf="workflow.provider">
              <a [href]="workflow.providerUrl">
                {{workflow.provider}}
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="workflow && dnastackURL">
      <div class="panel-heading">
        <h3>Launch with</h3>
      </div>
      <div class="panel-body">
        <div class="container-source-repos">
          <div class="container-launch-with">
            <div class="button">
              <p><a href="{{dnastackURL}}"><img src="../../assets/images/docs/dnastack.png"> DNAstack &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="workflow?.versionVerified">
      <div class="panel-heading">
        <h3>Verified</h3>
      </div>
      <div class="panel-body">
        <div class="container-source-repos">
          <ul class="list-unstyled container-info">
            <li *ngFor="let source of workflow?.verifiedSources">
              <strong>{{source.version}} is verified by: </strong>
              <p class="ellipsis-lines" [tooltip]="source.verifiedSource">
                {{source.verifiedSource}}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="workflow">
      <div class="panel-heading">
        <h3>Sharing</h3>
      </div>
      <div class="panel-body">
        <div class="container-sharing">
          <share-buttons class="withCount" [url]="shareURL" [whatsApp]="false" [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false" [showCount]="true" (count)="sumCounts($event)">
          </share-buttons>
        </div>
      </div>
    </div>
  </div>
</div>
