<div>
  <ol>
    <li>
      <span data-cy="install-dockstore-app"
        >Click the "Manage..." button below to install Dockstore's App on your GitHub repositories that contain
        {{ entryTypeMetadata.term }}s. The App notifies Dockstore whenever the repositories change.</span
      >
    </li>
    <li>
      Describe your {{ entryTypeMetadata.term }}s by adding a
      <a href="{{ Dockstore.DOCUMENTATION_URL }}/assets/templates/template.html" target="_blank" rel="noopener noreferrer"
        >.dockstore.yml</a
      >
      to the root directory of the repositories where you installed the App.
    </li>
    <li>Push your changes and wait two minutes for Dockstore to read your {{ entryTypeMetadata.term }}s.</li>
    <li>
      Refresh your Dockstore dashboard to see your {{ entryTypeMetadata.term }}s. If they don't appear, click the dashboard's "{{
        entryTypeMetadata.term | titlecase
      }}s" tile and click on the organization's "Apps Logs" button to see what went wrong.
    </li>
  </ol>

  <p class="pb-1">
    For more details, see our
    <a href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/github-apps/github-apps.html" target="_blank" rel="noopener noreferrer">
      documentation
      <mat-icon>open_in_new</mat-icon> </a
    >.
  </p>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" class="mb-4">
    <button
      mat-raised-button
      type="button"
      class="accent-1-dark-btn mat-elevation-z no-underline"
      (click)="openGitHubApp()"
      target="_blank"
      rel="noopener noreferrer"
      [disabled]="isUsernameChangeRequired$ | async"
      matTooltip="Manage Dockstore installations on GitHub"
    >
      <mat-icon>add</mat-icon> Manage Dockstore installations on GitHub
    </button>
  </div>
</div>
