<div>
  <p>Perform the following in order:</p>
  <ol>
    <li>Click the button below to install the Dockstore GitHub app on your GitHub organizations or specific repositories.</li>
    <li>Push a valid .dockstore.yml to the root of a GitHub repo that has the Dockstore GitHub app installed.</li>
    <li>After 2 minutes, refresh your dashboard, and you should see the {{ entryType }}.</li>
    <li>
      If you don't see the {{ entryType }}, navigate to <a routerLink="/my-{{ entryType }}s">my-{{ entryType }}s</a>, and click the Apps
      Logs link for the GitHub organization for more details.
    </li>
  </ol>
  For more details, see our
  <a href="{{ Dockstore.DOCUMENTATION_URL }}/getting-started/github-apps/github-apps.html" target="_blank" rel="noopener noreferrer">
    documentation <mat-icon>open_in_new</mat-icon> </a
  >.
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem" class="mb-2">
    <a
      mat-raised-button
      type="button"
      class="accent-1-dark-btn mat-elevation-z no-underline"
      [href]="gitHubAppInstallationLink$ | async"
      [disabled]="isUsernameChangeRequired$ | async"
      matTooltip="Manage Dockstore installations on GitHub"
      ><mat-icon>add</mat-icon> Manage Dockstore installations on GitHub</a
    >
  </div>
</div>
