@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

.pending-requests {
  color: $service-color;
}

.pending-invites {
  color: mat.get-color-from-palette($dockstore-app-error, 1);
}

.pending-links {
  width: 6rem;
  line-height: 1.5rem;
}
