<mat-card class="h-100">
  <div id="header-bar" fxLayout="row" fxLayoutGap="1rem" class="space-between">
    <div id="organization-number" fxLayout="row">
      <mat-card-header fxLayout="row">
        <mat-card-title>Organizations</mat-card-title>
        <span class="bubble">{{ listOfOrganizations.length }}</span>
      </mat-card-header>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <div id="pending-requests" fxLayout="row" fxLayoutAlign="center center" class="mb-3">
        <mat-icon class="pending-requests mr-1">pending_icon</mat-icon>
        <a routerLink="/accounts" class="size-small pending-links">
          <div [ngPlural]="pendingRequests.length">
            <ng-template ngPluralCase="=1">1 Pending Request</ng-template>
            <ng-template ngPluralCase="other">{{ pendingRequests.length }} Pending Requests</ng-template>
          </div>
        </a>
      </div>
      <div id="pending-invites" fxLayout="row" fxLayoutAlign="center center" class="mb-3">
        <mat-icon class="pending-invites mr-1">error</mat-icon>
        <a routerLink="/accounts" class="size-small pending-links">
          <div [ngPlural]="pendingInvites.length">
            <ng-template ngPluralCase="=1">1 Pending Invitation</ng-template>
            <ng-template ngPluralCase="other">{{ pendingInvites.length }} Pending Invitations</ng-template>
          </div>
        </a>
      </div>
      <button
        mat-button
        class="private-btn small-btn-structure mb-3"
        id="requestOrganizationButton"
        matTooltip="Request Organization"
        matTooltipPosition="after"
        (click)="requireAccounts()"
      >
        <img src="../../../assets/svg/icons-plus.svg" alt="Register an Organization" class="pr-2 pb-1" />
        Request an Organization
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="p-3 h-100">
    <!-- <div *ngIf="events.length !== 0 || isLoading; else noEvents">
      <h5 class="weight-bold">Recent Activity</h5> -->
    <!-- <div class="size-small widget-list-items" *ngFor="let event of events" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="{{ event?.initiatorUser?.avatarUrl }}" alt="User avatar" />
          <div [ngSwitch]="event.type">
            <div *ngSwitchCase="EventType.CREATECOLLECTION" class="my-3">
              <strong>{{ event.initiatorUser?.username }}</strong> created the collection
              <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                >{{ event.collection?.name }}</a>
              in organization
              <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.ADDTOCOLLECTION" class="my-3">
              <strong>{{ event.initiatorUser.username }} </strong> added the {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
              <a
                [routerLink]="
                  event?.apptool
                    ? '/tools/' + event?.apptool.full_workflow_path
                    : event?.tool
                    ? '/tools/' + event?.tool.tool_path
                    : '/workflows/' + event?.workflow.full_workflow_path
                "
                >{{ event?.apptool ? event?.apptool.workflowName : event?.tool ? event?.tool.name : event?.workflow.workflowName }}</a
              >
              to the collection
              <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                >{{ event.collection?.name }}</a>
              in organization
              <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.ADDUSERTOORG" class="my-3">
              <strong>{{ event.initiatorUser.username }} </strong> added {{ event.user.username }} to the organization
              <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.MODIFYCOLLECTION" class="my-3">
              <strong>{{ event.initiatorUser.username }} </strong> edited the collection
              <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                >{{ event.collection?.name }}</a>
              in organization
              <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.MODIFYORG" class="my-3">
              <strong>{{ event.initiatorUser.username }} </strong> edited the organization
              <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
          </div> -->
    <!-- </div> -->
    <!-- <img class="mx-2" src="{{ event?.organization.avatarUrl }}" alt="Org avatar" />
      </div> -->
    <div *ngIf="totalOrgs !== 0 || isLoading; else noOrganizations">
      <h5 class="weight-bold">Recent Activity</h5>
      <div *ngFor="let org of listOfOrganizations" fxLayout="row" fxLayoutAlign="space-between center" class="widget-list-items w-100 py-2">
        <a class="no-wrap" [routerLink]="'/organizations/' + org.name">
          {{ org.name }}
        </a>
        <div class="date-display">{{ org.lastUpdateDate | date: 'MMM d, yyyy' }}</div>
      </div>
    </div>
    <ng-template #noOrganizations>
      <div *ngIf="!isLoading" fxLayout="column" class="h-100" fxLayoutAlign="center center">
        <img src="../assets/svg/sub-nav/organization.svg" alt="my organizations" class="widget-box-type-logo mb-4" />
        <span>You are not in any organizations </span>
        <div class="size-small text-align-center">
          <span>Use the </span>
          <button
            mat-button
            class="inline-text-btn"
            id="registerOrganizationButton"
            matTooltip="Register organization"
            matTooltipPosition="after"
            (click)="requireAccounts()"
          >
            organization request wizard
          </button>
          to request an organization
        </div>
        <a
          class="size-small mt-3"
          target="_blank"
          rel="noopener noreferrer"
          href="https://docs.dockstore.org/en/latest/advanced-topics/organizations-and-collections.html"
          >Learn more about organizations.
        </a>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
