<div class="container">
  <div class="row">
    <div>
      <table datatable [dtOptions]="dtOptions" class="table row-border hover">
        <thead>
          <tr>
            <th>Tag</th>
            <th>Git Reference</th>
            <th>Tool Path</th>
            <th>Date Built</th>
            <th>Valid</th>
            <th>Verified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of tags">
            <td>{{ tag.name }}</td>
            <td>{{ tag.reference || 'n/a' }}</td>
            <td>
              <div>
                {{ tag.cwl_path }}
                <hr>
                {{ tag.wdl_path }}
                <hr>
                {{ tag.dockerfile_path }}
                <hr>
              </div>
            </td>
            <td>
              {{ getDate(tag.last_modified) }}
            </td>
            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="tag.valid"></span>
              <span class="glyphicon glyphicon-remove" *ngIf="!tag.valid"></span>
            </td>
            <td>
              <span class="glyphicon glyphicon-ok" *ngIf="tag.verified"></span>
              <span class="glyphicon glyphicon-remove" *ngIf="!tag.verified"></span>
            </td>
            <td>
              <app-view-version [tag]="tag"></app-view-version>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
