<div class="p-3">
  <!-- <mat-card *ngIf="canChangeUsername$ | async" class="alert alert-danger" role="alert">
    <mat-icon>error</mat-icon> Dockstore account controls have a large impact and should be used with extreme caution.
  </mat-card> -->

  <mat-card>
    <h3>Delete your Dockstore Account</h3>
    <p>This action is only available for accounts with no published tools/workflows and have not shared workflows via permissions.</p>
    <button class="mr-1 button" mat-raised-button (click)="deleteAccount()" [disabled]="(canChangeUsername$ | async) === false">
      Delete Dockstore Account
    </button>
  </mat-card>
</div>
