<div>
  <div *ngIf="!dataSource">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-table
    [hidden]="!dataSource"
    class="mat-elevation-z4"
    [dataSource]="dataSource"
    matSort
    matSortActive="starredUsers"
    matSortDirection="desc"
    matSortDisableClear
    data-cy="search-workflow-results-table"
  >
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell data-cy="workflowColumn" *matCellDef="let workflow">
        <a [matTooltip]="workflow?.full_workflow_path" [routerLink]="'/workflows/' + workflow?.full_workflow_path">{{
          workflow?.organization + '/' + workflow?.repository + (workflow?.workflowName ? '/' + workflow?.workflowName : '')
        }}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verified">
      <mat-header-cell fxShow fxHide.lt-md *matHeaderCellDef>Verified</mat-header-cell>
      <mat-cell fxShow fxHide.lt-md *matCellDef="let workflow">
        <a *ngIf="workflow.verified" [href]="verifiedLink">
          <mat-icon matTooltip="Verified">done</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="author">
      <mat-header-cell fxShow fxHide.lt-sm *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
      <mat-cell fxShow fxHide.lt-sm class="duration-cell" *matCellDef="let workflow">{{ workflow?.author || 'n/a' }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descriptorType">
      <mat-header-cell fxShow fxHide.lt-sm data-cy="descriptorTypeHeader" *matHeaderCellDef mat-sort-header>Format</mat-header-cell>
      <mat-cell fxShow fxHide.lt-sm data-cy="descriptorType" *matCellDef="let workflow">{{
        workflow?.descriptorType | uppercase
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectLinks">
      <mat-header-cell fxShow fxHide.lt-md *matHeaderCellDef>Project Links</mat-header-cell>
      <mat-cell fxShow fxHide.lt-md *matCellDef="let entry">
        <a [href]="entry?.providerUrl" *ngIf="entry?.providerUrl">
          <fa-icon class="fa-lg" [icon]="entry.providerIcon" [matTooltip]="entry?.provider"></fa-icon>
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="starredUsers">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Stars</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let workflow"
        >{{ !workflow?.starredUsers || workflow?.starredUsers.length === 0 ? '' : workflow?.starredUsers?.length }}
        <mat-icon class="star-icon" *ngIf="workflow?.starredUsers?.length > 0">star_rate</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    data-cy="search-workflow-table-paginator"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="updatePageSizeAndIndex($event)"
  ></mat-paginator>
</div>
