<div>
  <div *ngIf="!dataSource">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-table [hidden]="!dataSource" [dataSource]="dataSource" matSort data-cy="search-workflow-results-table" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name and Description</mat-header-cell>
      <mat-cell data-cy="workflowColumn" *matCellDef="let workflow">
        <div>
          <img src="../../../../assets/svg/workflow-circle.svg" class="mr-2_5 site-icons-small" alt="workflow icon" />
          <a
            [matTooltip]="workflow?.source.full_workflow_path"
            matTooltipPosition="left"
            [routerLink]="'/workflows/' + workflow?.source.full_workflow_path"
            >{{
              workflow?.source.organization +
                '/' +
                workflow?.source.repository +
                (workflow?.source.workflowName ? '/' + workflow?.source.workflowName : '')
            }}</a
          >
          <div class="truncate-text-3">
            <app-ai-bubble
              *ngIf="workflow?.source.topicSelection === TopicSelectionEnum.AI && !workflow?.source.approvedAITopic"
              [isPublic]="true"
            ></app-ai-bubble>
            <span>{{ workflow?.source.topicAutomatic }}</span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="all_authors">
      <mat-header-cell fxShow fxHide.lt-sm *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
      <mat-cell fxShow fxHide.lt-sm *matCellDef="let workflow" [matTooltip]="workflow?.source?.all_authors | getSearchAuthorsHtml: false">
        <div class="truncate-text-3 size-small">
          <span [innerHTML]="workflow?.source?.all_authors | getSearchAuthorsHtml"></span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descriptorType">
      <mat-header-cell fxShow fxHide.lt-sm data-cy="descriptorTypeHeader" *matHeaderCellDef mat-sort-header>Format</mat-header-cell>
      <mat-cell fxShow fxHide.lt-sm data-cy="descriptorType" *matCellDef="let workflow">
        <div>
          <span class="nonclick-badge">{{ workflow?.source.descriptorType | descriptorLanguage }}</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="starredUsers">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">Stars</mat-header-cell>
      <mat-cell class="starred-cell weight-bold" *matCellDef="let workflow"
        ><mat-icon class="star-icon" *ngIf="workflow?.source.starredUsers?.length > 0">star_rate</mat-icon>
        {{ !workflow?.source.starredUsers || workflow?.source.starredUsers.length === 0 ? '' : workflow?.source.starredUsers.length }}
      </mat-cell>
    </ng-container>

    <!-- Search highlighting column - this row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="searchHighlight">
      <mat-cell *matCellDef="let workflow" [attr.colspan]="displayedColumns.length">
        <div *ngIf="workflow.highlight" class="pb-3">
          <table class="size-small">
            <tr *ngFor="let highlight of workflow.highlight | keyvalue">
              <th>{{ this.searchEverythingFriendlyNames.get(highlight.key.toString()) }}:</th>
              <td><span [innerHTML]="highlight.value | joinWithEllipses"></span></td>
            </tr>
          </table>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns" class="element-row py-3"></mat-row>
    <mat-row *matRowDef="let row; columns: ['searchHighlight']" class="search-highlight-row"></mat-row>
  </mat-table>
  <mat-paginator
    data-cy="search-workflow-table-paginator"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="updatePageSizeAndIndex($event)"
  ></mat-paginator>
</div>
