<li *ngIf="((checkerId$ | async) || (canAdd$ | async)) && (isRefreshing$ | async) !== true">
  <form #editCheckerWorkflowPathForm="ngForm" class="form-inline">
    <div class="form-group" fxFlex="noshrink" fxLayout fxLayoutAlign=" center">
      <strong matTooltip="Checker workflow of this tool/workflow that tests it">Checker Workflow</strong>:
    </div>
    <span *ngIf="(checkerId$ | async) === (false || null || undefined) && ((isPublic$ | async) || (canRead && !canWrite))"> n/a</span>
    <div class="btn-group" role="group">
      <a
        [routerLink]="checkerWorkflowURL$ | async"
        id="viewCheckerWorkflowButton"
        *ngIf="(checkerWorkflowURL$ | async) && !(isRefreshing$ | async)"
        type="button"
        class="btn btn-link"
      >
        <mat-icon>visibility</mat-icon> View
      </a>
      <span *ngIf="!(isPublic$ | async)">
        <button
          id="addCheckerWorkflowButton"
          #addCheckerWorkflowButton
          *ngIf="(canAdd$ | async) && canWrite"
          type="button"
          class="btn btn-link"
          (click)="add()"
        >
          <mat-icon>add</mat-icon> Add
        </button>
        <!-- <button *ngIf="checkerWorkflowPath" type="button" class="btn btn-link" (click)="delete()">
          <mat-icon>clear</mat-icon> Delete
        </button> -->
      </span>
    </div>
  </form>
</li>
<li *ngIf="parentId$ | async">
  <form class="form-inline">
    <div>
      <div class="form-group"><strong matTooltip="The parent entry of this checker workflow">Parent Entry</strong>:</div>
      <span>
        <div class="btn-group" role="group">
          <button id="viewParentEntryButton" type="button" class="btn btn-link" (click)="viewParentEntry()">
            <mat-icon>visibility</mat-icon> View
          </button>
        </div>
      </span>
    </div>
  </form>
</li>
