<div class="p-3">
  @if (sourcefiles?.length === 0) {
  <mat-card appearance="outlined" class="alert alert-info" role="alert">
    <mat-card-content> No files exist. </mat-card-content>
  </mat-card>
  } @for (sourcefile of sourcefiles; track sourcefile; let i = $index) {
  <div class="mb-3">
    @if (sourcefile?.content !== null && showSourcefile(sourcefile?.type)) {
    <div>
      <mat-toolbar class="files-toolbar">
        <mat-toolbar-row>
          @if (editing && !isPrimaryDescriptor(sourcefile?.absolutePath) && !isDockerFile(sourcefile?.absolutePath)) {
          <form class="w-100">
            <mat-form-field class="white-background w-50">
              <mat-label>File Name</mat-label>
              <input
                matInput
                [value]="sourcefile.absolutePath"
                (change)="updateSourceFilePath($any($event.target).value, i)"
                type="text"
                class="editor-file-name"
              />
            </mat-form-field>
          </form>
          } @if (!editing || isPrimaryDescriptor(sourcefile?.absolutePath) || isDockerFile(sourcefile?.absolutePath)) {
          <span>
            {{ sourcefile.absolutePath }}
          </span>
          }
          <span class="spacer"></span>
          <span>
            @if (editing && !isPrimaryDescriptor(sourcefile?.absolutePath) && !isDockerFile(sourcefile?.absolutePath)) {
            <button mat-icon-button class="delete-editor-file mr-2" color="warn" (click)="deleteFile(i)" matTooltip="Delete the file">
              <mat-icon>delete</mat-icon>
            </button>
            } @if (!editing) {
            <span>
              @if (published$ | async) {
              <a
                mat-icon-button
                color="accent"
                class="mr-2"
                download
                [href]="sourcefile | publicFileDownload: entrypath:selectedVersion:descriptorType:entryType"
                [download]="sourcefile?.absolutePath | privateFilePath"
                type="button"
                matTooltip="Download {{ sourcefile?.absolutePath }}"
              >
                <mat-icon>save_alt</mat-icon>
              </a>
              } @else {
              <a
                mat-icon-button
                color="accent"
                class="mr-2"
                type="button"
                matTooltip="Download {{ sourcefile?.absolutePath }}"
                (click)="downloadFileContent(sourcefile?.content, sourcefile?.absolutePath)"
              >
                <mat-icon>save_alt</mat-icon>
              </a>
              }
              <button
                mat-icon-button
                color="accent"
                type="button"
                class="mr-2"
                matTooltip="Copy to clipboard"
                [cdkCopyToClipboard]="sourcefile?.content"
                appSnackbar
              >
                <mat-icon>file_copy</mat-icon>
              </button>
            </span>
            }
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <app-code-editor
        [(content)]="sourcefile.content"
        [filepath]="sourcefile.absolutePath"
        [editing]="editing"
        [entryType]="entryType"
      ></app-code-editor>
    </div>
    }
  </div>
  } @if (editing && (fileType !== 'dockerfile' || (fileType === 'dockerfile' && sourcefiles?.length === 0))) {
  <button class="ml-2" mat-raised-button class="accent-1-dark" (click)="addFile()">Add File</button>
  }
</div>
