<div class="overflow-hidden">
  <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="4rem" class="mb-5 w-100">
    <div class="about-dockstore">
      <div fxLayout="row" fxLayout.lt-md="column" LayoutAlign="space-between center" fxLayoutGap="1rem" class="container">
        <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="2rem">
          <h1>Page Not Found</h1>
          <h3 class="about-h3">
            Don't panic. You seem to have taken a wrong turn. In some cases, this may mean that you have bookmarked a tool or workflow that
            has been unpublished by it's author. Alternatively, maybe this was a page that you accessed while logged-in but you haven't
            logged in on this particular device. More rarely, we sometimes do re-arrange the site.
          </h3>
          <p>Try checking your URL for errors or click on one of the options in our header above or in the footer below.</p>

          <br />
          <br />
          <br />
          <br />
          <br />
          <br />

          <img fxHide.lt-md src="../../assets/images/about-page/truck.png" alt="truck image" class="truck-img" />
        </div>
      </div>
    </div>

    <hr />
  </div>
</div>
