<div class="separation">
    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table row-border hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stars</th>
          <th>Author</th>
          <th>Format</th>
          <th>Project Links</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workflow of workflowsTable">
          <td>
            <span id="verifiedIcon" *ngIf="getVerified(workflow)">
              <a href={{verifiedLink}}>
                <span an class="glyphicon glyphicon-ok" tooltip="Verified"></span>
              </a>
            </span>
            <a (click)="sendWorkflowInfo(workflow)" [routerLink]="['/workflows', workflow?.path ]">{{ workflow?.repository + (workflow.workflowName ? ' (' + workflow.workflowName + ')' : '') }}</a>
          </td>
          <td>
            {{ workflow?.starredUsers.length === 0 ? '' : workflow?.starredUsers.length }}
          </td>
          <td>
            {{ workflow?.author || 'n/a' }}</td>
          <td>{{ workflow?.descriptorType | uppercase }}</td>
          <td>
            <a [href]="workflow.providerUrl">
              {{ workflow?.provider }}
            </a>
          </td>
        </tr>

      </tbody>
      <!--Moved outside tbody because it interferes with Angular-Datatables library-->
      <tr *ngIf="previewMode && workflowsTable.length > 0">
        <td colspan="5" class="browse-all">
          <div class="button">
            <p><a href="/workflows">Browse All Workflows &raquo;</a></p>
          </div>
          <div class="button">
            <p><a href="/search">Search Workflows &raquo;</a></p>
          </div>
        </td>
      </tr>
    </table>
</div>
