<h1 mat-dialog-title>Edit {{ data.type }} description</h1>
<div mat-dialog-content data-cy="updateOrganizationDescriptionWindow">
  <app-alert></app-alert>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Edit Mode">
      <form class="p-1" [formGroup]="updateOrganizationOrCollectionDescriptionForm" fxLayout="column">
        <mat-form-field>
          <textarea matTextareaAutosize type="text" matInput formControlName="description" placeholder="Description"></textarea>
        </mat-form-field>
      </form>
    </mat-tab>
    <mat-tab label="Preview Mode">
      <markdown class="p-1" [data]="descriptionValue"></markdown>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions class="pull-right">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    id="updateOrganizationDescriptionButton"
    [matTooltip]="'Update ' + data.type + ' description'"
    mat-flat-button
    color="primary"
    [disabled]="!updateOrganizationOrCollectionDescriptionForm.valid"
    (click)="updateOrganizationDescription()"
    cdkFocusInitial
  >
    Update
  </button>
</div>
