<!--<div *ngIf="!(isLoggedIn$ | async) && !dismissed" class="push-tos" data-cy="tos-banner">-->
<div class="container tos-banner text-center">
  <div class="container-fluid" fxLayout="row" fxLayoutAlign="center center">
    <p>
      By using our site, you acknowledge that you have read and understand our
      <a href="../assets/docs/Dockstore_Terms_of_Service.pdf" target="_blank" rel="noopener noreferrer">Terms of Service</a> and
      <a href="../assets/docs/Dockstore_Privacy Policy_v2.5.pdf" target="_blank" rel="noopener noreferrer"> Privacy Policy </a>.
    </p>
    <button type="button" class="close dismiss pull-right" data-dismiss="alert" (click)="dismissTOS()" data-cy="dismiss-tos-banner">
      &times;
    </button>
  </div>
</div>
<!--</div>-->
