<div class="container tos-banner text-center">
  <div class="container-fluid" fxLayout="" fxLayoutAlign="center center">
    <div>
      <!--      <p>-->
      By using our site, you acknowledge that you have read and understand our

      <a href="../assets/docs/Dockstore_Terms_of_Service.pdf" target="_blank" rel="noopener noreferrer">Terms of Service</a> and
      <a href="../assets/docs/Dockstore_Privacy Policy_v2.5.pdf" target="_blank" rel="noopener noreferrer"> Privacy Policy</a>.
      <!--      </p>-->
    </div>
    <button type="button" class="close dismiss" data-dismiss="alert" (click)="dismissTOS()" data-cy="dismiss-tos-banner">
      &times;
    </button>
  </div>
</div>
