<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Dockstore Maintenance
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container view-content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h3>Maintenance Notice</h3>
        <hr />

        <div class="alert alert-danger" role="alert">
          <p>The Dockstore Web Service API is currently inaccessible from this computer.</p>
          <p>If the condition persists, please contact an administrator for assistance.</p>
        </div>

    </div>
  </div>
</div>