@use '@angular/material' as mat;
@import 'materialColorScheme.scss';

.side-icons {
  color: mat.m2-get-color-from-palette($dockstore-app-accent);
}

.tab-icons {
  color: #7887cb;
}

.category-text {
  text-decoration: underline;
}

.name {
  color: $header-color;
}
