@use '~@angular/material' as mat;
@import 'materialColorScheme.scss';

.side-icons {
  color: mat.get-color-from-palette($dockstore-app-accent);
}

.tab-icons {
  color: #7887cb;
}

// .tab-display {
//   border-radius: 0.5rem;
//   padding: 0.5rem;
//   font-size: 1.3rem;
//   background-color: #e0e0e0;
// }

.category-text {
  text-decoration: underline;
}

.name {
  color: #151c3d;
}
