@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

.h5 {
  color: $header-color;
  font-weight: 500;
}

.org-topic {
  line-height: 1.5;
  color: mat.m2-get-color-from-palette($dockstore-app-gray, darker);
  // Hide overflow if longer than 4 lines
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.orgStar {
  font-size: 1.5rem;
  color: mat.m2-get-color-from-palette($dockstore-app-accent-1, darker);
  height: auto;
  padding: 0 !important;
}
