@import 'bootstrap4.scss';

.mat-icon {
  @extend .pr-5;
}

.h5 {
  color: #151c3d;
  font-weight: 500;
}

.org-topic {
  line-height: 1.5;
  color: #212121;
}

.orgStar {
  font-size: 1.5rem;
  color: #3f51b5;
  height: auto;
  padding: 0 !important;
}

.info.span {
  font-size: 10px;
}

.info-icon {
  font-size: 1.5rem;
  height: auto;
  color: #397a84;
  padding: 0 !important;
}

.info {
  font-size: 12px;
  line-height: 2rem;
}

form {
  margin-bottom: -1rem;
}

.form-field {
  transform: scale(0.9);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border: black 2px solid;
}

.content {
  overflow: scroll;
}
