@use '~@angular/material' as mat;
@import 'materialColorScheme.scss';

.tutorial-section-card {
  border-radius: 0.5rem;
  min-width: 20rem;
  border: 0.1rem solid #c1c2c3;
  padding: 1rem 1.5rem;
  margin: 2rem;
  flex: 1;
}
.tutorial-section-card p {
  margin-bottom: 0;
}

.tutorial-title {
  color: mat.get-color-from-palette($dockstore-app-primary);
}
