<h1 mat-dialog-title>Manage DOIs</h1>
<mat-dialog-content>
  <p>
    A Digital Object Identifier (DOI) allows a {{ entryTypeMetadata.term }} version to be easily cited in publications. There are two types
    of DOIs:
  </p>
  <ul>
    <li><strong>Version DOI:</strong> represents a specific version.</li>
    <li><strong>Concept DOI:</strong> represents all versions and resolves to the latest one.</li>
  </ul>
  <mat-card *ngIf="!doiInfoMap.size" class="alert alert-info mat-elevation-z mt-3" role="alert" data-cy="no-metrics-banner">
    <mat-icon class="alert-info-icon">info</mat-icon> This {{ entryTypeMetadata.term }} has no DOIs.
  </mat-card>
  <p *ngIf="doiInfoMap.size">Select which DOI to display publicly:</p>
  <mat-radio-group [(ngModel)]="selectedOption" aria-label="Select an option">
    <div fxLayout="column" fxLayoutGap="1rem">
      <mat-card *ngFor="let doiInfo of doiInfoMap | keyvalue: originalOrder">
        <mat-radio-button [value]="doiInfo.key" class="w-100">
          <div>
            <app-doi-badge [doi]="doiInfo.value.conceptDoi" [displayDoi]="false" class="mr-2"></app-doi-badge>
            <strong>{{ doiInfo.key | titlecase }}</strong>
          </div>
          <div class="size-small gray-caption">
            <span *ngIf="doiInfo.key === DoiInitiatorEnum.USER"> Manually created by a user in the Dockstore UI. </span>
            <span *ngIf="doiInfo.key === DoiInitiatorEnum.DOCKSTORE">
              Automatically created by Dockstore for valid tags belonging to published {{ entryTypeMetadata.termPlural }}.
            </span>
            <span *ngIf="doiInfo.key === DoiInitiatorEnum.GITHUB"> Created by Zenodo's integration with GitHub. </span>
          </div>
          <span class="mr-4">
            <span>Version DOI: </span>
            <app-doi-badge *ngIf="doiInfo.value.versionDoi" [doi]="doiInfo.value.versionDoi" [displayInitiator]="false"></app-doi-badge>
            <span *ngIf="!doiInfo.value.versionDoi">n/a</span>
          </span>
          <span>
            <span>Concept DOI: </span>
            <app-doi-badge *ngIf="doiInfo.value.conceptDoi" [doi]="doiInfo.value.conceptDoi" [displayInitiator]="false"></app-doi-badge>
          </span>
        </mat-radio-button>
      </mat-card>
    </div>
  </mat-radio-group>
</mat-dialog-content>
<div mat-dialog-actions class="pull-right">
  <button mat-button mat-dialog-close class="secondary-1" data-cy="topicCancelButton" cdkFocusInitial>Cancel</button>
  <button
    mat-raised-button
    mat-dialog-close
    data-cy="topicSaveButton"
    class="accent-1-dark-btn mat-elevation-z"
    (click)="saveDoiSelection()"
  >
    Save
  </button>
</div>
