<div>
  <div *ngIf="!dataSource">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-table [hidden]="!dataSource" [dataSource]="dataSource" matSort data-cy="search-notebook-results-table" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell data-cy="notebookColumn" *matCellDef="let notebook">
        <div>
          <a [matTooltip]="notebook?.source.full_workflow_path" [routerLink]="'/notebooks/' + notebook?.source.full_workflow_path">{{
            notebook?.source.organization +
              '/' +
              notebook?.source.repository +
              (notebook?.source.workflowName ? '/' + notebook?.source.workflowName : '')
          }}</a>
          <div class="truncate-text-2 size-small" [matTooltip]="notebook?.source.topicAutomatic" matTooltipPosition="left">
            {{ notebook?.source.topicAutomatic }}
            <span *ngIf="notebook?.source.topicSelection === TopicSelectionEnum.AI">
              <span
                class="bubble ai-bubble"
                matTooltip="This topic sentence was AI generated. For more information, please click the bubble to visit our docs"
              >
                <img class="ai-icon" src="/assets/svg/ai-icon.svg" alt="AI generation icon" />
                <span>AI</span>
              </span>
            </span>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="all_authors">
      <mat-header-cell fxShow fxHide.lt-sm *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
      <mat-cell
        fxShow
        fxHide.lt-sm
        class="duration-cell truncate-text-2"
        *matCellDef="let notebook"
        [matTooltip]="notebook?.source.all_authors | getSearchAuthorsHtml: false"
        [innerHTML]="notebook?.source.all_authors | getSearchAuthorsHtml"
      ></mat-cell>
    </ng-container>
    <ng-container matColumnDef="descriptorType">
      <mat-header-cell fxShow fxHide.lt-sm data-cy="descriptorTypeHeader" *matHeaderCellDef mat-sort-header>Format</mat-header-cell>
      <mat-cell fxShow fxHide.lt-sm data-cy="descriptorType" *matCellDef="let notebook">
        <div>
          <span class="nonclick-badge">{{ notebook?.source.descriptorType | descriptorLanguage }}</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descriptorTypeSubclass">
      <mat-header-cell fxShow fxHide.lt-sm data-cy="descriptorTypeSubclassHeader" *matHeaderCellDef mat-sort-header
        >Language</mat-header-cell
      >
      <mat-cell fxShow fxHide.lt-sm data-cy="descriptorTypeSubclass" *matCellDef="let notebook">
        <div>
          <span class="nonclick-badge">{{ notebook?.source.descriptorTypeSubclass }}</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectLinks">
      <mat-header-cell fxShow fxHide.lt-md *matHeaderCellDef>Links</mat-header-cell>
      <mat-cell fxShow fxHide.lt-md *matCellDef="let entry">
        <a [href]="entry?.source.providerUrl" *ngIf="entry?.source.providerUrl">
          <fa-icon class="fa-lg" [icon]="entry.source.providerIcon" [matTooltip]="entry?.source.provider"></fa-icon>
        </a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="starredUsers">
      <mat-header-cell *matHeaderCellDef mat-sort-header start="desc">Stars</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let notebook"
        >{{ !notebook?.source.starredUsers || notebook?.source.starredUsers.length === 0 ? '' : notebook?.source.starredUsers?.length }}
        <mat-icon class="star-icon" *ngIf="notebook?.source.starredUsers?.length > 0">star_rate</mat-icon>
      </mat-cell>
    </ng-container>
    <!-- Search highlighting column - this row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="searchHighlight">
      <mat-cell *matCellDef="let notebook" [attr.colspan]="displayedColumns.length">
        <div *ngIf="notebook.highlight" class="pb-3">
          <table class="size-small">
            <tr *ngFor="let highlight of notebook.highlight | keyvalue">
              <th>{{ this.searchEverythingFriendlyNames.get(highlight.key.toString()) }}:</th>
              <td><span [innerHTML]="highlight.value | joinWithEllipses"></span></td>
            </tr>
          </table>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="element-row py-3"></mat-row>
    <mat-row *matRowDef="let row; columns: ['searchHighlight']" class="search-highlight-row"></mat-row>
  </mat-table>
  <mat-paginator
    data-cy="search-notebook-table-paginator"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="updatePageSizeAndIndex($event)"
  ></mat-paginator>
</div>
