<app-loading [loading]="loading$ | async">
  <div *ngIf="events?.length > 0 || isLoading; else noEvents">
    <div
      *ngFor="let event of events | slice: 0:displayLimit"
      class="size-small widget-list-items event"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxLayout>
        <div *ngIf="event?.initiatorUser?.username; else defaultAvatar">
          <a
            *ngIf="event.type !== EventType.APPROVEORG && event.type !== EventType.REJECTORG && event.type"
            [routerLink]="'/users/' + event.initiatorUser.username"
          >
            <img *ngIf="event?.initiatorUser?.avatarUrl; else defaultAvatar" [src]="event?.initiatorUser?.avatarUrl" alt="User avatar" />
          </a>
        </div>
        <ng-template #defaultAvatar>
          <img [src]="gravatarService.gravatarUrlForMysteryPerson()" alt="User avatar" />
        </ng-template>
        <ng-template #withUsername>
          <strong>
            <a class="no-underline" [routerLink]="'/users/' + event.initiatorUser?.username">
              {{ event.initiatorUser?.username }}
            </a>
          </strong>
        </ng-template>
        <ng-template #withoutUsername>
          <a class="no-underline"> Unknown user </a>
        </ng-template>
        <div [ngSwitch]="event.type" class="my-3">
          <!-- Entries -->
          <div *ngSwitchCase="EventType.PUBLISHENTRY" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            published the {{ event | recentEvents: 'entryType' }}
            <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
          </div>
          <div *ngSwitchCase="EventType.UNPUBLISHENTRY" class="truncate-text-2">
            <!-- Do not link to an entry that doesn't exist - 404 -->
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            unpublished the {{ event | recentEvents: 'entryType' }} <strong>{{ event | recentEvents: 'displayName' }}</strong>
          </div>
          <div *ngSwitchCase="EventType.ADDVERSIONTOENTRY" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            created the {{ event.version?.referenceType | lowercase }} <strong>{{ event.version?.name }}</strong> in
            {{ event | recentEvents: 'entryType' }}
            <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
          </div>
          <!-- Organizations -->
          <div *ngSwitchCase="EventType.CREATEORG" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            created the organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.APPROVEORG" class="truncate-text-2">
            The organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            was approved.
          </div>
          <div *ngSwitchCase="EventType.REJECTORG" class="truncate-text-2">
            The organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            was rejected.
          </div>
          <div *ngSwitchCase="EventType.REREQUESTORG" class="truncate-text-2">
            The organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            was re-requested for review.
          </div>
          <div *ngSwitchCase="EventType.ADDUSERTOORG" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            added <a [routerLink]="'/users/' + event.user?.username">{{ event.user?.username }}</a> to the organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.APPROVEORGINVITE" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            joined the organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.MODIFYORG" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            updated the organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <!-- Collections -->
          <div *ngSwitchCase="EventType.CREATECOLLECTION" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            created the collection
            <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
            in organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.DELETECOLLECTION" class="truncate-text-2">
            <!-- Do not link to a collection that doesn't exist - 404 -->
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            removed the collection <strong>{{ event.collection?.displayName }}</strong> in organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.ADDTOCOLLECTION" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            added the {{ event | recentEvents: 'entryType' }}
            <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
            to the collection
            <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
            in organization
            <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.MODIFYCOLLECTION" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            edited the collection
            <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
          </div>
          <div *ngSwitchCase="EventType.REMOVEFROMCOLLECTION" class="truncate-text-2">
            <ng-container *ngIf="event.initiatorUser?.username; then withUsername; else withoutUsername"></ng-container>
            removed the {{ event | recentEvents: 'entryType' }}
            <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
            from the collection
            <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
          </div>
          <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
        </div>
      </div>
      <div
        *ngIf="
          event.type === EventType.ADDVERSIONTOENTRY || event.type === EventType.PUBLISHENTRY || event.type === EventType.UNPUBLISHENTRY;
          else orgImg
        "
      >
        <a *ngIf="event.type !== EventType.UNPUBLISHENTRY; else noLink" [routerLink]="event | recentEvents: 'entryLink'">
          <img
            src="../../../assets/svg/sub-nav/{{ event | recentEvents: 'entryType' }}.svg"
            class="site-icons-medium mx-3"
            alt="{{ event | recentEvents: 'entryType' }} icon"
          />
        </a>
        <!-- Do not link to an entry that doesn't exist - 404 -->
        <ng-template #noLink>
          <img
            src="../../../assets/svg/sub-nav/{{ event | recentEvents: 'entryType' }}.svg"
            class="site-icons-medium mx-3"
            alt="{{ event | recentEvents: 'entryType' }} icon"
          />
        </ng-template>
      </div>
      <ng-template #orgImg>
        <a *ngIf="event.organization?.avatarUrl; else orgIcon" [routerLink]="event | recentEvents: 'orgLink'">
          <img
            class="entry-img p-2"
            [src]="event.organization.avatarUrl | gravatar"
            [appFallback]="orgLogoService.DEFAULT_URL"
            alt="Org avatar"
          />
        </a>
        <ng-template #orgIcon>
          <a [routerLink]="event | recentEvents: 'orgLink'">
            <img src="../../../assets/svg/sub-nav/organization.svg" class="site-icons-medium mx-3" alt="Org icon" />
          </a>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <ng-template #noEvents>
    <mat-card class="alert alert-info mat-elevation-z mx-1" role="alert">
      <mat-icon>info</mat-icon> No events found. Star entries or organizations to see events for them. Read
      <a [href]="starringDocUrl" target="_blank" rel="noopener noreferrer">Starring Tools and Workflows</a>
      to learn how to star entries.
    </mat-card>
  </ng-template>
</app-loading>
