<app-loading [loading]="loading$ | async">
  <div *ngIf="events?.length > 0 || isLoading; else noEvents">
    <div
      *ngFor="let event of events | slice: 0:displayLimit"
      class="size-small widget-list-items event"
      fxLayout
      fxLayoutAlign="space-between center"
    >
      <div fxLayout>
        <div *ngIf="event?.initiatorUser?.username; else defaultAvatar">
          <a
            *ngIf="event.type !== EventType.APPROVEORG && event.type !== EventType.REJECTORG && event.type !== EventType.REREQUESTORG"
            [routerLink]="'/users/' + event.initiatorUser.username"
          >
            <img *ngIf="event?.initiatorUser?.avatarUrl; else defaultAvatar" [src]="event?.initiatorUser?.avatarUrl" alt="User avatar" />
          </a>
        </div>
        <ng-template #defaultAvatar>
          <img [src]="gravatarService.gravatarUrlForMysteryPerson()" alt="User avatar" />
        </ng-template>
        <div [ngSwitch]="event.type" class="my-3">
          <div class="truncate-text-2">
            <span
              *ngIf="event.type !== EventType.APPROVEORG && event.type !== EventType.REJECTORG && event.type !== EventType.REREQUESTORG"
            >
              <strong *ngIf="event.initiatorUser?.username; else unknownUser">
                <a class="no-underline" [routerLink]="'/users/' + event.initiatorUser?.username">
                  {{ event.initiatorUser?.username }}
                </a>
              </strong>
              <ng-template #unknownUser>
                <strong> Unknown user </strong>
              </ng-template>
            </span>
            <!-- Entries -->
            <span *ngSwitchCase="EventType.PUBLISHENTRY">
              published the {{ event | recentEvents: 'entryType' }}
              <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
            </span>
            <span *ngSwitchCase="EventType.UNPUBLISHENTRY">
              <!-- Do not link to an entry that doesn't exist - 404 -->
              unpublished the {{ event | recentEvents: 'entryType' }} <strong>{{ event | recentEvents: 'displayName' }}</strong>
            </span>
            <span *ngSwitchCase="EventType.ADDVERSIONTOENTRY">
              created
              <span *ngIf="event.version"
                >the {{ event.version.referenceType | lowercase }} <strong>{{ event.version.name }}</strong></span
              >
              <span *ngIf="!event.version">a tag</span>
              in {{ event | recentEvents: 'entryType' }}
              <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
            </span>
            <!-- Organizations -->
            <span *ngSwitchCase="EventType.CREATEORG">
              created the organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.APPROVEORG">
              The organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
              was approved.
            </span>
            <span *ngSwitchCase="EventType.REJECTORG">
              The organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
              was rejected.
            </span>
            <span *ngSwitchCase="EventType.REREQUESTORG">
              The organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
              was re-requested for review.
            </span>
            <span *ngSwitchCase="EventType.ADDUSERTOORG">
              added <a [routerLink]="'/users/' + event.user?.username">{{ event.user?.username }}</a> to the organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.APPROVEORGINVITE">
              joined the organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.MODIFYORG">
              updated the organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <!-- Collections -->
            <span *ngSwitchCase="EventType.CREATECOLLECTION">
              created the collection
              <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
              in organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.DELETECOLLECTION">
              <!-- Do not link to a collection that doesn't exist - 404 -->
              removed the collection <strong>{{ event.collection?.displayName }}</strong> in organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.ADDTOCOLLECTION">
              added the {{ event | recentEvents: 'entryType' }}
              <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
              to the collection
              <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
              in organization
              <a [routerLink]="event | recentEvents: 'orgLink'">{{ event.organization?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.MODIFYCOLLECTION">
              edited the collection
              <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
            </span>
            <span *ngSwitchCase="EventType.REMOVEFROMCOLLECTION">
              removed the {{ event | recentEvents: 'entryType' }}
              <a [routerLink]="event | recentEvents: 'entryLink'">{{ event | recentEvents: 'displayName' }}</a>
              from the collection
              <a [routerLink]="event | recentEvents: 'collectionLink'">{{ event.collection?.displayName }}</a>
            </span>
          </div>
          <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
        </div>
      </div>
      <div
        *ngIf="
          event.type === EventType.ADDVERSIONTOENTRY || event.type === EventType.PUBLISHENTRY || event.type === EventType.UNPUBLISHENTRY;
          else orgImg
        "
      >
        <a *ngIf="event.type !== EventType.UNPUBLISHENTRY; else noLink" [routerLink]="event | recentEvents: 'entryLink'">
          <img
            src="../../../assets/svg/sub-nav/{{ event | recentEvents: 'entryType' }}.svg"
            class="site-icons-medium mx-3"
            alt="{{ event | recentEvents: 'entryType' }} icon"
          />
        </a>
        <!-- Do not link to an entry that doesn't exist - 404 -->
        <ng-template #noLink>
          <img
            src="../../../assets/svg/sub-nav/{{ event | recentEvents: 'entryType' }}.svg"
            class="site-icons-medium mx-3"
            alt="{{ event | recentEvents: 'entryType' }} icon"
          />
        </ng-template>
      </div>
      <ng-template #orgImg>
        <a *ngIf="event.organization?.avatarUrl; else orgIcon" [routerLink]="event | recentEvents: 'orgLink'">
          <img
            class="entry-img p-2"
            [src]="event.organization.avatarUrl | gravatar"
            [appFallback]="orgLogoService.DEFAULT_URL"
            alt="Org avatar"
          />
        </a>
        <ng-template #orgIcon>
          <a [routerLink]="event | recentEvents: 'orgLink'">
            <img src="../../../assets/svg/sub-nav/organization.svg" class="site-icons-medium mx-3" alt="Org icon" />
          </a>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <ng-template #noEvents>
    <mat-card class="alert alert-info mat-elevation-z mx-1" role="alert">
      <mat-icon>info</mat-icon> No events found. Star entries or organizations to see events for them. Read
      <a [href]="starringDocUrl" target="_blank" rel="noopener noreferrer">Starring Tools and Workflows</a>
      to learn how to star entries.
    </mat-card>
  </ng-template>
</app-loading>
