<app-loading [loading]="loading$ | async">
  <div *ngIf="!(events$ | async) || (events$ | async).length === 0">
    <mat-card class="alert alert-info mx-1" role="alert">
      <mat-icon>info</mat-icon> No events found. Star entries or organizations to see events for them. Read
      <a
        href="https://docs.dockstore.org/en/develop/end-user-topics/starring.html#starring-tools-and-workflows"
        target="_blank"
        rel="noopener noreferrer"
        >https://docs.dockstore.org/en/develop/end-user-topics/starring.html#starring-tools-and-workflows</a
      >
      to learn how to star entries.</mat-card
    >
  </div>
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div *ngFor="let event of events$ | async">
        <div [ngSwitch]="event?.type">
          <div *ngSwitchCase="EventType.CREATEORG">
            <mat-chip-list>
              {{ event.initiatorUser.username }}&nbsp;created&nbsp;the&nbsp;organization<span
                >&nbsp;<mat-chip>{{ event.organization.displayName }}</mat-chip></span
              >
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
          <div *ngSwitchCase="EventType.APPROVEORGINVITE">
            <mat-chip-list>
              {{ event.initiatorUser.username }}&nbsp;joined&nbsp;the&nbsp;organization<span
                >&nbsp;<mat-chip>{{ event.organization.displayName }}</mat-chip></span
              >
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
          <div *ngSwitchCase="EventType.MODIFYORG">
            <mat-chip-list>
              {{ event.initiatorUser.username }}&nbsp;updated&nbsp;the&nbsp;organization<span
                >&nbsp;<mat-chip>{{ event.organization.displayName }}</mat-chip></span
              >
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
          <div *ngSwitchCase="EventType.ADDVERSIONTOENTRY">
            <mat-chip-list>
              <mat-chip>{{ event?.tool?.tool_path || event?.workflow?.full_workflow_path }}</mat-chip>
              &nbsp;has&nbsp;a&nbsp;new&nbsp;{{ event.version?.referenceType | lowercase }}&nbsp;<mat-chip>{{
                event.version?.name
              }}</mat-chip>
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
          <div *ngSwitchCase="EventType.CREATECOLLECTION">
            <mat-chip-list>
              {{ event.initiatorUser.username }}&nbsp;created&nbsp;the&nbsp;collection&nbsp;
              <mat-chip>{{ event.collection.name }}</mat-chip>
              &nbsp;in&nbsp;organization<mat-chip>{{ event.organization.displayName }}</mat-chip>
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
          <div *ngSwitchDefault>
            <mat-chip-list>
              {{ event.initiatorUser.username }}&nbsp;updated&nbsp;the&nbsp;collection&nbsp; <mat-chip>{{ event.collection.name }}</mat-chip
              >&nbsp;in&nbsp;organization<mat-chip>{{ event.organization.displayName }}</mat-chip>
            </mat-chip-list>
            <span class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</app-loading>
