<app-header>
  <div fxLayout="row" fxLayoutGap="1rem">
    <img src="../../../assets/svg/sub-nav/organization.svg" alt="organization icon" />
    <span>ORCID</span>
  </div>
</app-header>

<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row">
    <mat-card>
      Thank you for connecting your ORCID iD
      <img src="../../assets/images/account-logos/orcid.svg" alt="ORCID iD logo" class="orcid-id-logo" />
      <br />
      You will now be automatically directed back to your Accounts page.
    </mat-card>
  </div>
</div>
