<app-header>
  <mat-icon class="mb-2 align-middle">account_circle</mat-icon>
  Profiles, Accounts and Controls
</app-header>
<div class="container">
  <mat-tab-group
    [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)"
    (selectedTabChange)="selectedTabChange($event)"
    mat-stretch-tabs
  >
    <mat-tab label="Accounts">
      <app-accounts-external></app-accounts-external>
    </mat-tab>
    <mat-tab label="Profiles">
      <app-accounts-internal></app-accounts-internal>
    </mat-tab>
    <mat-tab label="Dockstore Account Controls">
      <ng-template matTabContent>
        <app-controls></app-controls>
      </ng-template>
    </mat-tab>
    <mat-tab label="Requests">
      <app-requests></app-requests>
    </mat-tab>
  </mat-tab-group>
</div>
