<div
  *ngIf="
    (isLoggedIn$ | async) === false &&
    ((dismissedLatestTOS$ | async) !== currentTOSVersion || (dismissedLatestPrivacyPolicy$ | async) !== currentPrivacyPolicyVersion)
  "
  class="push-tos"
>
  <app-tos-banner class="scroll-tos-banner"></app-tos-banner>
</div>
<div class="wrapper">
  <app-notifications></app-notifications>
  <app-banner></app-banner>
  <app-navbar></app-navbar>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="push"></div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
