<!--<div *ngIf="!(isLoggedIn$ | async) && (dismissedTOS$ | async) !== true" class="push-tos">-->
<div
  *ngIf="
    !(isLoggedIn$ | async) &&
    ((dismissedLatestTOS$ | async) !== currentTOSVersion || (dismissedLatestPrivacyPolicy$ | async) !== currentPrivacyPolicyVersion)
  "
  class="push-tos"
>
  <app-tos-banner class="sticky"></app-tos-banner>
</div>
<div class="wrapper">
  <app-banner></app-banner>
  <app-navbar></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="push"></div>
</div>
<div class="footer">
  <app-sponsors></app-sponsors>
  <app-footer></app-footer>
  <app-tos-banner></app-tos-banner>
</div>
