@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

img[alt='User avatar'] {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: solid 1px mat.get-color-from-palette($dockstore-app-gray, 4);
  margin: 0.8rem;
}

img.entry-img {
  width: 6rem;
  max-height: 6rem;
  object-fit: scale-down;
}

button[mat-icon-button] {
  color: mat.get-color-from-palette($dockstore-app-gray, 3);
}

.mat-option {
  font-size: 1.4rem;
  height: 3.5rem;
  line-height: normal;
}

.mat-option:not([disabled]) {
  border-bottom: 0.1rem solid mat.get-color-from-palette($dockstore-app-gray, 3);
}

// Ensure recent activity events are unifrom
.event {
  min-height: 8rem;
}

// Overide mat-card padding to extend mat-divider to edges
mat-divider {
  margin: 0 -16px;
}
