@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

// Material Datatable for both tool and workflow list components
.mat-column-starredUsers,
.mat-column-stars {
  max-width: 6rem;
  justify-content: flex-end;
  color: mat.get-color-from-palette($dockstore-app-accent-1, darker);
}

.mat-column-all_authors {
  max-width: 20rem;
}

.mat-column-descriptorType,
.mat-column-format {
  min-width: min-content;
  max-width: 14rem;
}

.mat-column-projectLinks {
  justify-content: center;
  max-width: 8rem;
}

.mat-column-verified {
  justify-content: center;
  flex: 0 0 7.5rem;
  align-items: center;
}

.mat-column-name {
  word-break: break-word;
}
