@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

// Material Datatable for both tool and workflow list components
.mat-column-starredUsers,
.mat-column-stars {
  max-width: 6rem;
  color: mat.m2-get-color-from-palette($dockstore-app-accent-1, darker);
}

.mat-column-all_authors {
  max-width: 16rem;
}

.mat-column-descriptorType,
.mat-column-descriptorTypeSubclass,
.mat-column-format {
  min-width: min-content;
  max-width: 14rem;
}

.mat-column-projectLinks {
  justify-content: center;
  max-width: 8rem;
}

.mat-column-verified {
  justify-content: center;
  flex: 0 0 7.5rem;
  align-items: center;
}

.mat-column-name {
  word-break: break-word;
}

// To hide the search highlight row if there are no highlights
.search-highlight-row {
  min-height: 0;
}

th {
  white-space: nowrap;
  vertical-align: top;
}
