<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + tag.id">
  View
</button>

<!-- Modal -->
<div class="modal fade" id="{{tag.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">View Version Tag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="format" class="table">
          <tbody>
            <tr>
              <th>Git Reference</th>
              <td>
                {{ tag.reference }}
              </td>
            </tr>
            <tr>
              <th>Workflow Descriptor</th>
              <td>
                {{ tag.workflow_path }}
              </td>
            </tr>
            <tr>
              <th>Last Modified</th>
              <td>
                {{ tag.last_modified ? getDateTimeString(tag.last_modified) : 'n/a' }}
              </td>
            </tr>
            <tr>
              <th>Valid</th>
              <td>
                {{ tag.valid ? 'Yes' : 'No' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
