<div id="homeFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3 class="documentation">Using Dockstore</h3>
        <ul>
          <li>
            <a routerLink="docs/blog">
              News and Events
            </a>
          </li>
          <li>
            <a routerLink="docs/advanced-features">
              Advanced Features
            </a>
          </li>
          <li>
            <a routerLink="docs/faq">
              FAQ
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>Adding to Dockstore</h3>
        <ul>
          <li>
            <a routerLink="docs/getting-started" fragment="sign-up-for-accounts">
              Sign Up for Accounts
            </a>
          </li>
          <li>
            <a routerLink="docs/getting-started-with-docker" fragment="create-your-tool">
              Create Your Tool
            </a>
          </li>
          <li>
            <a routerLink="docs/getting-started-with-cwl" fragment="describe-your-tool-in-cwl">
              Describe Your Tool
            </a>
          </li>
          <li>
            <a routerLink="docs/getting-started-with-dockstore" fragment="register-your-tool-in-dockstore">
              Register Your Tool in Dockstore
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-6">
        <h3>About Dockstore</h3>
        <ul>
          <li>
            <a routerLink="docs/about">
              About the Dockstore
            </a>
          </li>
          <li>
            <a routerLink="docs/about" fragment="built-with-quay-io-and-github">
              Built with Quay.io and Github
            </a>
          </li>
          <li>
            <a routerLink="docs/about" fragment="best-practices">
              Best Practices
            </a>
          </li>
          <li>
            <a routerLink="docs/about" fragment="promoting-standards">
              Promoting Standards
            </a>
          </li>
          <li>
            <a routerLink="docs/about" fragment="future-plans">
              Future Plans
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
