<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Using Dockstore</h3>
      <ul>
        <li>
          <a routerLink="docs/blog">
            News and Events
          </a>
        </li>
        <li>
          <a routerLink="docs/advanced-features">
            Advanced Features
          </a>
        </li>
        <li>
          <a routerLink="docs/faq">
            FAQ
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Adding to Dockstore</h3>
      <ul>
        <li>
          <a routerLink="docs/getting-started">
            Sign Up for Accounts
          </a>
        </li>
        <li>
          <a routerLink="docs/getting-started-with-docker">
            Create Your Tool
          </a>
        </li>
        <li>
          <a routerLink="docs/getting-started-with-cwl">
            Describe Your Tool
          </a>
        </li>
        <li>
          <a routerLink="docs/getting-started-with-dockstore">
            Register Your Tool in Dockstore
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>About Dockstore</h3>
      <ul>
        <li>
          <a routerLink="docs/about">
            About the Dockstore
          </a>
        </li>
        <li>
          <a routerLink="docs/about">
            Built with Quay.io and Github
          </a>
        </li>
        <li>
          <a routerLink="docs/about">
            Best Practices
          </a>
        </li>
        <li>
          <a routerLink="docs/about">
            Promoting Standards
          </a>
        </li>
        <li>
          <a routerLink="docs/about">
            Future Plans
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
