.orgLogo {
  max-height: 100px;
  max-width: 200px;
}

.h5:hover {
  text-decoration: underline;
}

.mat-card-title {
  font-size: 1.7rem;
}

.update-time {
  font-size: 12px;
}

.collection-name {
  color: #3f51b5;
}

.org-name {
  color: #151c3d;
}
