h5:hover {
  text-decoration: underline;
}

.mat-card-title {
  font-size: 1.7rem;
}

.update-time {
  font-size: 12px;
}

.collection-name {
  color: #3f51b5;
}

.org-name {
  color: #151c3d;
}

h5 {
  word-break: break-word;
  display: table;
  width: 100%;
}

.labels > span {
  margin: 0.5rem 0;
}
