@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

h5:hover {
  text-decoration: underline;
}

.mat-card-title {
  font-size: 1.7rem;
}

.update-time {
  font-size: 12px;
}

.collection-name {
  color: mat.get-color-from-palette($dockstore-app-accent-1, darker);
}

.org-name {
  color: $header-color;
}

h5 {
  word-break: break-word;
  display: table;
  width: 100%;
}

.labels {
  margin: 0.5rem 0;
}

// Gap between left/right columns
div.my-3 {
  gap: 30px;
}

// For row wrapping
.mb-4 {
  min-width: 500px;
}
