<app-loading class="w-100" [loading]="loading">
  <div *ngIf="version" class="p-3">
    <mat-card class="alert alert-warning" *ngIf="validationMessage">
      <mat-icon>warning</mat-icon>
      &nbsp;
      <span *ngFor="let item of validationMessage | keyvalue">
        <strong>{{ item.key }}</strong
        >: {{ item.value }}
      </span>
    </mat-card>
  </div>
  <div *ngIf="!loading && (!fileTabs || fileTabs.size === 0) && !displayError" class="p-3">
    <mat-card class="alert alert-warning"> <mat-icon>warning</mat-icon>This version has no files.</mat-card>
  </div>

  <div *ngIf="displayError" class="p-3">
    <mat-card class="alert alert-warning">
      <mat-icon>warning</mat-icon>There was an error retrieving the files for this version. Please reload the page.</mat-card
    >
  </div>
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="matTabChange($event)">
    <mat-tab *ngFor="let fileTab of fileTabs | keyvalue: originalOrder" [label]="fileTab.key">
      <ng-template matTabContent>
        <div class="p-3" *ngIf="fileTab.value.length === 0">
          <mat-card class="alert alert-warning"> <mat-icon>warning</mat-icon>This version has no files of this type.</mat-card>
        </div>
        <div *ngIf="fileTab.value.length > 0">
          <mat-toolbar color="primary">
            <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
              <button color="accent" *ngIf="fileTab.value.length > 10" mat-raised-button (click)="openFileTree(fileTab.value)">
                Select File
              </button>
              <span class="no-wrap" *ngIf="fileTab.value.length > 10"> {{ fileName }} </span>
              <mat-form-field *ngIf="fileTab.value.length <= 10" class="w-50">
                <mat-select [value]="currentFile" (selectionChange)="matSelectChange($event)">
                  <mat-option [value]="file" *ngFor="let file of fileTab.value"> {{ file.path }} </mat-option>
                </mat-select>
              </mat-form-field>
              <span>
                <a
                  mat-icon-button
                  color="secondary"
                  class="mr-1"
                  type="button"
                  *ngIf="isPublished$ | async; else unpublishedDownloadLink"
                  download="{{ fileName }}"
                  [href]="downloadFilePath"
                  matTooltip="Download {{ fileName }}"
                >
                  <mat-icon>save_alt</mat-icon>
                </a>
                <ng-template #unpublishedDownloadLink>
                  <a
                    mat-icon-button
                    color="secondary"
                    class="mr-1"
                    type="button"
                    matTooltip="Download {{ fileName }}"
                    (click)="downloadFileContent()"
                  >
                    <mat-icon>save_alt</mat-icon>
                  </a>
                </ng-template>
                <button mat-icon-button color="secondary" type="button" [cdkCopyToClipboard]="currentFile?.content" matTooltip="Copy File">
                  <mat-icon>file_copy</mat-icon>
                </button>
              </span>
            </div>
          </mat-toolbar>
          <app-code-editor [content]="currentFile?.content" [filepath]="currentFile?.path" [editing]="false"></app-code-editor>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</app-loading>
