.file-copy-download-span {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}
.select-file-button-span {
  flex-grow: 1;
  flex-basis: 0;
}
.primary-bubble-header {
  font-size: 14px !important;
  padding: 0 1rem !important;
}
