<!--ALLOW WDL VIEWER AGAIN -->
<!--<div class="wdl-viewer w-100 h-100">-->
<!--  <mat-card *ngIf="wdlViewerError" class="alert alert-warning mat-elevation-z">-->
<!--    <mat-icon class="alert-warning-icon">warning</mat-icon>&nbsp;-->
<!--    <div>EPAM WDL Visualizer was unable to visualize this workflow. <span *ngIf="errorMessage">It returned the following error:</span></div>-->
<!--    <div>{{errorMessage}}</div>-->
<!--  </mat-card>-->
<!--  <div *ngIf="loading" class="text-center viewer-loading">-->
<!--    <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--  </div>-->
<!--  <div class="svg w-100 h-100" #diagram></div>-->
<!--</div>-->
