@import "~pipeline-builder/dist/pipeline.css";

.svg {
  overflow: hidden;
}

.fullscreen-svg-element {
  width: 100% !important;
  height: 95% !important;
  background: #FFF !important;
}

.mini-svg-dag {
  width: 100% !important;
  height: 500px !important;
}
