@import "~pipeline-builder/dist/pipeline.css";

.svg {
  overflow: hidden;
}

.fullscreen-svg-element {
  width: 100% !important;
  height: 95% !important;
  border: 2px solid #ccc !important;
  background: #FFF !important;
}

.mini-svg-dag {
  width: 100% !important;
  height: 500px !important;
}

.large-svg-dag {
  height: 90% !important;
  border: 1px solid #ccc !important;
}
