<div>
  <span>
    <strong>Container Version:</strong>
    <app-select [items]="versions" [default]="default" [field]="'name'" (select)="onVersionChange($event)"></app-select>
    <strong>Descriptor Type:</strong>
    <app-select [items]="descriptors" [default]="currentDescriptor" (select)="onDescriptorChange($event)"></app-select>
    <strong>File:</strong>
    <app-select [items]="files" [default]="currentFile" [field]="'path'" (select)="onFileChange($event)"></app-select>
  </span>
  <div *ngIf="this.nullDescriptors">
    <alert type="warning">
      <span class="glyphicon glyphicon-warning-sign"></span>
      &nbsp;A Descriptor File associated with this Docker container could not be found.
    </alert>
  </div>
  <div *ngIf="!this.nullDescriptors">
    <section [innerHTML]="content" highlight-js-content=".highlight"></section>
  </div>
</div>
