
.no-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-set-height {
  min-height: 1000px;
  height:100%;
}

.register-workflow-modal-button {
  margin-top: 10px !important;
}
