<div>
  <div *ngIf="(dataSource.loading$ | async); else placeholder">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <ng-template #placeholder>
    <div class="pt-2"></div>
  </ng-template>

  <mat-card *ngFor="let org of dataSource.organisationsSubject$ | async" class="mt-2 mb-2">
    <h3>{{ org.name }}</h3>

    <mat-card-content>
      {{ org.description }}
    </mat-card-content>

    <mat-card-actions>
      <span *ngIf="org?.email">
        <button mat-icon-button>
          <mat-icon>email</mat-icon>
        </button>
        <a [href]="'mailto:' + org.email" target="_top">{{ org.email }}</a>
      </span>

      <span *ngIf="org?.link">
        <button mat-icon-button class="ml-4">
          <mat-icon>link</mat-icon>
        </button>
        <a [href]="org.link" target="_blank">{{ org.link }}</a>
      </span>

      <span *ngIf="org?.location">
        <button mat-icon-button class="ml-4">
          <mat-icon>location_on</mat-icon>
        </button>
        {{ org.location }}
      </span>
    </mat-card-actions>
  </mat-card>
</div>
