@import 'materialColorScheme.scss';

.mat-icon.exporter-icon {
  transform: scale(1.8);
}
.exporter-icon {
  color: #3f51bf;
}
.status-text {
  margin: 10px 0 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: mat-color($dockstore-app-gray, darken);
  text-align: center;
}
