<div class="px-4 py-2">
  <h3>Requests</h3>
  <div *ngIf="myOrganizationInvites?.length == 0 && myOrganizationRequests?.length == 0; else hasRequests">
    <p>You have no requests</p>
  </div>

  <ng-template #hasRequests>
    <p *ngIf="myOrganizationInvites?.length > 0">
      {{ myOrganizationInvites?.length }} organization invite<span *ngIf="myOrganizationInvites?.length != 1">s</span>
    </p>
    <p *ngIf="myOrganizationRequests?.length > 0">
      {{ myOrganizationRequests?.length }} organization request<span *ngIf="myOrganizationRequests?.length != 1">s</span>
    </p>
    <p *ngIf="myPendingOrganizationRequests?.length > 0">
      {{ myPendingOrganizationRequests?.length }} organization request<span *ngIf="myPendingOrganizationRequests?.length != 1">s</span>
      requiring action
    </p>
  </ng-template>
  <a [routerLink]="['/accounts']" [queryParams]="{ tab: 'requests' }" class="mx-3 pull-right">
    View requests
  </a>
</div>
