.confirmation {
  padding: 8px 6.3px 8px 10.7px;
  border-radius: 8px;
  border: solid 1px #fff176;
  background-color: #fffde7;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #212121;
}
.account-link {
  padding: 5px 15.3px 12px 10.7px;
  border-radius: 8px;
  border: solid 1px #f5b7b5;
  background-color: #fcecec;
}
.link-action {
  margin: 0 0 0 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3f51b5;
}
