<mat-card class="fx-grow starred-box">
  <div id="header-bar" fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-header fxLayout="row">
      <mat-card-title>Starred</mat-card-title>
    </mat-card-header>
    <div id="total-starred" fxLayout="row">
      <div id="starred-workflows" fxLayout="row">
        <mat-icon>star</mat-icon>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="p-3">
    <span class="weight-bold">Recent Activity</span>
  </mat-card-content>
</mat-card>
