<mat-card class="h-100">
  <div id="header-bar" fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-header fxLayout="row">
      <mat-card-title>Starred</mat-card-title>
    </mat-card-header>
    <div id="total-starred" fxLayout="row" fxLayoutGap="1rem" class="size-small pb-3">
      <div id="starred-workflows" fxLayout="row" fxLayoutAlign="start center">
        <img src="../assets/svg/star-on.svg" alt="star" />
        {{ totalStarredWorkflows }} Workflows
      </div>
      <div id="starred-tools" fxLayout="row" fxLayoutAlign="start center">
        <img src="../assets/svg/star-on.svg" alt="star" />
        {{ totalStarredTools }} Tools
      </div>
      <div id="starred-services" fxLayout="row" fxLayoutAlign="start center">
        <img src="../assets/svg/star-on.svg" alt="star" />
        {{ totalStarredServices }} Services
      </div>
      <div id="starred-orgs" fxLayout="row" fxLayoutAlign="start center">
        <img src="../assets/svg/star-on.svg" alt="star" />
        {{ totalStarredOrganizations }} Organizations
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="p-3 h-100">
    <div *ngIf="events.length !== 0 || isLoading; else noEvents">
      <h5 class="weight-bold">Recent Activity</h5>
      <div class="size-small widget-list-items" *ngFor="let event of events" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="{{ event?.initiatorUser?.avatarUrl }}" alt="User avatar" />
          <div [ngSwitch]="event.type">
            <div *ngSwitchCase="EventType.ADDVERSIONTOENTRY" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser?.username }} </strong> created the {{ event.version?.referenceType | lowercase }}
                <strong>{{ event.version?.name }}</strong> in {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
                <a
                  [routerLink]="
                    event?.apptool
                      ? '/tools/' + event?.apptool.full_workflow_path
                      : event?.tool
                      ? '/tools/' + event?.tool.tool_path
                      : '/workflows/' + event?.workflow.full_workflow_path
                  "
                  >{{
                    (event?.tool | entryToDisplayName) || (event?.workflow | entryToDisplayName) || (event?.apptool | entryToDisplayName)
                  }}</a
                >
              </div>
              <div class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</div>
              <mat-divider *ngIf="!last" class="custom-margin"></mat-divider>
            </div>
            <div *ngSwitchCase="EventType.CREATECOLLECTION" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser?.username }}</strong> created the collection
                <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                  >{{ event.collection?.name }}
                </a>
                in organization
                <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              </div>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.ADDTOCOLLECTION" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser.username }} </strong> added the {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
                <a
                  [routerLink]="
                    event?.apptool
                      ? '/tools/' + event?.apptool.full_workflow_path
                      : event?.tool
                      ? '/tools/' + event?.tool.tool_path
                      : '/workflows/' + event?.workflow.full_workflow_path
                  "
                  >{{ event?.apptool ? event?.apptool.workflowName : event?.tool ? event?.tool.name : event?.workflow.workflowName }}</a
                >
                to the collection
                <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                  >{{ event.collection?.name }}
                </a>
                in organization
                <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              </div>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.ADDUSERTOORG" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser.username }} </strong> added {{ event.user.username }} to the organization
                <a [routerLink]="'/organizations/' + event.organization?.name">{{ event.organization?.displayName }}</a>
              </div>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.MODIFYCOLLECTION" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser.username }} </strong> edited the collection
                <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                  >{{ event.collection?.name }}
                </a>
              </div>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.REMOVEFROMCOLLECTION" class="my-3">
              <div class="list-events">
                <strong>{{ event.initiatorUser.username }} </strong> removed the {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
                <a
                  [routerLink]="
                    event?.apptool
                      ? '/tools/' + event?.apptool.full_workflow_path
                      : event?.tool
                      ? '/tools/' + event?.tool.tool_path
                      : '/workflows/' + event?.workflow.full_workflow_path
                  "
                  >{{ event?.apptool ? event?.apptool.workflowName : event?.tool ? event?.tool.name : event?.workflow.workflowName }}</a
                >
                from the collection
                <a [routerLink]="'/organizations/' + event.organization?.name + '/collections/' + event.collection?.name"
                  >{{ event.collection?.name }}
                </a>
              </div>
              <div class="subtitle">{{ event.dbCreateDate | date: 'medium' }}</div>
            </div>
            <div *ngSwitchCase="EventType.PUBLISHENTRY" class="my-3">
              <div class="list-events">
                <strong>{{ event.user.username }} </strong> published the {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
                <a
                  [routerLink]="
                    event?.apptool
                      ? '/tools/' + event?.apptool.full_workflow_path
                      : event?.tool
                      ? '/tools/' + event?.tool.tool_path
                      : '/workflows/' + event?.workflow.full_workflow_path
                  "
                  >{{
                    (event?.tool | entryToDisplayName) || (event?.workflow | entryToDisplayName) || (event?.apptool | entryToDisplayName)
                  }}</a
                >
              </div>
              <div class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</div>
            </div>
            <div *ngSwitchCase="EventType.UNPUBLISHENTRY" class="my-3">
              <div class="list-events">
                <strong>{{ event.user.username }} </strong> unpublished the {{ event?.tool || event?.apptool ? 'tool' : 'workflow' }}
                <a
                  [routerLink]="
                    event?.apptool
                      ? '/tools/' + event?.apptool.full_workflow_path
                      : event?.tool
                      ? '/tools/' + event?.tool.tool_path
                      : '/workflows/' + event?.workflow.full_workflow_path
                  "
                  >{{
                    (event?.tool | entryToDisplayName) || (event?.workflow | entryToDisplayName) || (event?.apptool | entryToDisplayName)
                  }}</a
                >
              </div>
              <div class="subtitle">{{ 'on ' + (event.dbCreateDate | date: 'medium') }}</div>
            </div>
          </div>
        </div>
        <img class="mx-2" src="{{ event?.organization?.avatarUrl }}" alt="Org avatar" />
      </div>
      <div class="weight-bold py-2">
        <a [routerLink]="'/starred'"> All Starred<mat-icon class="mat-icon-sm">keyboard_double_arrow_right</mat-icon> </a>
      </div>
    </div>
    <ng-template #noEvents>
      <div *ngIf="!isLoading" fxLayout="column" class="h-100" fxLayoutAlign="center center">
        <img src="../assets/svg/sub-nav/organization.svg" alt="starred" class="widget-box-type-logo mb-4" />
        <span>You do not have any starred events </span>
        <div class="size-small text-align-center">
          <span>Use the </span>
          <button
            mat-button
            class="txt-button"
            id="registerOrganizationButton"
            matTooltip="Register organization"
            matTooltipPosition="after"
            (click)="requireAccounts()"
          >
            organization request wizard
          </button>
          to request an organization or visit the
          <a routerLink="/organizations">organizations page</a>
          to star an organization.
        </div>
        <a
          class="size-small mt-3"
          target="_blank"
          rel="noopener noreferrer"
          href="https://docs.dockstore.org/en/latest/advanced-topics/organizations-and-collections.html"
          >Learn more about organizations.
        </a>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
