@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

th,
td {
  white-space: nowrap;
}

:host ::ng-deep {
  table {
    table-layout: fixed;
    width: 100%;
  }

  thead,
  tbody {
    width: 100%;
    border: 1px solid mat.get-color-from-palette($dockstore-app-gray, 7);
  }
  th,
  td {
    border: 1px solid mat.get-color-from-palette($dockstore-app-gray, 7);
    padding: 2px;
  }
}
