<mat-card class="h-100 entry-boxes">
  <div id="header-bar" fxLayout="row" fxLayoutGap="5px" class="mat-card-header-separate">
    <div id="workflow-number" fxLayout="row">
      <mat-card-header fxLayout="row">
        <mat-card-title>{{ entryTypeCapitalize }}s</mat-card-title>
        <span class="bubble">{{ totalEntries }}</span>
      </mat-card-header>
    </div>
    <button
      mat-button
      class="private-btn small-btn-structure ml-3 mb-3"
      id="register{{ entryTypeCapitalize }}Button"
      matTooltip="Register {{ entryTypeCapitalize }}"
      matTooltipPosition="after"
      (click)="showRegisterEntryModal()"
    >
      <img src="../../../assets/svg/icons-plus.svg" alt="Register a {{ entryTypeCapitalize }}" class="pr-2 pb-1" />
      Register a {{ entryTypeCapitalize }}
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="p-3 entries-container">
    <div *ngIf="totalEntries !== 0 || isLoading; else noEntries">
      <mat-form-field appearance="outline" class="search-form-field w-100 pb-0">
        <input matInput [(ngModel)]="filterText" (keyup)="onTextChange($event)" placeholder="Search your {{ entryTypeLowerCase }}s..." />
      </mat-form-field>
      <h5 class="weight-bold my-0">Recent Activity</h5>
      <div *ngFor="let entry of listOfEntries" fxLayout="row" class="list-items w-100 py-2">
        <a class="no-wrap" [routerLink]="allEntriesLink + entry.path">
          {{ entry.prettyPath }}
        </a>
        <div class="light-text">{{ entry.lastUpdateDate | date: 'MMM d, yyyy' }}</div>
      </div>
      <div *ngIf="listOfEntries.length === 0" class="light-text mt-2">No matching {{ entryTypeLowerCase }}s.</div>
      <div class="weight-bold py-2">
        <a [routerLink]="allEntriesLink"
          >All {{ entryTypeCapitalize }}s<mat-icon class="mat-icon-sm">keyboard_double_arrow_right</mat-icon></a
        >
      </div>
    </div>
    <ng-template #noEntries>
      <div *ngIf="!isLoading" fxLayout="column" class="h-100 no-entries">
        <img *ngIf="entryType === 'WORKFLOW'" src="../assets/svg/workflow-circle.svg" alt="my workflows" class="entry-logo mb-4" />
        <img *ngIf="entryType === 'TOOL'" src="../assets/svg/tool-circle.svg" alt="my tools" class="entry-logo mb-4" />
        <img *ngIf="entryType === 'SERVICE'" src="../assets/svg/service-circle.svg" alt="my services" class="entry-logo mb-4" />
        <span>You have not registered any {{ entryTypeLowerCase }}s.</span>
        <div class="size-small">
          <span>Use the</span>
          <button
            mat-button
            class="txt-button"
            id="register{{ entryTypeLowerCase }}Button"
            matTooltip="Register {{ entryTypeLowerCase }}"
            matTooltipPosition="after"
            (click)="showRegisterEntryModal()"
          >
            {{ entryTypeLowerCase }} registration wizard
          </button>
          <span>to register a {{ entryTypeLowerCase }}.</span>
        </div>
        <a class="size-small" target="_blank" rel="noopener noreferrer" [href]="helpLink">Learn more about {{ entryTypeLowerCase }}s. </a>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
