<mat-card class="h-100">
  <div id="header-bar" fxLayout="row" fxLayoutGap="5px" class="space-between">
    <div id="workflow-number" fxLayout="row">
      <mat-card-header fxLayout="row">
        <mat-card-title>{{ entryTypeLowerCase | titlecase }}s</mat-card-title>
        <span class="bubble workflow-background" *ngIf="entryType === entryTypeEnum.WORKFLOW">{{ totalEntries }}</span>
        <span class="bubble container-background" *ngIf="entryType === entryTypeEnum.TOOL">{{ totalEntries }}</span>
        <span class="bubble service-background" *ngIf="entryType === entryTypeEnum.SERVICE">{{ totalEntries }}</span>
      </mat-card-header>
    </div>
    <button
      mat-button
      class="private-btn small-btn-structure ml-3 mb-3"
      id="register{{ entryTypeLowerCase | titlecase }}Button"
      matTooltip="Register {{ entryTypeLowerCase | titlecase }}"
      matTooltipPosition="after"
      (click)="showRegisterEntryModal()"
      data-cy="register-entry-btn"
    >
      <img src="../../../assets/svg/icons-plus.svg" alt="Register a {{ entryTypeLowerCase | titlecase }}" class="pr-2 pb-1" />
      Register a {{ entryTypeLowerCase | titlecase }}
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content class="p-3 entries-container">
    <div *ngIf="totalEntries !== 0 || isLoading; else noEntries">
      <mat-form-field appearance="outline" class="search-form-field w-100 pb-0">
        <input
          matInput
          data-cy="search-field"
          [(ngModel)]="filterText"
          (keyup)="onTextChange($event)"
          placeholder="Search your {{ entryTypeLowerCase }}s..."
        />
      </mat-form-field>
      <h5 class="weight-bold my-0">Recent Activity</h5>
      <div *ngFor="let entry of listOfEntries" fxLayout="row" class="widget-list-items space-between w-100 py-2">
        <a class="no-wrap" [routerLink]="allEntriesLink + entry.path">
          {{ entry.prettyPath }}
        </a>
        <div class="date-display">{{ entry.lastUpdateDate | date: 'MMM d, yyyy' }}</div>
      </div>
      <div *ngIf="listOfEntries.length === 0" class="mt-2">No matching {{ entryTypeLowerCase }}s</div>
      <div class="weight-bold py-2">
        <a [routerLink]="allEntriesLink" data-cy="all-entries-btn">
          All {{ entryTypeLowerCase | titlecase }}s<mat-icon class="mat-icon-sm">keyboard_double_arrow_right</mat-icon>
        </a>
      </div>
    </div>
    <ng-template #noEntries>
      <div *ngIf="!isLoading" fxLayout="column" class="h-100 text-align-center" fxLayoutAlign="center center">
        <img
          *ngIf="entryType === 'WORKFLOW'"
          src="../assets/svg/workflow-circle.svg"
          alt="my workflows"
          class="widget-box-type-logo mb-4"
        />
        <img *ngIf="entryType === 'TOOL'" src="../assets/svg/tool-circle.svg" alt="my tools" class="widget-box-type-logo mb-4" />
        <img *ngIf="entryType === 'SERVICE'" src="../assets/svg/service-circle.svg" alt="my services" class="widget-box-type-logo mb-4" />
        <span>You have not registered any {{ entryTypeLowerCase }}s.</span>
        <div class="size-small">
          <span>Use the</span>
          <button
            mat-button
            class="inline-text-btn"
            id="register{{ entryTypeLowerCase }}Button"
            matTooltip="Register {{ entryTypeLowerCase }}"
            matTooltipPosition="after"
            (click)="showRegisterEntryModal()"
            data-cy="no-entry-register-modal"
          >
            {{ entryTypeLowerCase }} registration wizard
          </button>
          <span>to register a {{ entryTypeLowerCase }}.</span>
        </div>
        <a class="size-small" target="_blank" rel="noopener noreferrer" [href]="helpLink" data-cy="help-link"
          >Learn more about {{ entryTypeLowerCase }}s.
        </a>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
