@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

.entries-container {
  height: 95%;
}

#bubble-green {
  background-color: $workflow-selection-color;
}

#bubble-blue {
  background-color: $tool-selection-color;
}

#bubble-orange {
  background-color: $service-selection-color;
}
