<tabset [justified]="true">
  <tab heading="Dockerfile">
    <app-dockerfile [id]="id" [versions]="versions" [default]="default">
    </app-dockerfile>
  </tab>

  <tab heading="Descriptor Files">
    <app-descriptors-container [id]="id" [versions]="versions" [default]="default">
    </app-descriptors-container>
  </tab>

  <tab heading="Test Parameter Files">
    <app-paramfiles-container [id]="id" [versions]="versionsWithParamfiles" [default]="default">
    </app-paramfiles-container>
  </tab>

</tabset>

<div *ngIf="!versions">
  <div class="alert alert-info">
    <strong>No Valid Tags</strong> No files will be shown for invalid versions.
  </div>
</div>
