<mat-expansion-panel expanded>
  <mat-expansion-panel-header> Search </mat-expansion-panel-header>
  <mat-form-field appearance="outline" class="search-form-field w-100">
    <mat-label>Enter search term</mat-label>
    <input
      matInput
      #search
      [matAutocomplete]="auto"
      [formControl]="searchFormControl"
      matTooltip="Find tools and workflows"
      [matTooltipPosition]="'after'"
      list="suggestions"
      type="text"
      (keydown.enter)="this.submitSearch()"
      data-cy="basic-search"
    />
    <mat-hint align="end">Press &lt;Enter&gt; to search</mat-hint>
    <button mat-button *ngIf="search.value" matSuffix mat-icon-button (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="this.submitSearch()">
    <mat-option *ngFor="let option of autocompleteTerms$ | async" [value]="option">{{ option }}</mat-option>
  </mat-autocomplete>
  <div class="mt-2"><a data-cy="advanced-search" (click)="openAdvancedSearch()"> Open Advanced Search </a></div>
</mat-expansion-panel>
