<div>
  <mat-form-field appearance="outline">
    <mat-label>Search for an author</mat-label>
    <input
      matInput
      [formControl]="searchFormControl"
      [matAutocomplete]="auto"
      matTooltip="Find authors"
      [matTooltipPosition]="'after'"
      list="suggestions"
      class="w-100 mb-3"
      placeholder="Search for an author"
      type="text"
    />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of authorAutocompleteTerms$ | async" [value]="option">{{ option }}</mat-option>
  </mat-autocomplete>
</div>
