// Overriding the border added in the style.scss because we're using material now
input[type='text']:focus,
textarea:focus {
  border: none;
}
mat-form-field {
  width: 100%;
}

input.mat-input-element:not(:focus) {
  height: 1rem;
}
