.cards-container {
  display: flex;
  padding: 2% 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  @media (max-width: 1300px) {
    flex-direction: column;
    align-items: center;
  }
}

.landing-page-card {
  width: 45%;

  @media (max-width: 1300px) {
    width: 80%;
    margin-bottom: 2%;
  }
}

.header-container {
  text-align: center;
  position: relative;
}

.back-button {
  position: absolute;
  bottom: 0.1em;
  right: 10em;
}

mat-divider {
  position: relative !important;
}

.landing-page-card-content {
  width: 80%;
  padding: 0 5%;
  margin: auto;
}

.docs-link-text {
  text-align: center;
  font-size: 16px;
  color: black;
}

.landing-page-container {
  align-items: center;
}
