.cards-container {
  padding: 5% 0;
}

.landing-page-card {
  width: 40%;
  height: 100%;
}

mat-divider {
  position: relative !important;
}

.landing-page-card-content {
  width: 75%;
  padding: 0 5%;
}

.landing-page-card-content-text {
  text-align: center;
}
