<div fxLayout fxLayoutAlign="start start">
  <h1 mat-dialog-title>My Organizations</h1>
  <span class="bubble org-background ml-4">{{ data.length }}</span>
</div>
<div>
  <div *ngFor="let org of data" fxLayout="row" fxLayoutAlign="space-between center" class="widget-list-items w-100 py-3">
    <a class="pointer no-wrap" (click)="dialogNavigate(org.name)">
      {{ org.displayName }}
    </a>
    <div class="date-display">{{ org.lastUpdateDate | date: 'MMM d, yyyy' }}</div>
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="mt-4">
  <button data-cy="close-dialog-button" mat-button mat-dialog-close color="primary" cdkFocusInitial>Close</button>
</div>
