<h1 mat-dialog-title>
  My Organizations
  <mat-chip-set>
    <mat-chip class="org-background">{{ data.length }}</mat-chip>
  </mat-chip-set>
</h1>
<mat-dialog-content>
  <div fxLayout fxLayoutAlign="space-between" class="date-display widget-list-items py-3">
    <span>Organization</span>
    <span>Date Created</span>
  </div>
  <div>
    <div *ngFor="let org of data" fxLayout="row" fxLayoutAlign="space-between center" class="widget-list-items w-100 py-3">
      <a class="pointer no-wrap" (click)="dialogNavigate(org.name)">
        {{ org.displayName }}
      </a>
      <div class="date-display">{{ org.lastUpdateDate | date: 'MMM d, yyyy' }}</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button data-cy="close-dialog-button" mat-button mat-dialog-close color="accent" cdkFocusInitial>Close</button>
</mat-dialog-actions>
