<app-header>
  <span class="glyphicon glyphicon-tasks"></span>
  Onboarding Wizard
</app-header>
<div class="container">
  <div *ngIf="curStep == 1">
    <app-accounts-external></app-accounts-external>
  </div>
  <div *ngIf="curStep == 2">
    <app-downloadcliclient></app-downloadcliclient>
  </div>
  <div *ngIf="curStep == 3">
    <app-setupcomplete></app-setupcomplete>
  </div>
  <nav class="pull-right">
    <ul class="pager">
      <li *ngIf="curStep > 1">
        <button class="changePage" (click)="prevStep()"><span class="glyphicon glyphicon-chevron-left"></span>Previous</button>
      </li>
      <li *ngIf="tokenSetComplete">
        <button class="changePage" (click)="nextStep()" id="next_step" *ngIf="curStep < 3">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
        <button class="changePage" routerLink="/docs" id="finish_step" *ngIf="curStep >= 3">Finish<span class="glyphicon glyphicon-chevron-right"></span></button>
      </li>
    </ul>
  </nav>
</div>
