.flex-container {
  min-height: 300px;
  background: #21335b;
  // Optional ship and truck background images:
  // background: url('../../assets/images/dockstore/ship.png') no-repeat, url('../../assets/images/dockstore/truck.png') no-repeat, #21335b;
  // background-position: 45% 100%, 70% 100%;
}

.unpadded-title {
  font-size: 56px;
  color: white;
  font-weight: normal;
  line-height: 56px;
}

.unpadded-caption {
  font-size: 24px;
  color: #dad4d4;
  font-weight: normal;
}
