<div fxLayout="row wrap" fxLayoutAlign="space-around" class="flex-container m-4" fxLayoutGap="0.5rem">
  <div class="m-2" fxLayout="column" fxLayoutAlign="center">
    <h1 class="unpadded-title">Create, Share, Use</h1>
    <h2 class="unpadded-caption">Docker Tools and Workflows for the Sciences</h2>
    <input
      data-cy="loggedInSearchBar"
      #loggedInSearchBar
      type="text"
      placeholder="Search..."
      class="fully-rounded landing-search"
      (keyup.enter)="goToSearch(loggedInSearchBar.value)"
    />
  </div>
  <div class="m-2" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5rem">
    <a mat-flat-button color="accent" href="{{ Dockstore.DOCUMENTATION_URL }}/dockstore-introduction.html" class="big-button">
      About
    </a>
    <button mat-flat-button color="accent" routerLink="/quick-start" class="big-button">Quickstart</button>
    <button mat-flat-button color="accent" routerLink="/accounts" class="big-button">Account Settings</button>
  </div>
</div>
