.flex-container {
  width: 100vw;
  background: url('../../assets/images/dockstore/ship.png') no-repeat, url('../../assets/images/dockstore/truck.png') no-repeat, #21335b;
  background-position: 45% 100%, 70% 100%;
}

.stacked-button {
  margin: 0.25rem 0rem;
  font-size: 16px;
}

.landing-search {
  width: 60%;
  max-width: 600px;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  line-height: 2em;
  background: white url(../../../images/search-button.png) left center no-repeat;
  background-position: 5px;
  outline: none;
  color: black;
}
