<div class="header">
  <div class="container">
    <ul class="flex-container">
      <li class="flex-item">
        <h2 class="title">Create, Share, Use</h2>
        <div class="search-holder">
          <input id="searchBar" #search type="text" placeholder="Search..." class="fully-rounded landing-search" />
          <!--(keyup.enter)="goToSearch(search.value)"-->
        </div>
      </li>
      <li class="flex-item">
        <button mat-flat-button color="accent" routerLink="/login" class="big-button">
          About
        </button>
      </li>
    </ul>
  </div>
</div>
