@use '@angular/material' as mat;
@import '/src/materialColorScheme.scss';

/*
The following classes are used style the featured content external html
 */

.feat-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2.5rem;
}

.feat-content-card {
  flex: 1;
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px mat.get-color-from-palette($dockstore-app-gray, 7);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.08);
}

a.cardClick {
  height: 100%;
  width: 100%;
  color: $body-color;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.feat-content-title {
  min-height: 3rem;
  color: mat.get-color-from-palette($dockstore-app-accent);
  border-bottom: solid 1px mat.get-color-from-palette($dockstore-app-gray, 7);
}

.feat-card-description {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.feat-card-btn-container {
  display: flex;
  justify-content: end;
}

@media (max-width: 50rem) {
  .feat-content-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
