.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.instructions {
  display: block;
  margin: 0 auto;
  width: 450px;
}

/* Source: https://codepen.io/shidhincr/pen/ICLBD */
.redfamily {
  color: red;
}
.search-box,.close-icon,.search-wrapper {
  position: relative;
  padding: 10px;
}
.search-wrapper {
  width: 325px;
  margin: auto;
}
.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
}
.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}
.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  /*display: inline-block;*/
  width: 35px;
  height: 30px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 40px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 3px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}

.tagCloud{
  padding-left: 10%;
  margin-bottom: 30px;
  border-radius: 10px;
  &.tool {
    background-color: #f2faff;
    box-shadow: 0 0 10px 0px #b0e0ee;
  }
  &.workflow {
    background-color: #f2fffc;
    box-shadow: 0 0 10px 0px #b0eed7;
  }
}
