.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.instructions {
  display: block;
  margin: 0 auto;
  width: 450px;
}
