<div>
  <div *ngIf="!dataSource">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="py-2">
    <mat-form-field>
      <mat-label>Sort by</mat-label>
      <mat-select [value]="defaultSortOption.sort" (selectionChange)="setSort($event.value)">
        <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.sort">{{ sortOption.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="tag-cloud-dropdown">
      <button
        mat-button
        fxFlex="21rem"
        class="tagCloud-btn {{ entryType | lowercase }}-background"
        (click)="clickTagCloudBtn(this.entryType)"
      >
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <img class="tag-cloud" src="../assets/images/dockstore/tag-cloud.svg" alt="Popular keywords icon" />
            <span class="m-2"><b>Popular Keywords</b></span>
          </div>
          <fa-icon [icon]="showTagCloudForEntryType ? faMinus : faPlus" aria-hidden="true"></fa-icon>
        </div>
      </button>
      <div class="tagCloud {{ entryType | lowercase }}" *ngIf="showTagCloudForEntryType && tagCloudData" data-cy="tagCloud">
        <angular-tag-cloud
          [data]="tagCloudData"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow"
          (clicked)="tagClicked($event)"
        >
        </angular-tag-cloud>
      </div>
    </div>
  </div>
  <mat-table [hidden]="!dataSource" [dataSource]="dataSource" matSort data-cy="search-entry-results-table" multiTemplateDataRows>
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell data-cy="entryColumn" *matCellDef="let entry">
        <mat-card class="w-100">
          <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div>
                <img
                  src="../../../../assets/svg/{{ entry?.source.entryTypeMetadata.term }}-circle.svg"
                  class="mr-2_5 site-icons-small"
                  alt="{{ entry?.source.entryTypeMetadata.term }} icon"
                />
                <a
                  [matTooltip]="entry?.source | entryToDisplayName: true"
                  matTooltipPosition="left"
                  [routerLink]="entry?.source | routerLink"
                  >{{ entry?.source | entryToDisplayName: true }}</a
                >
              </div>
              <div *ngIf="entry?.source.starredUsers?.length" data-cy="starredUsers" class="accent-1-dark">
                <mat-icon class="mat-icon-sm">star_rate</mat-icon>
                <span class="weight-bold align-middle">{{ entry?.source.starredUsers.length }}</span>
              </div>
            </div>
            <div class="single-spaced">
              <span
                >{{ entry?.source.topicAutomatic }}
                <mat-chip-set *ngIf="entry?.source.topicSelection === TopicSelectionEnum.AI && !entry?.source.approvedAITopic">
                  <app-ai-bubble [isPublic]="true"></app-ai-bubble>
                </mat-chip-set>
              </span>
            </div>

            <!-- Search highlighting results-->
            <div *ngIf="entry.highlight">
              <table class="search-highlighting size-small horizontal-table">
                <tr *ngFor="let highlight of entry.highlight | keyvalue">
                  <th>{{ this.searchEverythingFriendlyNames.get(highlight.key.toString()) }}:</th>
                  <td class="single-spaced"><span [innerHTML]="highlight.value | joinWithEllipses"></span></td>
                </tr>
              </table>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem">
              <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex>
                <span *ngIf="entry?.source?.all_authors">
                  <mat-icon color="primary" class="mat-icon-sm mr-1">person</mat-icon
                  ><span class="size-small" [innerHTML]="entry?.source?.all_authors | getSearchAuthorsHtml"></span>
                </span>
                <span>
                  <mat-icon color="primary" class="mat-icon-sm mr-1">history</mat-icon>
                  <span class="size-small"
                    >Last updated {{ entry?.source.last_modified_date ? (entry?.source.last_modified_date | date) : 'n/a' }}</span
                  >
                </span>
                <app-doi-badge
                  *ngIf="entry?.source?.selected_concept_doi"
                  [doi]="entry.source.selected_concept_doi"
                  [displayInitiator]="false"
                ></app-doi-badge>
                @let executionCount = entry?.source.executionCount;
                <span *ngIf="executionCount > 0">
                  <mat-icon color="primary" class="mat-icon-sm">play_arrow</mat-icon
                  ><span class="size-small mr-1"
                    >{{ executionCount | number }} {{ executionCount === 1 ? 'execution' : 'executions' }}</span
                  >
                </span>
                <mat-chip-set>
                  <app-category-button
                    *ngFor="let category of entry?.source.categories"
                    [category]="category"
                    [entryType]="entryType | lowercase"
                  ></app-category-button>
                  <mat-chip data-cy="descriptorType" *ngIf="entry?.source.entryTypeMetadata.type !== EntryType.TOOL">
                    {{ entry?.source.descriptorType | descriptorLanguage }}
                  </mat-chip>
                  <ng-container *ngIf="entry?.source.entryTypeMetadata.type === EntryType.TOOL">
                    <mat-chip data-cy="descriptorType" *ngFor="let language of entry?.source.descriptorType">
                      {{ language ? language : '' }}
                    </mat-chip>
                  </ng-container>
                  <mat-chip *ngIf="entry?.source.entryTypeMetadata.type === EntryType.NOTEBOOK" data-cy="descriptorTypeSubclass">{{
                    entry?.source.descriptorTypeSubclass
                  }}</mat-chip>
                  <app-preview-warning
                    *ngIf="entry?.source.descriptorType === DescriptorTypeEnum.SMK"
                    [featureName]="Dockstore.FEATURES.snakemakeFeatureName"
                    [isBubble]="true"
                  ></app-preview-warning>
                </mat-chip-set>
              </div>
              <div *ngIf="entry?.source.monthlyExecutionCounts" fxLayout="column" fxLayoutAlign="end">
                <app-thumbnail-time-series-graph
                  style="position: relative; bottom: 1px"
                  [timeSeries]="entry?.source.monthlyExecutionCounts"
                ></app-thumbnail-time-series-graph>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let element; columns: displayedColumns" class="py-2"></mat-row>
  </mat-table>
  <mat-paginator
    data-cy="search-entry-table-paginator"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="updatePageSizeAndIndex($event)"
  ></mat-paginator>
</div>
