<div>
  @if (!dataSource) {
  <div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  }
  <div fxLayout="row" fxLayoutAlign="space-between center" class="py-2">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select [value]="defaultSortOption.sort" (selectionChange)="setSort($event.value)">
          @for (sortOption of sortOptions; track sortOption) {
          <mat-option [value]="sortOption.sort">{{ sortOption.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <img
        matTooltip="With no search term, relevance is calculated as a non-personalized weighted sum based on stars, recent and total executions, and membership in a Dockstore category, and decreases for archived entries and with the amount of time since last update"
        src="../../../../assets/svg/help.svg"
        alt="help"
        class="pl-2"
      />
    </div>
    <div class="tag-cloud-dropdown">
      <button mat-button fxFlex="21rem" class="tagCloud-btn {{ entryType | lowercase }}-background" (click)="clickTagCloudBtn(entryType)">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <img class="tag-cloud" src="../assets/images/dockstore/tag-cloud.svg" alt="Popular keywords icon" />
            <span class="m-2"><b>Popular Keywords</b></span>
          </div>
          <fa-icon [icon]="showTagCloudForEntryType ? faMinus : faPlus" aria-hidden="true"></fa-icon>
        </div>
      </button>
      @if (showTagCloudForEntryType && tagCloudData) {
      <div class="tagCloud {{ entryType | lowercase }}" data-cy="tagCloud">
        <angular-tag-cloud
          [data]="tagCloudData"
          [width]="options.width"
          [height]="options.height"
          [overflow]="options.overflow"
          (clicked)="tagClicked($event)"
        >
        </angular-tag-cloud>
      </div>
      }
    </div>
  </div>
  <mat-table [hidden]="!dataSource" [dataSource]="dataSource" matSort data-cy="search-entry-results-table" multiTemplateDataRows>
    <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell data-cy="entryColumn" *matCellDef="let entry">
        <mat-card class="w-100">
          <mat-card-content fxLayout="column" fxLayoutGap="0.5rem">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div>
                <img
                  src="../../../../assets/svg/{{ entry?.source.entryTypeMetadata.term }}-circle.svg"
                  class="mr-2_5 site-icons-medium-small"
                  alt="{{ entry?.source.entryTypeMetadata.term }} icon"
                />
                <a
                  [matTooltip]="entry?.source | entryToDisplayName: true"
                  matTooltipPosition="left"
                  [routerLink]="entry?.source | routerLink"
                  ><span style="font-size: 15px"
                    ><b>{{ entry?.source | entryToDisplayName: true }}</b></span
                  ></a
                >
                @if (entry?.source?.archived) {
                <mat-chip class="alert-warning ml-3">Archived</mat-chip>
                }
              </div>
              @if (entry?.source.starredUsers?.length) {
              <div data-cy="starredUsers" class="accent-1-dark">
                <mat-icon class="mat-icon-sm">star_rate</mat-icon>
                <span class="weight-bold align-middle">{{ entry?.source.starredUsers.length }}</span>
              </div>
              }
            </div>
            <div class="single-spaced">
              <span
                >{{ entry?.source.topicAutomatic }}
                @if (entry?.source.topicSelection === TopicSelectionEnum.AI && !entry?.source.approvedAITopic) {
                <mat-chip-set>
                  <app-ai-bubble [isPublic]="true"></app-ai-bubble>
                </mat-chip-set>
                }
              </span>
            </div>

            <!-- Search highlighting results-->
            @if (entry.highlight) {
            <div>
              <table class="search-highlighting size-small horizontal-table">
                @for (highlight of entry.highlight | keyvalue; track highlight) {
                <tr>
                  <th>{{ searchEverythingFriendlyNames.get(highlight.key.toString()) }}:</th>
                  <td class="single-spaced"><span [innerHTML]="highlight.value | joinWithEllipses"></span></td>
                </tr>
                }
              </table>
            </div>
            }

            <app-entry-categories [categories]="entry | entryCategories" [entryType]="entryType"></app-entry-categories>
            <div fxLayout="row" fxLayoutGap="1rem">
              <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex>
                @if (entry?.source?.all_authors) {
                <span>
                  <mat-icon color="primary" class="mat-icon-sm mr-1">person</mat-icon
                  ><span class="size-small" [innerHTML]="entry?.source?.all_authors | getSearchAuthorsHtml"></span>
                </span>
                }
                <span>
                  <mat-icon color="primary" class="mat-icon-sm mr-1">history</mat-icon>
                  <span class="size-small"
                    >Last updated {{ entry?.source.last_modified_date ? (entry?.source.last_modified_date | date) : 'n/a' }}</span
                  >
                </span>
                @if (entry?.source?.selected_concept_doi) {
                <app-doi-badge [doi]="entry.source.selected_concept_doi" [displayInitiator]="false"></app-doi-badge>
                } @let executionCount = entry?.source.executionCount; @if (executionCount > 0) {
                <span>
                  <mat-icon color="primary" class="mat-icon-sm">play_arrow</mat-icon
                  ><span class="size-small mr-1"
                    >{{ executionCount | number }} {{ executionCount === 1 ? 'execution' : 'executions' }}</span
                  >
                </span>
                }
                <mat-chip-set>
                  @if (entry?.source.entryTypeMetadata.type !== EntryType.TOOL) {
                  <mat-chip data-cy="descriptorType">
                    {{ entry?.source.descriptorType | descriptorLanguage }}
                  </mat-chip>
                  } @if (entry?.source.entryTypeMetadata.type === EntryType.TOOL) { @for (language of entry?.source.descriptorType; track
                  language) {
                  <mat-chip data-cy="descriptorType">
                    {{ language ? language : '' }}
                  </mat-chip>
                  } } @if (entry?.source.entryTypeMetadata.type === EntryType.NOTEBOOK) {
                  <mat-chip data-cy="descriptorTypeSubclass">{{ entry?.source.descriptorTypeSubclass }}</mat-chip>
                  } @if (entry?.source.descriptorType === DescriptorTypeEnum.SMK) {
                  <app-preview-warning [featureName]="Dockstore.FEATURES.snakemakeFeatureName" [isBubble]="true"></app-preview-warning>
                  }
                </mat-chip-set>
              </div>
              @if (entry?.source.monthlyExecutionCounts) {
              <div fxLayout="column" fxLayoutAlign="end">
                <app-thumbnail-time-series-graph
                  style="position: relative; bottom: 1px"
                  [timeSeries]="entry?.source.monthlyExecutionCounts"
                ></app-thumbnail-time-series-graph>
              </div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let element; columns: displayedColumns" class="py-2"></mat-row>
  </mat-table>
  <mat-paginator
    data-cy="search-entry-table-paginator"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 50, 100]"
    (page)="updatePageSizeAndIndex($event)"
  ></mat-paginator>
</div>
