<app-header>
  <img src="../assets/images/dockstore/dockstore-tools-blue.png">
  Search
</app-header>
<div class="container" style="padding-top:30px;" >
  <div class="row">
    <div class="col-md-3 containers-rsb">
      <accordion>
        <accordion-group heading="Search Description"  panelClass="containers-accordion" [isOpen]="true">
          <div>
            <input class="center-block" style="width: 90%; margin: 12px" #box (keyup)="onKey(box.value)">
          </div>
        </accordion-group>
        <accordion-group *ngFor="let key of buckets.keys()" panelClass="containers-accordion"
                         [heading]="friendlyNames.get(key)" [isOpen]="true">
          <div *ngFor='let subBucket of buckets.get(key).keys(); let i = index'>
            <div class="panel-container-label">
              <div *ngIf="i < 5">
                <div class="container-name-oflw pull-left">
                  <span><input type="checkbox" [checked]="checkboxMap.get(key).get(subBucket)"
                               (change)="onClick(key,subBucket)"/> {{ mapFriendlyValueNames(key,subBucket) }}</span>

                </div>
                <div class="pull-right">
                  <p>({{ buckets.get(key).get(subBucket) }})</p>
                </div>
              </div>
              <div *ngIf="i >= 5 && fullyExpandMap.get(key)">
                <div class="container-name-oflw pull-left">
                  <span><input type="checkbox" (change)="onClick(key,subBucket)"/> {{ subBucket }}</span>
                </div>
                <div class="pull-right">
                  <p>({{ buckets.get(key).get(subBucket) }})</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-container-label" *ngIf="buckets.get(key).size > 5">
            <span style="cursor:pointer" class="pull-right" (click)="clickExpand(key)">
              <i [class]="fullyExpandMap.get(key) ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'" aria-hidden="true"></i>
              <a>
              {{ fullyExpandMap.get(key) ? 'Hide' : (buckets.get(key).size-5) + ' more'}}
              </a>
            </span>
          </div>
        </accordion-group>
      </accordion>
      <button style="margin-top: 12px; width: 100%" (click) = resetFilters() type="button" class="btn btn-primary btn-sm center-block">
        Reset Filters
      </button>
    </div>
    <div class="col-md-9 containers-rsb">
      <div class="hits">
        <div *ngIf="filters.size > 0" class="alert alert-info">
          <strong>Search Filter: </strong>
          <span *ngFor="let key of filters.keys(); let i = index">
            the <strong>{{friendlyNames.get(key)}}</strong> is
          <span *ngFor='let subBucket of filters.get(key); let j = index'>
            <strong>{{mapFriendlyValueNames(key, subBucket)}}</strong>
            <span *ngIf="j < filters.get(key).size - 1">
              OR
            </span>
          </span>
          <span *ngIf="i < filters.size - 1">
            AND
          </span>
        </span>
        </div>
          <tabset class="homeComponent" type="tabs">
            <tab id="toolTab" [customClass]="browseToolsTab">
              <ng-template tabHeading>
                <img class="site-icons-tab" src="assets/images/dockstore/dockstore-tools-blue.png">
                Browse Tools
              </ng-template>
              <p>A tool is a docker container with an associated descriptor describing how to run it.</p>
              <app-listentry [entryType]="'tool'"></app-listentry>
            </tab>
            <tab id="workflowTab" [customClass]="browseWorkflowsTab">
              <ng-template tabHeading>
                <img class="site-icons-tab" src="assets/images/dockstore/dockstore-workflows-green.png">
                Browse Workflows
              </ng-template>
              <p> A workflow is a series of tools strung together, with an associated descriptor describing how to run it.</p>
              <app-listentry [entryType]="'workflow'"></app-listentry>
            </tab>
          </tabset>
      </div>
    </div>
  </div>
</div>
