<div class="upper">
  <div class="container">
    <div class="row containImages">
      <div class="col-md-6 info">
        <h1>Create, Share, Use</h1>
      </div>
      <div class="col-md-3">
        <img id="ship" src="../assets/images/dockstore/ship.png">
      </div>
      <div class="col-md-3">
        <img id="truck" src="../assets/images/dockstore/truck.png">
      </div>
    </div>
  </div>
</div>

<div class="lower">
  <div class="container">
    <img id="rectangle" src="../assets/images/dockstore/rectangle.png">
    <div class="row lower">
      <div class="col-md-6">
        <h4>
          Dockstore, developed by the <a class="white-link" href="https://www.cancercollaboratory.org/" target="_blank">Cancer
          Genome Collaboratory</a>, is an open platform for sharing Docker-based tools described with the <a
          class="white-link" href="http://www.commonwl.org/" target="_blank">Common Workflow Language</a> used by the <a
          class="white-link" href="https://genomicsandhealth.org/" target="_blank">GA4GH</a>.
        </h4>
      </div>
      <div class="col-md-3 center">
        <a class='btn youtube' href="https://www.youtube.com/embed/RYHUX9jGx24" role="button">
          <span class="glyphicon glyphicon-play-circle"></span>
          <span>&nbsp;Video Overview</span>
        </a>
      </div>
      <div class="col-md-3 center">
        <div class="button">
          <p><a routerLink="login">Sign up to Contribute &raquo;</a></p>
        </div>
        <div class="button">
          <p><a routerLink="docs/blog">News and Events &raquo;</a></p>
        </div>
        <div class="button">
          <p><a routerLink="docs/getting-started">Get Started &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-tabs>
  <app-tab title="Browse Tools" img="../assets/images/dockstore/dockstore-tools-blue.png">
    <div class="container separation">
      A tool is a docker container with an associated descriptor describing how to run it.
    </div>
    <app-containers></app-containers>
  </app-tab>
  <app-tab title="Browse Workflows" img="../assets/images/dockstore/dockstore-workflows-green.png">
    <div class="container separation">
      A workflow is a series of tools strung together, with an associated descriptor describing how to run it.
    </div>
    <app-workflows></app-workflows>
  </app-tab>
</app-tabs>

<app-home-foot-note></app-home-foot-note>
