/* Video Button */
.youtube, .youtube:active, .youtube:focus {
  float: none;
  margin-top: 30px;
  margin-bottom: 30px;
  background: none;
  text-transform: uppercase;
  padding: 8px 22px;

  border: 2px solid #a0adcc;
  color: #a0adcc;
}

.youtube:hover {
  border: 2px solid white;
  color: white;
}

span {
  vertical-align: middle;
}

.glyphicon {
  font-size:25px;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Text */
/*h1 {
  font-size: 56px;
  color: white;
  font-weight: normal;
  padding-top: 50px;
  line-height: 56px;
}

h4 {
  font-size: 20px;
  color: #a0adcc;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}*/

/* Images */
/*#rectangle {
  position: absolute;
  right: 0px;
}

#ship, #truck {
  position: absolute;
  bottom: -300px;
}*/

/*#truck {
  padding-left: 45px;
}*/

/*@media (max-width: 992px) {
  #ship, #truck {
    bottom: 0;
    right: 22%;
  }

  #truck {
    padding-left: 0;
        right: 2%;
  }
}*/

/* Green Buttons */
/*.green {
  width: 250px;
}*/

/* General */
/*.center {
  text-align: center;
}

.container-fluid {
  background-color: #21335B;
}

.upper {
  background-color: #21335B;
  position: relative;
}

.lower {
  min-height: 144px;
  background-color: #2a3e6b;
  height: 100%;
}

.row.lower {
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  height: 300px;
}*/
