@if (!hasGoogleAccount) {
<div>
  <p>
    You need to link your account with Google in order to share this workflow. Please go to the accounts page to link your account with
    Google.
  </p>
  <p>
    During the limited beta of sharing functionality, your Google account must also be registered with
    <a [href]="terraUrl" target="_blank" rel="noopener">Terra</a>.
  </p>
  <p>Any emails that you share the workflow with must also be registered with Terra.</p>
</div>
} @if (hasGoogleAccount) {
<div>
  @if (!canViewPermissions) {
  <div>
    <p>
      During the limited beta of sharing functionality, your Google account must also be registered with
      <a [href]="terraUrl" target="_blank" rel="noopener">Terra</a>.
    </p>
    <p>
      If your Google account is already registered with Terra, your refresh token may be expired. Please relink your Google account via the
      Accounts page.
    </p>
  </div>
  } @if (canViewPermissions) {
  <div style="font-style: italic; font-size: smaller; line-height: 1.5">
    Workflows can only be shared with users and user groups who are registered with <a [href]="terraUrl">Terra</a>.
  </div>
  } @if (updating) {
  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
  } @if (canViewPermissions) {
  <ul class="list-unstyled container-info" fxLayout="column" fxLayoutGap="1rem">
    <li>
      <mat-form-field class="w-100">
        <mat-chip-grid #ownerlist>
          @for (owner of owners; track owner) {
          <mat-chip-row (removed)="remove(owner, Role.OWNER)" [removable]="owners.length > 1">
            {{ owner }}
            @if (owners.length > 1) {
            <mat-icon matChipRemove>cancel</mat-icon>
            }
          </mat-chip-row>
          }
          <input
            placeholder="Owners"
            [matChipInputFor]="ownerlist"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, Role.OWNER)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="w-100">
        <mat-chip-grid #writerlist>
          @for (writer of writers; track writer) {
          <mat-chip-row (removed)="remove(writer, Role.WRITER)" [removable]="true">
            {{ writer }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
          }
          <input
            placeholder="Writers"
            [matChipInputFor]="writerlist"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, Role.WRITER)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="w-100">
        <mat-chip-grid #readerlist>
          @for (reader of readers; track reader) {
          <mat-chip-row (removed)="remove(reader, Role.READER)" [removable]="true">
            {{ reader }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
          }
          <input
            placeholder="Readers"
            [matChipInputFor]="readerlist"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, Role.READER)"
          />
        </mat-chip-grid>
      </mat-form-field>
    </li>
  </ul>
  }
</div>
}
