<div *ngFor="let notification of allNotifications$ | async">
  <div class="container text-center notification-bar {{ notification.priority?.toLowerCase() }}">
    <div *ngIf="notification.type == 'SITEWIDE'">
      <div class="container-fluid text-center" fxLayoutAlign="center center" data-cy="notification-banner">
        <div class="notification-display">
          <markdown class="markdown-remove-pmargin" [data]="notification.message"></markdown>
        </div>
        <button mat-button data-dismiss="alert" (click)="respondClick(notification)" data-cy="dismiss-notification">
          <mat-icon> clear </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
