.notification-bar {
  background-color: #3b4045;
  width: 100%;
}

.low {
  background-color: #3b4045;
  color: white;
}

.medium {
  background-color: #ffff4d;
  color: black;
}

.critical {
  background-color: #bd0f0f;
  color: white;
}

.mat-icon {
  font-size: 18px;
}
