manifest {
    author = 'YOUR_NAME_HERE'
    description = 'This is sample NextFlow code. For more information, see "Getting Started with NextFlow" in the Dockstore Docs.'
}

params {
    bam_input = 'NA12878.chrom20.ILLUMINA.bwa.CEU.low_coverage.20121211.bam'
    mem_gb = '4'
}

process.container = 'quay.io/collaboratory/dockstore-tool-bamstats:1.25-6_1.0'
docker {
    enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
}
