// Style for organization card.
// The card size is unique compared to other cards (linked accounts) because <to be filled>
.org-style {
  height: 340px;
}

// Used as a placeholder when there is no logo for the organization.
// The height is different than the default mat-card-avatar and account's page logo height because <to be filled>
.logo-height {
  height: 50px;
}

// Adds padding to all tab content. May consider adding this to styles.scss but it'll affect a lot of things.
:host ::ng-deep .mat-mdc-tab-body-content {
  padding-top: 1rem;
}
