<!-- This starred page has no complex state and is easy to navigate back to so it should not open internal links in new tabs -->
<app-header>
  <mat-icon>star</mat-icon>
  My Starred
</app-header>
<div class="container" *ngIf="starGazersClicked">
  <app-stargazers></app-stargazers>
  <button id="backButton" mat-flat-button color="primary" type="button" (click)="starGazersClicked = false">
    <mat-icon>chevron_left</mat-icon>Back to details
  </button>
</div>

<div class="container" *ngIf="organizationStarGazersClicked">
  <app-organization-stargazers></app-organization-stargazers>
  <button id="backButton" mat-flat-button color="primary" type="button" (click)="organizationStarGazersClicked = false">
    <mat-icon>chevron_left</mat-icon>Back to details
  </button>
</div>

<mat-tab-group
  mat-stretch-tabs
  class="container"
  *ngIf="!starGazersClicked && !organizationStarGazersClicked"
  [selectedIndex]="selected.value"
  (selectedTabChange)="onTabChange($event)"
  [ngClass]="{
    'workflow-tab-group': selected.value === 0,
    'tool-tab-group': selected.value === 1,
    'service-tab-group': selected.value === 2,
    'purple-tab-group': selected.value === 3
  }"
>
  <mat-tab *ngIf="starredWorkflows">
    <ng-template mat-tab-label>
      <div fxLayoutGap="0.5rem">
        <img class="site-icons-tab" src="../../../assets/svg/sub-nav/workflow.svg" alt="workflow logo" />
        <span>Workflows</span>
        <span class="tab-display">{{ starredWorkflows?.length }}</span>
      </div>
    </ng-template>
    <mat-card class="alert alert-info starred-header" role="alert" *ngIf="starredWorkflows?.length === 0">
      <mat-icon>warning</mat-icon>
      You have no starred workflows.
    </mat-card>
    <div fxLayout="column" fxLayoutGap="1rem" class="mb-2 mx-1">
      <mat-card fxFlex *ngFor="let workflow of starredWorkflows; let last = last" class="mat-elevation-z4 pb-3">
        <ng-container *ngTemplateOutlet="workflowSummary; context: { workflow: workflow }"></ng-container>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab *ngIf="starredTools">
    <ng-template mat-tab-label>
      <div fxLayoutGap="0.5rem">
        <img src="../../../assets/svg/sub-nav/tool.svg" alt="tool logo" />
        <span>Tools</span>
        <span class="tab-display">{{ starredTools?.length }}</span>
      </div>
    </ng-template>
    <div>
      <mat-card class="alert alert-info starred-header" role="alert" *ngIf="starredTools?.length === 0">
        <mat-icon>warning</mat-icon>
        You have no starred tools.
      </mat-card>
      <div fxLayout="column" fxLayoutGap="1rem" class="mb-2 mx-1">
        <mat-card fxFlex *ngFor="let tool of starredTools; let last = last" class="m-1 mat-elevation-z4 pb-3">
          <ng-container *ngTemplateOutlet="toolSummary; context: { tool: tool }"></ng-container>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <ng-template #workflowSummary let-workflow="workflow">
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between">
      <a routerLink="/workflows/{{ workflow.full_workflow_path }}" class="no-underline">
        <mat-card-header>
          <mat-card-title fxLayoutAlign="space-between" fxLayoutGap="1rem">
            <img src="../../../assets/svg/sub-nav/workflow.svg" alt="workflow logo" />
            <h4>
              {{ workflow?.organization + '/' + workflow?.repository + (workflow?.workflowName ? '/' + workflow?.workflowName : '') }}
            </h4>
          </mat-card-title>
        </mat-card-header>
      </a>
      <app-starring class="pull-right" [workflow]="workflow" (starGazersChange)="starGazersChange()"></app-starring>
    </div>
    <mat-card-header>
      <div *ngIf="workflow?.starredUsers.length !== 0" fxLayout="row" fxLayoutAlign="end center"></div>
      <mat-card-subtitle class="truncate-text-1">{{ workflow?.description }}</mat-card-subtitle>
    </mat-card-header>
    <div>
      <hr />
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="1rem">
          <small class="spacing">Last updated {{ workflow?.lastUpdated | date }}</small>
          <div fxLayout="row wrap" fxLayoutGap="1rem">
            <span>
              <mat-chip-list>
                <mat-chip class="bubble workflow-background" *ngFor="let label of workflow?.labels | slice: 0:3">{{
                  label.value
                }}</mat-chip>
                <mat-chip class="bubble" *ngIf="workflow.versionVerified === true">
                  <span class="verified-check" fxLayoutGap="0.5rem" fxLayoutAlign=" center">
                    <mat-icon class="verified-icon">done</mat-icon>
                    <span>Verified</span>
                  </span>
                </mat-chip>
                <mat-chip class="bubble">
                  {{ workflow?.descriptorType | uppercase }}
                </mat-chip>
                <mat-chip class="bubble" *ngIf="workflow.versionVerified === true">
                  <span class="verified-check" fxLayoutGap="0.5rem" fxLayoutAlign=" center">
                    <mat-icon class="verified-icon">done</mat-icon>
                    <span>Verified</span>
                  </span>
                </mat-chip>
              </mat-chip-list>
            </span>
          </div>
        </div>
        <a routerLink="/workflows/{{ workflow.full_workflow_path }}" class="no-underline">
          <button mat-raised-button class="small-mat-btn-skin small-btn-structure" color="accent">View</button>
        </a>
      </div>
    </div>
  </ng-template>

  <ng-template #toolSummary let-tool="tool">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <a routerLink="/containers/{{ tool.tool_path }}" class="no-underline">
        <mat-card-header>
          <mat-card-title fxLayoutAlign="flex-start" fxLayoutGap="1rem">
            <img src="../../../assets/svg/sub-nav/tool.svg" alt="tool logo" />
            <h4>{{ tool?.namespace + '/' + tool?.name + (tool?.toolname ? '/' + tool?.toolname : '') }}</h4>
          </mat-card-title>
          <div *ngIf="tool?.starredUsers.length !== 0" fxLayout="row" fxLayoutAlign="end center"></div>
        </mat-card-header>
      </a>
      <app-starring class="pull-right" [tool]="tool" (starGazersChange)="starGazersChange()"></app-starring>
    </div>
    <div>
      <hr />
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxLayout="row" fxLayoutAlign="flex-start" fxLayoutGap="1rem">
          <small class="spacing">Last updated {{ tool?.lastUpdated | date }}</small>
          <mat-chip-list>
            <mat-chip class="bubble container-background" *ngFor="let label of tool?.labels | slice: 0:3">{{ label.value }}</mat-chip>
            <mat-chip *ngIf="tool?.versionVerified" matTooltip="Verified" class="bubble">
              <a class="verified-check" fxLayoutGap="0.5rem" fxLayoutAlign=" center">
                <mat-icon class="verified-icon">done</mat-icon>
                <span>Verified</span>
              </a>
            </mat-chip>
            <mat-chip class="bubble" *ngFor="let descriptortype of tool?.descriptorType">
              {{ descriptortype }}
            </mat-chip>
          </mat-chip-list>
        </div>
        <a routerLink="/containers/{{ tool.tool_path }}" class="no-underline">
          <button mat-raised-button class="small-mat-btn-skin small-btn-structure" color="accent">View</button>
        </a>
      </div>
    </div>
  </ng-template>
  <!-- Services not done -->
  <mat-tab *ngIf="starredServices">
    <ng-template mat-tab-label>
      <div fxLayoutGap="0.5rem">
        <img class="site-icons-tab" src="../../../assets/svg/sub-nav/services.svg" alt="service logo" />
        <span>Services</span>
        <span class="tab-display">0</span>
      </div>
    </ng-template>
    <mat-card class="alert alert-info starred-header" role="alert">
      <mat-icon>warning</mat-icon>
      You have no starred services.
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="starredOrganizations">
    <ng-template mat-tab-label>
      <div fxLayoutGap="0.5rem">
        <img src="../../../assets/svg/sub-nav/organization.svg" alt="organization logo" />
        <span>Organizations</span>
        <span class="tab-display">{{ starredOrganizations?.length }}</span>
      </div>
    </ng-template>
    <mat-card class="alert alert-info starred-header" role="alert" *ngIf="starredOrganizations?.length === 0">
      <mat-icon>warning</mat-icon>
      You have no starred organizations.
    </mat-card>
    <div *ngIf="starredOrganizations?.length > 0">
      <div fxLayoutAlign="start" fxLayout="row wrap" fxLayoutGap="1rem grid" class="mb-2 mx-1">
        <div *ngFor="let org of starredOrganizations; let last = last" fxFlex="33.3" fxFlex.lt-lg="500" fxFlex.lt-md="100">
          <mat-card class="org-style mat-elevation-z3 pb-3">
            <div class="h-100" fxLayout="column" fxLayoutAlign="space-between stretch">
              <div fxLayout="column" fxLayoutGap="1rem">
                <div fxLayout="row wrap" fxLayoutAlign="space-between start">
                  <a routerLink="/organizations/{{ org.name }}" class="no-underline">
                    <img
                      *ngIf="org.avatarUrl; else placeholder"
                      class="small-org-logo"
                      [src]="org.avatarUrl | gravatar"
                      alt="org logo"
                      [appFallback]="orgLogoService.DEFAULT_URL"
                    />
                    <ng-template #placeholder><span class="logo-height"></span></ng-template>
                  </a>
                  <app-organization-starring
                    [organization]="org"
                    (stargazersChange)="organizationStarGazersChange()"
                  ></app-organization-starring>
                </div>
                <div data-cy="orgName">
                  <a routerLink="/organizations/{{ org.name }}" class="no-underline">
                    <h5 class="text-break">{{ org.displayName }}</h5>
                    <span class="truncate-text-3">{{ org.topic }}</span>
                  </a>
                </div>
                <div>
                  <div fxLayout="column" fxLayoutAlign="space-between start" class="info">
                    <span fxLayout="row" *ngIf="org?.link">
                      <mat-icon class="info-icon">link</mat-icon>
                      <span class="truncate-text-1"
                        ><a [href]="org.link" target="_blank" rel="noopener noreferrer">{{ org.link }}</a></span
                      >
                    </span>
                    <span fxLayout="row" *ngIf="org?.location">
                      <mat-icon class="info-icon">location_on</mat-icon>
                      <span class="truncate-text-1">{{ org.location }}</span>
                    </span>
                    <span fxLayout="row" *ngIf="org?.email">
                      <mat-icon class="info-icon">email</mat-icon>
                      <span class="truncate-text-1"
                        ><a [href]="'mailto:' + org.email" target="_top">{{ org.email }}</a></span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div>
                <hr class="mb-4" />
                <a routerLink="/organizations/{{ org.name }}" class="no-underline">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="bubble">
                      {{ org.collectionsLength }}
                      <span *ngIf="org.collectionsLength !== 1; else oneCollection"> Collections</span>
                      <ng-template #oneCollection> Collection</ng-template>
                    </span>
                    <button mat-raised-button color="accent">View</button>
                  </div>
                </a>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
