<mat-card
  appearance="outlined"
  *ngFor="let notification of activeNotifications$ | async"
  class="alert alert-info mat-elevation-z mx-4 mt-4 mb-1"
  data-cy="news-notifications-container"
>
  <div fxLayout fxLayoutAlign="space-between center" class="pl-3" data-cy="news-notifications-item">
    <app-markdown-wrapper [data]="notification.message"></app-markdown-wrapper>
    <button mat-button mat-icon-button data-dismiss="alert" (click)="dismissNotification(notification)" data-cy="dismiss-notification">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</mat-card>
