<mat-card
  appearance="outlined"
  *ngFor="let notification of activeNotifications$ | async"
  class="alert alert-info mx-4 mt-4 mb-1"
  data-cy="news-notifications-container"
>
  <mat-card-content fxLayout fxLayoutAlign="space-between center" data-cy="news-notifications-item">
    <app-markdown-wrapper [data]="notification.message"></app-markdown-wrapper>
    <button mat-icon-button data-dismiss="alert" (click)="dismissNotification(notification)" data-cy="dismiss-notification">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
