<mat-card
  *ngIf="(activeNotifications$ | async)?.length > 0"
  class="alert alert-info mat-elevation-z mx-4 mt-4 mb-1"
  data-cy="notification-updates-container"
>
  <div
    *ngFor="let notification of activeNotifications$ | async"
    fxLayout
    fxLayoutAlign="space-between center"
    class="pl-3"
    data-cy="notification-updates-item"
  >
    <markdown class="markdown-remove-pmargin" [data]="notification.message"></markdown>
    <button mat-button mat-icon-button data-dismiss="alert" (click)="dismissNotification(notification)" data-cy="dismiss-notification">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</mat-card>
